<section id="syllabi">
  <span class="section" id="star-sillabi">
    <h3>Star and Leader Awards</h3>
    <div class="list-group">
      <%= link_to "Paddlesport Start Syllabus", s3_url( 'downloads/Paddlesport-Start-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Paddlesport Start Training and Assessment Notes", s3_url( 'downloads/Paddlesport-Start-Training-and-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "1 Star Assessment Notes", s3_url( 'downloads/1-Star-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "1 Star Syllabus", s3_url( 'downloads/1-Star-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "1 Star Training Notes", s3_url( 'downloads/1-Star-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "2 Star Assessment Notes", s3_url( 'downloads/2-Star-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "2 Star Syllabus", s3_url( 'downloads/2-Star-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "2 Star Training Notes", s3_url( 'downloads/2-Star-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "3 Star Freestyle Assessment Notes", s3_url( 'downloads/3-Star-Freestyle-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "3 Star Freestyle Canoe Syllabus", s3_url( 'downloads/3-Star-Freestyle-Canoe-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "3 Star Freestyle Kayak Syllabus", s3_url( 'downloads/3-Star-Freestyle-Kayak-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "3 Star Freestyle Training Notes", s3_url( 'downloads/3-Star-Freestyle-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "3 Star Open Canoe Assessment Notes", s3_url( 'downloads/3-Star-Open-Canoe-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "3 Star Open Canoe Syllabus", s3_url( 'downloads/3-Star-Open-Canoe-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "3 Star Open Canoe Training Notes", s3_url( 'downloads/3-Star-Open-Canoe-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "3 Star Sea Assessment Notes", s3_url( 'downloads/3-Star-Sea-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "3 Star Sea Kayak Syllabus", s3_url( 'downloads/3-Star-Sea-Kayak-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "3 Star Sea Sit on Top Syllabus", s3_url( 'downloads/3-Star-Sea-Sit-on-Top-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "3 Star Sea Training Notes", s3_url( 'downloads/3-Star-Sea-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "3 Star Surf Assessment Notes", s3_url( 'downloads/3-Star-Surf-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "3 Star Surf Syllabus", s3_url( 'downloads/3-Star-Surf-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "3 Star Surf Training Notes", s3_url( 'downloads/3-Star-Surf-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "3 Star Touring Canoe Assessment Notes", s3_url( 'downloads/3-Star-Touring-Canoe-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "3 Star Touring Canoe Syllabus", s3_url( 'downloads/3-Star-Touring-Canoe-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "3 Star Touring Canoe Training Notes", s3_url( 'downloads/3-Star-Touring-Canoe-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "3 Star Touring Kayak Assessment Notes", s3_url( 'downloads/3-Star-Touring-Kayak-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "3 Star Touring Kayak Syllabus", s3_url( 'downloads/3-Star-Touring-Kayak-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "3 Star Touring Kayak Training Notes", s3_url( 'downloads/3-Star-Touring-Kayak-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "3 Star White Water Kayak Assessment Notes", s3_url( 'downloads/3-Star-White-Water-Kayak-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "3 Star White Water Kayak Syllabus", s3_url( 'downloads/3-Star-White-Water-Kayak-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "3 Star White Water Kayak Training Notes", s3_url( 'downloads/3-Star-White-Water-Kayak-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "3 Star White Water OC1 Assessment Notes", s3_url( 'downloads/3-Star-White-Water-OC1-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "3 Star White Water OC1 Syllabus", s3_url( 'downloads/3-Star-White-Water-OC1-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "3 Star White Water OC1 Training Notes", s3_url( 'downloads/3-Star-White-Water-OC1-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "4 Star Freestyle Canoe Leader Syllabus", s3_url( 'downloads/4-Star-Freestyle-Canoe-Leader-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "4 Star Freestyle Kayak Leader Syllabus", s3_url( 'downloads/4-Star-Freestyle-Kayak-Leader-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "4 Star Freestyle Leader Assessment Notes", s3_url( 'downloads/4-Star-Freestyle-Leader-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "4 Star Freestyle Leader Training Notes", s3_url( 'downloads/4-Star-Freestyle-Leader-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "4 Star Open Canoe Leader Assessment Notes", s3_url( 'downloads/4-Star-Open-Canoe-Leader-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "4 Star Open Canoe Leader Syllabus", s3_url( 'downloads/4-Star-Open-Canoe-Leader-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "4 Star Open Canoe Leader Training Notes", s3_url( 'downloads/4-Star-Open-Canoe-Leader-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "4 Star Sea Kayak Leader Assessment Notes", s3_url( 'downloads/4-Star-Sea-Kayak-Leader-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "4 Star Sea Kayak Leader Syllabus", s3_url( 'downloads/4-Star-Sea-Kayak-Leader-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "4 Star Sea Kayak Leader Training Notes", s3_url( 'downloads/4-Star-Sea-Kayak-Leader-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "4 Star Surf Leader Assessment Notes", s3_url( 'downloads/4-Star-Surf-Leader-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "4 Star Surf Leader Syllabus", s3_url( 'downloads/4-Star-Surf-Leader-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "4 Star Surf Leader Training Notes", s3_url( 'downloads/4-Star-Surf-Leader-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "4 Star Touring Leader Assessment Notes", s3_url( 'downloads/4-Star-Touring-Leader-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "4 Star Touring Leader Syllabus", s3_url( 'downloads/4-Star-Touring-Leader-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "4 Star Touring Leader Training Notes", s3_url( 'downloads/4-Star-Touring-Leader-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "4 Star White Water Kayak Leader Assessment Notes", s3_url( 'downloads/4-Star-White-Water-Kayak-Leader-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "4 Star White Water Kayak Leader Syllabus", s3_url( 'downloads/4-Star-White-Water-Kayak-Leader-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "4 Star White Water Kayak Leader Training Notes", s3_url( 'downloads/4-Star-White-Water-Kayak-Leader-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "4 Star White Water OC1 Leader Assessment Notes", s3_url( 'downloads/4-Star-White-Water-OC1-Leader-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "4 Star White Water OC1 Leader Syllabus", s3_url( 'downloads/4-Star-White-Water-OC1-Leader-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "4 Star White Water OC1 Leader Training Notes", s3_url( 'downloads/4-Star-White-Water-OC1-Leader-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "5 Star Open Canoe Leader Assessment Notes", s3_url( 'downloads/5-Star-Open-Canoe-Leader-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "5 Star Open Canoe Leader Syllabus", s3_url( 'downloads/5-Star-Open-Canoe-Leader-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "5 Star Open Canoe Leader Training Notes", s3_url( 'downloads/5-Star-Open-Canoe-Leader-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "5 Star Sea Kayak Leader Assessment Notes", s3_url( 'downloads/5-Star-Sea-Kayak-Leader-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "5 Star Sea Kayak Leader Syllabus", s3_url( 'downloads/5-Star-Sea-Kayak-Leader-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "5 Star Sea Kayak Leader Training Notes", s3_url( 'downloads/5-Star-Sea-Kayak-Leader-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "5 Star Surf Leader Assessment Notes", s3_url( 'downloads/5-Star-Surf-Leader-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "5 Star Surf Leader Syllabus", s3_url( 'downloads/5-Star-Surf-Leader-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "5 Star Surf Leader Training Notes", s3_url( 'downloads/5-Star-Surf-Leader-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "5 Star White Water Kayak Leader Assessment Notes", s3_url( 'downloads/5-Star-White-Water-Kayak-Leader-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "5 Star White Water Kayak Leader Syllabus", s3_url( 'downloads/5-Star-White-Water-Kayak-Leader-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "5 Star White Water Kayak Leader Training Notes", s3_url( 'downloads/5-Star-White-Water-Kayak-Leader-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "5 Star White Water OC1 Leader Assessment Notes", s3_url( 'downloads/5-Star-White-Water-OC1-Leader-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "5 Star White Water OC1 Leader Syllabus", s3_url( 'downloads/5-Star-White-Water-OC1-Leader-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "5 Star White Water OC1 Leader Training Notes", s3_url( 'downloads/5-Star-White-Water-OC1-Leader-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
  </span>


  <span class="section" id="navigation-syllabi">
    <h3>Navigation</h3>
    <div class="list-group">
      <%= link_to "Coastal Navigation and Tidal Planning Syllabus", s3_url( 'downloads/Coastal-Navigation-and-Tidal-Planning-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Coastal Navigation and Tidal Planning Trainers Notes", s3_url( 'downloads/Coastal-Navigation-and-Tidal-Planning-Trainers-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Open Water Navigation and Tidal Planning Syllabus", s3_url( 'downloads/Open-Water-Navigation-and-Tidal-Planning-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Open Water Navigation and Tidal Planning Trainers Notes", s3_url( 'downloads/Open-Water-Navigation-and-Tidal-Planning-Trainers-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Alternative Qualifications for BCU Navigation and Tidal Planning Courses", s3_url( 'downloads/Alternative-Qualifications-for-BCU-Navigation-and-Tidal-Planning-Courses.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
  </span>


  <span class="section" id="safety-syllabi">
    <h3>Safety and Rescue</h3>
    <div class="list-group">
      <%= link_to "Foundation Safety and Rescue Training Course Notes", s3_url( 'downloads/Foundation-Safety-and-Rescue-Training-Course-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Foundation Safety and Rescue Training Syllabus", s3_url( 'downloads/Foundation-Safety-and-Rescue-Training-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "White Water Safety and Rescue Training Syllabus", s3_url( 'downloads/White-Water-Safety-and-Rescue-Training-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "White Water Safety and Rescue Training Course Notes", s3_url( 'downloads/White-Water-Safety-and-Rescue-Training-Course-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
  </span>


  <span class="section" id="sup-syllabi">
    <h3>Stand-up Paddleboard</h3>
    <div class="list-group">
      <%= link_to "Stand Up Paddleboard Discipline Support Module Syllabus", s3_url( 'downloads/Stand-Up-Paddleboard-Discipline-Support-Module-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Stand Up Paddleboard Discipline Support Module Summary", s3_url( 'downloads/Stand-Up-Paddleboard-Discipline-Support-Module-Summary.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
  </span>
</section>
<section id="coaching-info">
  <span class="section" id="coaching-information">
    <h3>Coaching</h3>
    <div class="list-group">
      <%= link_to "Coaching Qualifications Registration Guidance PNA", s3_url( 'downloads/Coaching-Qualifications-Registration-Guidance-PNA.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "Level 1 Assessment Guidance", s3_url( 'downloads/Level-1-Assessment-Guidance.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 1 Bank to Boat based Conversion Notes", s3_url( 'downloads/Level-1-Bank-to-Boat-based-Conversion-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 1 Course Guide", s3_url( 'downloads/Level-1-Course-Guide.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 1 Feedback and Review Forms (Word doc)", s3_url( 'downloads/Level-1-Feedback-and-Review-Forms-Word.docx'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 1 Feedback and Review Forms (PDF)", s3_url( 'downloads/Level-1-Feedback-and-Review-Forms.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 1 Session Planners and Review Forms (MS Word)", s3_url( 'downloads/Level-1-Session-Planners-and-Review-Forms-Word.docx'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 1 Session Planners and Review Forms (PDF)", s3_url( 'downloads/Level-1-Session-Planners-and-Review-Forms.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 1 Training Course Workbook (MS Word)", s3_url( 'downloads/Level-1-Training-Course-Workbook-Word.docx'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 1 Training Course Workbook (PDF)", s3_url( 'downloads/Level-1-Training-Course-Workbook.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 1 Unit Specification and Course Content", s3_url( 'downloads/Level-1-Unit-Specification-and-Course-Content.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "Level 2 Assessment Guidance", s3_url( 'downloads/Level-2-Assessment-Guidance.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 2 Candidate Portfolio Templates (MS Word)", s3_url( 'downloads/Level-2-Candidate-Portfolio-Templates-Word.docx'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 2 Course Guide", s3_url( 'downloads/Level-2-Course-Guide.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 2 Second Discipline Assessment Notes", s3_url( 'downloads/Level-2-Second-Discipline-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 2 Session Plan Review Form", s3_url( 'downloads/Level-2-Session-Plan-Review-Form.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 2 Unit Specification and Course Content", s3_url( 'downloads/Level-2-Unit-Specification-and-Course-Content.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 2 Workbook (MS Word)", s3_url( 'downloads/Level-2-Workbook.docx'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "Level 3 Course Guide Canoe Supplement", s3_url( 'downloads/Level-3-Course-Guide-Canoe-Supplement.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 3 Course Guide Marathon Supplement", s3_url( 'downloads/Level-3-Course-Guide-Marathon-Supplement.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 3 Course Guide Sea Supplement", s3_url( 'downloads/Level-3-Course-Guide-Sea-Supplement.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 3 Course Guide Slalom Supplement", s3_url( 'downloads/Level-3-Course-Guide-Slalom-Supplement.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 3 Course Guide Sprint Supplement", s3_url( 'downloads/Level-3-Course-Guide-Sprint-Supplement.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 3 Course Guide Surf Supplement", s3_url( 'downloads/Level-3-Course-Guide-Surf-Supplement.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 3 Course Guide Touring Supplement", s3_url( 'downloads/Level-3-Course-Guide-Touring-Supplement.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 3 Course Guide WW Kayak Supplement", s3_url( 'downloads/Level-3-Course-Guide-WW-Kayak-Supplement.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 3 Course Guide", s3_url( 'downloads/Level-3-Course-Guide.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 3 Registration Prerequsites", s3_url( 'downloads/Level-3-Registration-Prerequsites.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
  </span>

  <span class="section" id="coaching-registration">
    <h3>Coaching Registration Information</h3>

    <div class="list-group">
      <%= link_to "Coaching Registration (CR) Form", s3_url( 'downloads/CR-Form.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Central Registration Information", s3_url( 'downloads/central-registration-ukcc.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>

    <div class="list-group">
      <%= link_to "Coaching & Leadership Prerequisites", s3_url( 'downloads/coaching-leadership-registration-prerequisites.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 3 Registration Prerequisites", s3_url( 'downloads/l3-registration-prerequisites.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>

    <div class="list-group">
      <%= link_to "How to complete the L2 Assessment Portfolio", s3_url( 'downloads/l2-guide-to-completing-assessment-portfolio.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>

    <div class="list-group">
      <%= link_to "Coach Medical Declaration", s3_url( 'downloads/coach-medical-declaration-form-v1-0.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>

    <div class="list-group">
      <a class="list-group-item" href="http://www.canoe-england.org.uk/about/safeguarding-and-protecting-children-and-vulnerable-adults/" target="_blank">Child Protection &amp; CRB</a>
    </div>
  </span>

  <span class="section" id="coaching-endorsements">
    <h3>Endorsements</h3>
    <div class="list-group">
      <%= link_to "Advanced Water Endorsement Course Guide", s3_url( 'downloads/Advanced-Water-Endorsement-Course-Guide.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Advanced Water Endorsement Unit Specification", s3_url( 'downloads/Advanced-Water-Endorsement-Unit-Specification.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Moderate Water Endorsement Assessment Guidance", s3_url( 'downloads/Moderate-Water-Endorsement-Assessment-Guidance.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Moderate Water Endorsement Course Guide", s3_url( 'downloads/Moderate-Water-Endorsement-Course-Guide.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
  </span>


  <span class="section" id="foundation-modules">
    <h3>Foundation Modules</h3>
    <div class="list-group">
      <%= link_to "Foundation Modules Summary", s3_url( 'downloads/Foundation-Modules-Summary.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Foundation Module Administration", s3_url( 'downloads/Foundation-Module-Administration.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Coaching the Mind Foundation Module Summary", s3_url( 'downloads/Coaching-the-Mind-Foundation-Module-Summary.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Coaching Young Paddlers Foundation Module Summary", s3_url( 'downloads/Coaching-Young-Paddlers-Foundation-Module-Summary.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Fitness for Paddlesport Foundation Module Summary", s3_url( 'downloads/Fitness-for-Paddlesport-Foundation-Module-Summary.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Foundation Modules Mentoring for Paddlesport Coaches Summary", s3_url( 'downloads/Foundation-Modules-Mentoring-for-Paddlesport-Coaches-Summary.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Fundamental Paddlesport Skills Foundation Module Summary", s3_url( 'downloads/Fundamental-Paddlesport-Skills-Foundation-Module-Summary.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Fundamentals of Movement in Paddlesport Foundation Module Summary", s3_url( 'downloads/Fundamentals-of-Movement-in-Paddlesport-Foundation-Module-Summary.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Outdoor Education and Paddlesport Foundation Module Summary", s3_url( 'downloads/Outdoor-Education-and-Paddlesport-Foundation-Module-Summary.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Paddle Ability Foundation Module Summary", s3_url( 'downloads/Paddle-Ability-Foundation-Module-Summary.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Performance Planning for Paddlesport Coaches Foundation Module Summary", s3_url( 'downloads/Performance-Planning-for-Paddlesport-Coaches-Foundation-Module-Summary.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Strength and Conditioning Foundation Module Summary", s3_url( 'downloads/Strength-and-Conditioning-Foundation-Module-Summary.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Swimming Pools and Paddlesport Foundation Module Summary", s3_url( 'downloads/Swimming-Pools-and-Paddlesport-Foundation-Module-Summary.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
  </span>


  <span class="section" id="intermediate-modules">
    <h3>Intermediate Modules</h3>
    <div class="list-group">
      <%= link_to "Intermediate Module Summary", s3_url( 'downloads/Intermediate-Module-Summary.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Coaching the Mind Intermediate Module Summary", s3_url( 'downloads/Coaching-the-Mind-Intermediate-Module-Summary.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Optimising Fitness and Performance for Paddlesport Part 1 Intermediate Module Summary", s3_url( 'downloads/Optimising-Fitness-and-Performance-for-Paddlesport-Part-1-Intermediate-Module-Summary.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Optimising Fitness and Performance for Paddlesport Part 2 Intermediate Module Summary", s3_url( 'downloads/Optimising-Fitness-and-Performance-for-Paddlesport-Part-2-Intermediate-Module-Summary.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Paddle Ability Intermediate Module Summary", s3_url( 'downloads/Paddle-Ability-Intermediate-Module-Summary.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
  </span>


  <span class="section" id="remits-ratios">
    <h3>Remits &amp; Ratios</h3>
    <div class="list-group">
      <%= link_to "Course Staffing Ratios and Requirements", s3_url( 'downloads/Course-Staffing-Ratios-and-Requirements.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Staffing Levels & Ratios", s3_url( 'downloads/Staffing-Levels-&-Ratios.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
  </span>
</section>

<section id="leadership">
<h2>Star Leadership Information</h2>
<div class="list-group">
  <div class="list-group-item well">
    <p>In addition to signing up for a 4 or 5 Star Leader Assessment through a registered course provider, all candidates attending a British Canoeing 4 or 5 Star Leader Assessment are required to have preregistered with PNA using the Leadership Registration Form (LR Form). Candidates should allow three weeks to complete the preregistration process prior to the assessment. To preregister please complete the LR Form and return it to PNA, with the required fee. The LR Form will be returned to you by regular mail and must be presented to the assessor prior to your assessment. LR forms are valid for 12 months. If you are not successful, the LR Form will be returned to you, allowing you to assess again at a future date without paying another preregistration fee. <strong>Keep your LR Form in a safe place – it cannot be replaced if lost!</strong> Preregistration is required for both 4 and 5 Star Leader Assessment, and will be the start of the validation process of your qualification.</p>
  </div>
  <%= link_to "Leadership Registration Guidance Notes", s3_url( 'downloads/leadership-registration-guidance-notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
  <%= link_to "Leadership Registration (LR) Form", s3_url( 'downloads/lr-form.pdf'), :class => 'list-group-item', :target => '_blank' %>
  <%= link_to "Coaching & Leadership Prerequisites", s3_url( 'downloads/coaching-leadership-registration-prerequisites.pdf'), :class => 'list-group-item', :target => '_blank' %>
</div>
</section><!-- ./literature -->

<section id="apl">
<h2>Accredited Prior Learning</h2>
<div class="list-group">
  <div class="list-group-item well">
    <p>Paddlesports North America recognizes that many aspirant coaches, leaders and providers, and those wishing to transfer from other award systems or other countries, may bring relevant experiences and qualifications to their role from other sports, countries and learning opportunities, and offers an Accredited Prior Learning (APL) service.</p>
  </div>
  <%= link_to "Accredited Prior Learning Guidance Notes", s3_url( 'downloads/Accredited-Prior-Learning-Guidance-Notes-PNA.pdf'), :target => '_blank', :class => 'list-group-item' %>
  <%= link_to "Accredited Prior Learning Application Form (MS Word)", s3_url( 'downloads/Accredited-Prior-Learning-Application-Form-PNA-Word.docx' ), :target => '_blank', :class => 'list-group-item' %>
</div>
</section>

<section id="first-aid">
  <h2>First Aid Requirements</h2>
  <p>All active coaches have a responsibility to maintain a current First Aid award, to ensure they can look after paddlers in their care. Coaches sign a declaration, upon registration for our Coaching qualifications, accepting this responsibility. Holding a valid First Aid award is also part of the British Canoeing Coach Update Scheme. Coaches who meet these requirements are recognized by PNA and British Canoeing as being active and up-to-date.</p>
  <p>In order to meet these requirements all British Canoeing Coaches (except British Canoeing / UKCC Level 1) need a recognized First Aid certificate recorded on their Paddlesports North America membership record. All First Aid training needs to be delivered by a recognized provider and include within the syllabus general First Aid and CPR (Cardiopulmonary Resuscitation). For First Aid training courses not included on our recognized list, a copy of the syllabus will need to be submitted to Paddlesports North America for approval, along with details of the course length (actual contact time) and information about the training provider.</p>
  <p>There is often confusion around 4, 6, and 8 hour courses, with many people told these courses are 'one day'. Please ensure you access an appropriate length course. <strong>We check training contact time.</strong></p>
  <p><strong>Please Note:</strong> An up-to-date First Aid and CPR certificate must be provided to PNA every three years. First Aid and CPR certifications are accepted from a number of recognized providers in North America. If any First Aid certificates have been issued outside of the United States or Canada, please contact PNA.</p>
  <p>Any coach who has a First Aid qualification recorded on their membership record, will not need to provide new evidence until their current certificate expires, and we accept that some of these existing qualifications may be less than ideal.</p>
  <p>There are no First Aid and CPR certification requirements prior to taking a UKCC Level 1 Coach training, but a minimum 1 day of training contact is highly recommended prior to coaching independently following a UKCC Level 1 Coach award.</p>
  <p>A minimum 1 day of training contact is required for UKCC Level 2 Coach training.</p>
  <p>A minimum 2 days of training contact is required for 4 Star Leader training, 5 Star Leader training, Moderate Water Endorsement, Advanced Water Endorsement, and UKCC Level 3 Coach training.</p>
  <p><strong>We do not accept First Aid or CPR certifications from online programs.</strong></p>
  <p>First Aid and CPR certification are only accepted from the following organizations:</p>
  <div class="list-group">
    <a href="http://www.redcross.org" target="_blank" class="list-group-item">American Red Cross</a>
    <a href="http://www.heart.org" target="_blank" class="list-group-item">American Heart Association</a>
    <a href="http://www.abem.org" target="_blank" class="list-group-item">Board of Emergency Medicine</a>
    <a href="http://www.redcross.ca" target="_blank" class="list-group-item">Canadian Red Cross</a>
    <a href="http://www.hsi.com/medicfirstaid/programs/" target="_blank" class="list-group-item">Medic First Aid</a>
    <a href="http://www.nsc.org" target="_blank" class="list-group-item">National Safety Council</a>
    <a href="http://www.nsp.org" target="_blank" class="list-group-item">National Ski Patrol</a>
    <a href="http://www.nols.edu/wmi/" target="_blank" class="list-group-item">NOLS Wilderness Medical Institute</a>
    <a href="http://www.padi.org" target="_blank" class="list-group-item">Professional Association of Diving Instructors (PADI)</a>
    <a href="http://www.soloschools.com" target="_blank" class="list-group-item">SOLO</a>
    <a href="http://www.wildmed.com" target="_blank" class="list-group-item">Wilderness Medical Associates</a>
  </div>
</section><!-- ./first aid -->

<section id="statement-of-physical-competence">
<h2>Statement of Physical Competence</h2>
<p><strong>Candidates who sign an application form for a course leading to a British Canoeing qualification have agreed to the following:</strong></p>
<p><em>I understand that in law I have a &apos;duty of care&apos; to others, and this duty of care is enhanced with regard to my responsibility to those whom I teach because of the training and any qualification which I may receive.</em></p>
<p><em>I declare that to the best of my knowledge and belief I am physically fit, and do not have any *condition which may impair my ability to be responsible for the overall safety of canoeists in my charge.</em></p>
<p><em>I do not have *diabetes or *epilepsy, and understand that in the event of any change to my fitness to be responsible for the safety of others, I must declare the fact to the Director of Coaching of British Canoeing </em></p>
<p><strong>*</strong>The declaring of an impairment does not necessarily debar a person from holding a coaching qualification. British Canoeing does its utmost to ensure that only common sense conditions are placed on those who may not be able to fulfil all the requirements, both stated and implicit, for the holding of a coaching qualification. Please send sae to British Canoeing Office for a copy of the policy statement giving the terms of reference under which qualifications may be awarded or continue to be held.</p>
</section>

<section id="coach-paperwork">
<h2>Coach Paperwork &amp; Forms</h2>

<div class="list-group">
  <%= link_to "Paperwork Flow", s3_url( 'downloads/paperwork-flow.pdf'), :class => 'list-group-item', :target => '_blank' %>
</div>

<div class="list-group">
  <p class="list-group-item">Course Notification</p>
  <div class="list-group-item well">
    <p>Coaches can submit 1-5 Star programs, FSRT/Canoe Safety, Safety Programs, Paddlesport Start, Paddle Power programs, Cross Stream Challenge programs in addition to Coach Education programs. Only official British Canoeing training or assessments will be listed.</p>
    <p>All programs above 2 Star require Course Notification. This includes all safety and coach education programs.</p>
    <p>For Course Notification E-mail the following to <a href="mailto:<%= t('pna.contact.email') %>"><%= t('pna.contact.email') %></a>:</p>
    <ul>
      <li>Program Title</li>
      <li>Program Date</li>
      <li>Coach Name</li>
      <li>Provider Number</li>
      <li>If the program requires more than one coach include the name and provider number of second coach.</li>
      <li>Venue</li>
    </ul>
    <p>If you want the program listed on the calendar page also email <a href="mailto:<%= t('pna.contact.email') %>"><%= t('pna.contact.email') %></a> and include the following information:</p>
    <ul>
      <li>Center Name or Coach Name to be listed and the website to link to.</li>
      <li>State where program will be offered.</li>
    </ul>
  </div>
</div>

<div class="list-group">
  <%= link_to "Course Report", s3_url( 'downloads/course-report.pdf'), :class => 'list-group-item', :target => '_blank' %>
  <%= link_to "Program Fee Form", s3_url( 'downloads/program-fee-form.pdf'), :class => 'list-group-item', :target => '_blank' %>
  <%= link_to "Course Schedule", s3_url( 'downloads/course-schedule.pdf'), :class => 'list-group-item', :target => '_blank' %>
</div>

<div class="list-group">
  <%= link_to "British Canoeing Environment Definitions", s3_url( 'downloads/bcu-environmental-definitions.pdf'), :class => 'list-group-item', :target => '_blank' %>
  <!-- <a class="list-group-item" target="_blank" href="#">
    British Canoeing Safety Training Course Administration
  </a>
   -->
  <%= link_to "Star Award Guidance Notes", s3_url( 'downloads/star-award-guidance-notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
  <%= link_to "Star Award Trainer and Assesor Guide", s3_url( 'downloads/star-award-trainer-and-assessor-guide.pdf'), :class => 'list-group-item', :target => '_blank' %>
  <%= link_to "Staffing Requirements", s3_url( 'downloads/staffing-levels-&-ratios.pdf'), :class => 'list-group-item', :target => '_blank' %>
</div>

<div class="list-group">
  <%= link_to "UK and North American Course Provider Form", s3_url( 'downloads/na-provider-form.pdf'), :class => 'list-group-item', :target => '_blank' %>
</div>

<div class="list-group">
  <%= link_to "BCUAB Coach Educator Requirements", s3_url( 'downloads/bcuab-coach-educator-requirements-v2-2x.pdf'), :class => 'list-group-item', :target => '_blank' %>
  <%= link_to "Become a Training Provider", s3_url( 'downloads/become-a-training-provider.pdf'), :class => 'list-group-item', :target => '_blank' %>
  <%= link_to "Become a Whitewater Safety & Rescue Provider", s3_url( 'downloads/becoming-a-wwsr-provider.pdf'), :class => 'list-group-item', :target => '_blank' %>
  <%= link_to "Foundation Module Administration", s3_url( 'downloads/foundation-module-administration.pdf'), :class => 'list-group-item', :target => '_blank' %>
  <%= link_to "1-3 Star Crib Cards", s3_url( 'downloads/1-3-star-crib-cards.pdf'), :class => 'list-group-item', :target => '_blank' %>
  <%= link_to "Coach Log Book", s3_url( 'downloads/bcu-coaches-logbook.pdf'), :class => 'list-group-item', :target => '_blank' %>
  <%= link_to "British Canoeing Courses which Automatically Update a Coach", s3_url( 'downloads/courses-that-update-coaches.pdf'), :class => 'list-group-item', :target => '_blank' %>
  <%= link_to "Coach Self Assessment Form", s3_url( 'downloads/coach-self-assessment-form.pdf'), :class => 'list-group-item', :target => '_blank' %>
  <%= link_to "Injury Prevention Booklet", s3_url( 'downloads/injury-prevention.pdf'), :class => 'list-group-item', :target => '_blank' %>
  <%= link_to "The Canoeist and the Swimming Pool", s3_url( 'downloads/swimming-pool.pdf'), :class => 'list-group-item', :target => '_blank' %>
</div>

<div class="list-group">
  <%= link_to "AB Enquiries and Appeals Procedure", s3_url( 'downloads/ab-enquiries-and-appeals-procedures.pdf'), :class => 'list-group-item', :target => '_blank' %>
  <%= link_to "AB Equal Opportunities Policy", s3_url( 'downloads/ab-equal-opportunities-policy.pdf'), :class => 'list-group-item', :target => '_blank' %>
  <%= link_to "AB Malpractice Reporting Procedures", s3_url( 'downloads/ab-malpractice-reporting-procedures.pdf'), :class => 'list-group-item', :target => '_blank' %>
  <%= link_to "AB Reasonable Adjustments Policy", s3_url( 'downloads/ab-reasonable-adjustments-policy.pdf'), :class => 'list-group-item', :target => '_blank' %>
  <%= link_to "Special Considerations Policy", s3_url( 'downloads/ab-special-consideration-policy.pdf'), :class => 'list-group-item', :target => '_blank' %>
  <%= link_to "Appeals Procedure", s3_url( 'downloads/appeals-procedure.pdf'), :class => 'list-group-item', :target => '_blank' %>
</div>
