<section id="syllabi">
  <span class="section" id="star-sillabi">
    <h3>Star and Leader Awards</h3>
    <div class="list-group">
      <%= link_to "Paddlesport Start Syllabus", s3_url( 'downloads/Paddlesport-Start-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Paddlesport Start Training and Assessment Notes", s3_url( 'downloads/Paddlesport-Start-Training-and-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "1 Star Assessment Notes", s3_url( 'downloads/1-Star-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "1 Star Syllabus", s3_url( 'downloads/1-Star-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "1 Star Training Notes", s3_url( 'downloads/1-Star-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "2 Star Assessment Notes", s3_url( 'downloads/2-Star-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "2 Star Syllabus", s3_url( 'downloads/2-Star-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "2 Star Training Notes", s3_url( 'downloads/2-Star-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "3 Star Freestyle Assessment Notes", s3_url( 'downloads/3-Star-Freestyle-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "3 Star Freestyle Canoe Syllabus", s3_url( 'downloads/3-Star-Freestyle-Canoe-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "3 Star Freestyle Kayak Syllabus", s3_url( 'downloads/3-Star-Freestyle-Kayak-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "3 Star Freestyle Training Notes", s3_url( 'downloads/3-Star-Freestyle-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "3 Star Open Canoe Assessment Notes", s3_url( 'downloads/3-Star-Open-Canoe-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "3 Star Open Canoe Syllabus", s3_url( 'downloads/3-Star-Open-Canoe-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "3 Star Open Canoe Training Notes", s3_url( 'downloads/3-Star-Open-Canoe-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "3 Star Sea Assessment Notes", s3_url( 'downloads/3-Star-Sea-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "3 Star Sea Kayak Syllabus", s3_url( 'downloads/3-Star-Sea-Kayak-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "3 Star Sea Sit on Top Syllabus", s3_url( 'downloads/3-Star-Sea-Sit-on-Top-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "3 Star Sea Training Notes", s3_url( 'downloads/3-Star-Sea-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "3 Star Surf Assessment Notes", s3_url( 'downloads/3-Star-Surf-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "3 Star Surf Syllabus", s3_url( 'downloads/3-Star-Surf-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "3 Star Surf Training Notes", s3_url( 'downloads/3-Star-Surf-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "3 Star Touring Canoe Assessment Notes", s3_url( 'downloads/3-Star-Touring-Canoe-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "3 Star Touring Canoe Syllabus", s3_url( 'downloads/3-Star-Touring-Canoe-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "3 Star Touring Canoe Training Notes", s3_url( 'downloads/3-Star-Touring-Canoe-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "3 Star Touring Kayak Assessment Notes", s3_url( 'downloads/3-Star-Touring-Kayak-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "3 Star Touring Kayak Syllabus", s3_url( 'downloads/3-Star-Touring-Kayak-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "3 Star Touring Kayak Training Notes", s3_url( 'downloads/3-Star-Touring-Kayak-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "3 Star White Water Kayak Assessment Notes", s3_url( 'downloads/3-Star-White-Water-Kayak-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "3 Star White Water Kayak Syllabus", s3_url( 'downloads/3-Star-White-Water-Kayak-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "3 Star White Water Kayak Training Notes", s3_url( 'downloads/3-Star-White-Water-Kayak-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "3 Star White Water OC1 Assessment Notes", s3_url( 'downloads/3-Star-White-Water-OC1-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "3 Star White Water OC1 Syllabus", s3_url( 'downloads/3-Star-White-Water-OC1-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "3 Star White Water OC1 Training Notes", s3_url( 'downloads/3-Star-White-Water-OC1-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "4 Star Freestyle Canoe Leader Syllabus", s3_url( 'downloads/4-Star-Freestyle-Canoe-Leader-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "4 Star Freestyle Kayak Leader Syllabus", s3_url( 'downloads/4-Star-Freestyle-Kayak-Leader-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "4 Star Freestyle Leader Assessment Notes", s3_url( 'downloads/4-Star-Freestyle-Leader-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "4 Star Freestyle Leader Training Notes", s3_url( 'downloads/4-Star-Freestyle-Leader-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "4 Star Open Canoe Leader Assessment Notes", s3_url( 'downloads/4-Star-Open-Canoe-Leader-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "4 Star Open Canoe Leader Syllabus", s3_url( 'downloads/4-Star-Open-Canoe-Leader-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "4 Star Open Canoe Leader Training Notes", s3_url( 'downloads/4-Star-Open-Canoe-Leader-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "4 Star Sea Kayak Leader Assessment Notes", s3_url( 'downloads/4-Star-Sea-Kayak-Leader-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "4 Star Sea Kayak Leader Syllabus", s3_url( 'downloads/4-Star-Sea-Kayak-Leader-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "4 Star Sea Kayak Leader Training Notes", s3_url( 'downloads/4-Star-Sea-Kayak-Leader-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "4 Star Surf Leader Assessment Notes", s3_url( 'downloads/4-Star-Surf-Leader-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "4 Star Surf Leader Syllabus", s3_url( 'downloads/4-Star-Surf-Leader-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "4 Star Surf Leader Training Notes", s3_url( 'downloads/4-Star-Surf-Leader-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "4 Star Touring Leader Assessment Notes", s3_url( 'downloads/4-Star-Touring-Leader-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "4 Star Touring Leader Syllabus", s3_url( 'downloads/4-Star-Touring-Leader-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "4 Star Touring Leader Training Notes", s3_url( 'downloads/4-Star-Touring-Leader-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "4 Star White Water Kayak Leader Assessment Notes", s3_url( 'downloads/4-Star-White-Water-Kayak-Leader-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "4 Star White Water Kayak Leader Syllabus", s3_url( 'downloads/4-Star-White-Water-Kayak-Leader-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "4 Star White Water Kayak Leader Training Notes", s3_url( 'downloads/4-Star-White-Water-Kayak-Leader-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "4 Star White Water OC1 Leader Assessment Notes", s3_url( 'downloads/4-Star-White-Water-OC1-Leader-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "4 Star White Water OC1 Leader Syllabus", s3_url( 'downloads/4-Star-White-Water-OC1-Leader-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "4 Star White Water OC1 Leader Training Notes", s3_url( 'downloads/4-Star-White-Water-OC1-Leader-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "5 Star Open Canoe Leader Assessment Notes", s3_url( 'downloads/5-Star-Open-Canoe-Leader-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "5 Star Open Canoe Leader Syllabus", s3_url( 'downloads/5-Star-Open-Canoe-Leader-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "5 Star Open Canoe Leader Training Notes", s3_url( 'downloads/5-Star-Open-Canoe-Leader-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "5 Star Sea Kayak Leader Assessment Notes", s3_url( 'downloads/5-Star-Sea-Kayak-Leader-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "5 Star Sea Kayak Leader Syllabus", s3_url( 'downloads/5-Star-Sea-Kayak-Leader-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "5 Star Sea Kayak Leader Training Notes", s3_url( 'downloads/5-Star-Sea-Kayak-Leader-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "5 Star Surf Leader Assessment Notes", s3_url( 'downloads/5-Star-Surf-Leader-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "5 Star Surf Leader Syllabus", s3_url( 'downloads/5-Star-Surf-Leader-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "5 Star Surf Leader Training Notes", s3_url( 'downloads/5-Star-Surf-Leader-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "5 Star White Water Kayak Leader Assessment Notes", s3_url( 'downloads/5-Star-White-Water-Kayak-Leader-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "5 Star White Water Kayak Leader Syllabus", s3_url( 'downloads/5-Star-White-Water-Kayak-Leader-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "5 Star White Water Kayak Leader Training Notes", s3_url( 'downloads/5-Star-White-Water-Kayak-Leader-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "5 Star White Water OC1 Leader Assessment Notes", s3_url( 'downloads/5-Star-White-Water-OC1-Leader-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "5 Star White Water OC1 Leader Syllabus", s3_url( 'downloads/5-Star-White-Water-OC1-Leader-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "5 Star White Water OC1 Leader Training Notes", s3_url( 'downloads/5-Star-White-Water-OC1-Leader-Training-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
  </span>


  <span class="section" id="navigation-syllabi">
    <h3>Navigation</h3>
    <div class="list-group">
      <%= link_to "Coastal Navigation and Tidal Planning Syllabus", s3_url( 'downloads/Coastal-Navigation-and-Tidal-Planning-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Coastal Navigation and Tidal Planning Trainers Notes", s3_url( 'downloads/Coastal-Navigation-and-Tidal-Planning-Trainers-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Open Water Navigation and Tidal Planning Syllabus", s3_url( 'downloads/Open-Water-Navigation-and-Tidal-Planning-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Open Water Navigation and Tidal Planning Trainers Notes", s3_url( 'downloads/Open-Water-Navigation-and-Tidal-Planning-Trainers-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Alternative Qualifications for BCU Navigation and Tidal Planning Courses", s3_url( 'downloads/Alternative-Qualifications-for-BCU-Navigation-and-Tidal-Planning-Courses.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
  </span>


  <span class="section" id="safety-syllabi">
    <h3>Safety and Rescue</h3>
    <div class="list-group">
      <%= link_to "Foundation Safety and Rescue Training Course Notes", s3_url( 'downloads/Foundation-Safety-and-Rescue-Training-Course-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Foundation Safety and Rescue Training Syllabus", s3_url( 'downloads/Foundation-Safety-and-Rescue-Training-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "White Water Safety and Rescue Training Syllabus", s3_url( 'downloads/White-Water-Safety-and-Rescue-Training-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "White Water Safety and Rescue Training Course Notes", s3_url( 'downloads/White-Water-Safety-and-Rescue-Training-Course-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
  </span>


  <span class="section" id="sup-syllabi">
    <h3>Stand-up Paddleboard</h3>
    <div class="list-group">
      <%= link_to "Stand Up Paddleboard Discipline Support Module Syllabus", s3_url( 'downloads/Stand-Up-Paddleboard-Discipline-Support-Module-Syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Stand Up Paddleboard Discipline Support Module Summary", s3_url( 'downloads/Stand-Up-Paddleboard-Discipline-Support-Module-Summary.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
  </span>
</section>
<section id="coaching-info">
  <span class="section" id="coaching-information">
    <h3>Coaching</h3>
    <div class="list-group">
      <%= link_to "Candidate Registration Guidance", s3_url('downloads/Candidate-Registration-Guidance.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Coaching & Leadership Prerequisites", s3_url('downloads/coaching-leadership-registration-prerequisites.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Coaching Registration (CR) Form", s3_url('downloads/CR-Form.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Coach Medical Declaration", s3_url('downloads/coach-medical-declaration-form-v1-0.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Coach Update Process", s3_url('downloads/PNA-Coach-Update-Process.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Recognized Continuous Personal Development (CPD) Courses", s3_url('downloads/Recognised-CPD-Courses.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Coach Log Book", s3_url('downloads/bcu-coaches-logbook.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "1-3 Star Crib Cards", s3_url('downloads/1-3-star-crib-cards.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "British Canoeing Event Safety Guidelines", s3_url('downloads/British-Canoeing-Event-Safety-Guidelines.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "British Canoeing Safeguarding Children Policy", 'https://f58619eed67ecf47f9c5-69635130c45beb2524d5bafa9c042fe0.ssl.cf3.rackcdn.com/documents/P1-British-Canoeing-Safeguarding-Children-Policy-010716.pdf', :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "British Canoeing Safeguarding Adults Policy", 'https://f58619eed67ecf47f9c5-69635130c45beb2524d5bafa9c042fe0.ssl.cf3.rackcdn.com/documents/P6-British-Canoeing-Safeguarding-Adults-Policy-010716.pdf', :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "Level 1 Assessment Guidance", s3_url( 'downloads/Level-1-Assessment-Guidance.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 1 Bank to Boat based Conversion Notes", s3_url( 'downloads/Level-1-Bank-to-Boat-based-Conversion-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 1 Course Guide", s3_url( 'downloads/Level-1-Course-Guide.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 1 Feedback and Review Forms (Word doc)", s3_url( 'downloads/Level-1-Feedback-and-Review-Forms-Word.docx'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 1 Feedback and Review Forms (PDF)", s3_url( 'downloads/Level-1-Feedback-and-Review-Forms.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 1 Session Planners and Review Forms (MS Word)", s3_url( 'downloads/Level-1-Session-Planners-and-Review-Forms-Word.docx'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 1 Session Planners and Review Forms (PDF)", s3_url( 'downloads/Level-1-Session-Planners-and-Review-Forms.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 1 Training Course Workbook (MS Word)", s3_url( 'downloads/Level-1-Training-Course-Workbook-Word.docx'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 1 Training Course Workbook (PDF)", s3_url( 'downloads/Level-1-Training-Course-Workbook.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 1 Unit Specification and Course Content", s3_url( 'downloads/Level-1-Unit-Specification-and-Course-Content.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "Level 2 Assessment Guidance", s3_url( 'downloads/Level-2-Assessment-Guidance.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 2 Candidate Portfolio Templates (MS Word)", s3_url( 'downloads/Level-2-Candidate-Portfolio-Templates-Word.docx'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 2 Course Guide", s3_url( 'downloads/Level-2-Course-Guide.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 2 Second Discipline Assessment Notes", s3_url( 'downloads/Level-2-Second-Discipline-Assessment-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 2 Session Plan Review Form", s3_url( 'downloads/Level-2-Session-Plan-Review-Form.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 2 Unit Specification and Course Content", s3_url( 'downloads/Level-2-Unit-Specification-and-Course-Content.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 2 Workbook (MS Word)", s3_url( 'downloads/Level-2-Workbook.docx'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "How to complete the L2 Assessment Portfolio", s3_url( 'downloads/l2-guide-to-completing-assessment-portfolio.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
    <div class="list-group">
      <%= link_to "Level 3 Course Guide", s3_url( 'downloads/Level-3-Course-Guide.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 3 Course Guide Canoe Supplement", s3_url( 'downloads/Level-3-Course-Guide-Canoe-Supplement.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 3 Course Guide Marathon Supplement", s3_url( 'downloads/Level-3-Course-Guide-Marathon-Supplement.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 3 Course Guide Sea Supplement", s3_url( 'downloads/Level-3-Course-Guide-Sea-Supplement.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 3 Course Guide Slalom Supplement", s3_url( 'downloads/Level-3-Course-Guide-Slalom-Supplement.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 3 Course Guide Sprint Supplement", s3_url( 'downloads/Level-3-Course-Guide-Sprint-Supplement.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 3 Course Guide Surf Supplement", s3_url( 'downloads/Level-3-Course-Guide-Surf-Supplement.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 3 Course Guide Touring Supplement", s3_url( 'downloads/Level-3-Course-Guide-Touring-Supplement.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Level 3 Course Guide WW Kayak Supplement", s3_url( 'downloads/Level-3-Course-Guide-WW-Kayak-Supplement.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
  </span>

  <span class="section" id="coaching-endorsements">
    <h3>Endorsements</h3>
    <div class="list-group">
      <%= link_to "Advanced Water Endorsement Course Guide", s3_url( 'downloads/Advanced-Water-Endorsement-Course-Guide.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Advanced Water Endorsement Unit Specification", s3_url( 'downloads/Advanced-Water-Endorsement-Unit-Specification.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Moderate Water Endorsement Assessment Guidance", s3_url( 'downloads/Moderate-Water-Endorsement-Assessment-Guidance.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Moderate Water Endorsement Course Guide", s3_url( 'downloads/Moderate-Water-Endorsement-Course-Guide.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
  </span>


  <span class="section" id="foundation-modules">
    <h3>Foundation Modules</h3>
    <div class="list-group">
      <%= link_to "Foundation Modules Summary", s3_url( 'downloads/Foundation-Modules-Summary.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Foundation Module Administration", s3_url( 'downloads/Foundation-Module-Administration.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Coaching the Mind Foundation Module Summary", s3_url( 'downloads/Coaching-the-Mind-Foundation-Module-Summary.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Coaching Young Paddlers Foundation Module Summary", s3_url( 'downloads/Coaching-Young-Paddlers-Foundation-Module-Summary.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Fitness for Paddlesport Foundation Module Summary", s3_url( 'downloads/Fitness-for-Paddlesport-Foundation-Module-Summary.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Foundation Modules Mentoring for Paddlesport Coaches Summary", s3_url( 'downloads/Foundation-Modules-Mentoring-for-Paddlesport-Coaches-Summary.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Fundamental Paddlesport Skills Foundation Module Summary", s3_url( 'downloads/Fundamental-Paddlesport-Skills-Foundation-Module-Summary.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Fundamentals of Movement in Paddlesport Foundation Module Summary", s3_url( 'downloads/Fundamentals-of-Movement-in-Paddlesport-Foundation-Module-Summary.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Outdoor Education and Paddlesport Foundation Module Summary", s3_url( 'downloads/Outdoor-Education-and-Paddlesport-Foundation-Module-Summary.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Paddle Ability Foundation Module Summary", s3_url( 'downloads/Paddle-Ability-Foundation-Module-Summary.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Performance Planning for Paddlesport Coaches Foundation Module Summary", s3_url( 'downloads/Performance-Planning-for-Paddlesport-Coaches-Foundation-Module-Summary.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Strength and Conditioning Foundation Module Summary", s3_url( 'downloads/Strength-and-Conditioning-Foundation-Module-Summary.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Swimming Pools and Paddlesport Foundation Module Summary", s3_url( 'downloads/Swimming-Pools-and-Paddlesport-Foundation-Module-Summary.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
  </span>


  <span class="section" id="intermediate-modules">
    <h3>Intermediate Modules</h3>
    <div class="list-group">
      <%= link_to "Intermediate Module Summary", s3_url( 'downloads/Intermediate-Module-Summary.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Coaching the Mind Intermediate Module Summary", s3_url( 'downloads/Coaching-the-Mind-Intermediate-Module-Summary.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Optimising Fitness and Performance for Paddlesport Part 1 Intermediate Module Summary", s3_url( 'downloads/Optimising-Fitness-and-Performance-for-Paddlesport-Part-1-Intermediate-Module-Summary.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Optimising Fitness and Performance for Paddlesport Part 2 Intermediate Module Summary", s3_url( 'downloads/Optimising-Fitness-and-Performance-for-Paddlesport-Part-2-Intermediate-Module-Summary.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Paddle Ability Intermediate Module Summary", s3_url( 'downloads/Paddle-Ability-Intermediate-Module-Summary.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
  </span>


  <span class="section" id="remits-ratios">
    <h3>Remits &amp; Ratios</h3>
    <div class="list-group">
      <%= link_to "Course Staffing Ratios and Requirements", s3_url( 'downloads/Course-Staffing-Ratios-and-Requirements.pdf'), :class => 'list-group-item', :target => '_blank' %>
      <%= link_to "Staffing Levels & Ratios", s3_url( 'downloads/Staffing-Levels-&-Ratios.pdf'), :class => 'list-group-item', :target => '_blank' %>
    </div>
  </span>
</section>

<section id="leadership">
<h2>Star Leadership Information</h2>
<div class="list-group">
  <div class="list-group-item well">
    <p>In addition to signing up for a 4 or 5 Star Leader Assessment through a registered course provider, all candidates attending a British Canoeing 4 or 5 Star Leader Assessment are required to have preregistered with PNA using the Leadership Registration Form (LR Form). Candidates should allow three weeks to complete the preregistration process prior to the assessment. To preregister please complete the LR Form and return it to PNA, with the required fee. The LR Form will be returned to you by regular mail and must be presented to the assessor prior to your assessment. LR forms are valid for 12 months. If you are not successful, the LR Form will be returned to you, allowing you to assess again at a future date without paying another preregistration fee. <strong>Keep your LR Form in a safe place – it cannot be replaced if lost!</strong> Preregistration is required for both 4 and 5 Star Leader Assessment, and will be the start of the validation process of your qualification.</p>
  </div>
  <%= link_to "Leadership Registration Guidance Notes", s3_url( 'downloads/leadership-registration-guidance-notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
  <%= link_to "Leadership Registration (LR) Form", s3_url( 'downloads/LR-Form.pdf'), :class => 'list-group-item', :target => '_blank' %>
  <%= link_to "Coaching & Leadership Prerequisites", s3_url( 'downloads/coaching-leadership-registration-prerequisites.pdf'), :class => 'list-group-item', :target => '_blank' %>
</div>
</section><!-- ./literature -->

<section id="apl">
<h2>Accredited Prior Learning</h2>
<div class="list-group">
  <div class="list-group-item well">
    <p>Paddlesports North America recognizes that many aspirant coaches, leaders and providers, and those wishing to transfer from other award systems or other countries, may bring relevant experiences and qualifications to their role from other sports, countries and learning opportunities, and offers an Accredited Prior Learning (APL) service.</p>
  </div>
  <%= link_to "Accredited Prior Learning Guidance Notes", s3_url( 'downloads/Accredited-Prior-Learning-Guidance-Notes-PNA.pdf'), :target => '_blank', :class => 'list-group-item' %>
  <%= link_to "Accredited Prior Learning Application Form (MS Word)", s3_url( 'downloads/Accredited-Prior-Learning-Application-Form-PNA-Word.docx' ), :target => '_blank', :class => 'list-group-item' %>
</div>
</section>

<section id="first-aid">
  <h2>First Aid Requirements</h2>
  <p>All active coaches have a responsibility to maintain a current First Aid award, to ensure they can look after paddlers in their care. Coaches sign a declaration, upon registration for our Coaching qualifications, accepting this responsibility. Holding a valid First Aid award is also part of the British Canoeing coach update process. Coaches who meet these requirements are recognized by PNA and British Canoeing as being active and up-to-date.</p>
  <p><a href="http://paddlesportsnorthamerica.s3.amazonaws.com/downloads/PNA_BC_First_Aid.pdf">First Aid Policy</a></p>
  <p>There is often confusion about 4 and 6 hour courses, with many people told these courses are 'one day'. A one day course is 8 contact hours, a two day course is 16 contact hours. Please ensure you access an appropriate length course. <strong>We check training contact time.</strong></p>
  <p><strong>We do not accept First Aid or CPR certifications from online programs.</strong></p>
  <p>An up-to-date First Aid and CPR certificate must be provided to PNA <strong>every three years</strong>. First Aid and CPR certifications are accepted from a number of recognized providers in North America. If First Aid certificates have been issued outside of the United States or Canada, please contact PNA.</p>
  <p>There are no First Aid and CPR certification requirements prior to taking a UKCC Level 1 Coach training, but a minimum 1 day of training contact is highly recommended prior to coaching independently following a UKCC Level 1 Coach award.</p>
  <p>Examples of First Aid and/or CPR certifications accepted by PNA include:</p>
  <div class="list-group">
    <a href="http://www.redcross.org" target="_blank" class="list-group-item">American Red Cross</a>
    <a href="http://www.heart.org" target="_blank" class="list-group-item">American Heart Association</a>
    <a href="http://www.redcross.ca" target="_blank" class="list-group-item">Canadian Red Cross</a>
    <a href="https://nols.edu/en/courses/wilderness-medicine/" target="_blank" class="list-group-item">National Outdoor Leadership School (NOLS) - Wilderness First Aid</a>
    <a href="http://www.soloschools.com" target="_blank" class="list-group-item">Stonehearth Open Learning Opportunities (SOLO) - Wilderness First Aid</a>
    <a href="http://www.wildmed.com" target="_blank" class="list-group-item">Wilderness Medical Associates (WMA) - Wilderness First Aid</a>
  </div>
  <p>Please review PNA’s <a href="http://paddlesportsnorthamerica.s3.amazonaws.com/downloads/PNA_BC_First_Aid.pdf">First Aid Policy</a> for further information. </p>
</section><!-- ./first aid -->

<section id="statement-of-physical-competence">
<h2>Statement of Physical Competence</h2>
<p><strong>Candidates who sign an application form for a course leading to a British Canoeing qualification have agreed to the following:</strong></p>
<p><em>I understand that in law I have a &apos;duty of care&apos; to others, and this duty of care is enhanced with regard to my responsibility to those whom I teach because of the training and any qualification which I may receive.</em></p>
<p><em>I declare that to the best of my knowledge and belief I am physically fit, and do not have any *condition which may impair my ability to be responsible for the overall safety of canoeists in my charge.</em></p>
<p><em>I do not have *diabetes or *epilepsy, and understand that in the event of any change to my fitness to be responsible for the safety of others, I must declare the fact to the Director of Coaching of British Canoeing </em></p>
<p><strong>*</strong>The declaring of an impairment does not necessarily debar a person from holding a coaching qualification. British Canoeing does its utmost to ensure that only common sense conditions are placed on those who may not be able to fulfil all the requirements, both stated and implicit, for the holding of a coaching qualification. Please send sae to British Canoeing Office for a copy of the policy statement giving the terms of reference under which qualifications may be awarded or continue to be held.</p>
</section>

<section id="coach-paperwork">
<h2>Coach Paperwork, Forms &amp; Provideer Guidance</h2>

<div class="list-group">
  <%= link_to "Paperwork Flow", s3_url( 'downloads/paperwork-flow.pdf'), :class => 'list-group-item', :target => '_blank' %>
</div>

<div class="list-group">
  <p class="list-group-item">Course Notification</p>
  <div class="list-group-item well">
    <p>Coaches can submit 1-5 Star programs, FSRT/Canoe Safety, Safety Programs, Paddlesport Start, Paddle Power programs, Cross Stream Challenge programs in addition to Coach Education programs. Only official British Canoeing training or assessments will be listed.</p>
    <p>All programs above 2 Star require Course Notification. This includes all safety and coach education programs.</p>
    <p>For Course Notification E-mail the following to <a href="mailto:<%= t('pna.contact.email') %>"><%= t('pna.contact.email') %></a>:</p>
    <ul>
      <li>Program Title</li>
      <li>Program Date</li>
      <li>Coach Name</li>
      <li>Provider Number</li>
      <li>If the program requires more than one coach include the name and provider number of second coach.</li>
      <li>Venue</li>
    </ul>
    <p>If you want the program listed on the calendar page also email <a href="mailto:<%= t('pna.contact.email') %>"><%= t('pna.contact.email') %></a> and include the following information:</p>
    <ul>
      <li>Center Name or Coach Name to be listed and the website to link to.</li>
      <li>State where program will be offered.</li>
    </ul>
  </div>
</div>

<div class="list-group">
  <%= link_to "Course Report", s3_url( 'downloads/course-report.pdf'), :class => 'list-group-item', :target => '_blank' %>
  <%= link_to "Program Fee Form", s3_url( 'downloads/PNA-Program-Fee-Form.pdf'), :class => 'list-group-item', :target => '_blank' %>
  <%= link_to "Course Schedule", s3_url( 'downloads/course-schedule.pdf'), :class => 'list-group-item', :target => '_blank' %>
</div>

<div class="list-group">
  <%= link_to "British Canoeing Terms of Reference and Environmental Definitions", s3_url('downloads/BC-Terms-of-Reference.pdf'), :class => 'list-group-item', :target => '_blank' %>
  <%= link_to "Star Award Guidance Notes", s3_url( 'downloads/Star-Award-Guidance-Notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
  <%= link_to "Course Staffing Rations and Requirements", s3_url( 'downloads/Course-Staffing-Ratios-and-Requirements.pdf'), :class => 'list-group-item', :target => '_blank' %>
</div>

<div class="list-group">
  <%= link_to "UK and North American Course Provider Form", s3_url( 'downloads/NA-Provider-Form.pdf'), :class => 'list-group-item', :target => '_blank' %>
</div>
<div class="list-group">
  <p class="list-group-item">Star Award Provider</p>
  <div class="list-group-item well">
    <p>The British Canoeing Star Awards acknowledge a paddler's performance in achieving a specific set of skills at set levels. The Star Awards can be assessed by qualified coaches who meet the provider requirements.</p>

    <p>Below are details of how to become a provider. Qualifications stated are minimum requirements, higher qualifications are also accepted. If you are considering a provider role please familiarize yourself with the Star Award Guidance Notes, Course Syllabus and Tutor and Assessor Notes documents, for the relevant award.</p>
  </div>
</div>

<div class="list-group">
  <%= link_to "Becoming a Star Provider", s3_url( 'downloads/Becoming-a-Star-Provider.pdf'), :class => 'list-group-item', :target => '_blank' %>
</div>

<div class="list-group">
  <p class="list-group-item">Safety Course Provider</p>
  <div class="list-group-item well">
    <p>Below are details of how to become a safety course provider for the following courses:</p>
    <ul>
      <li>Foundation Safety and Rescue Training (FSRT)</li>
      <li>White Water Safety and Rescue Training (WWSR)</li>
      <li>Coastal Navigation and Tidal Planning(CNTP)</li>
      <li>Open Water Navigation and Tidal Planning (OWNTP)</li>
    </ul>
  </div>
</div>

<div class="list-group">
  <%= link_to "Becoming an FSRT Provider", s3_url( 'downloads/FSRT-Provider.pdf'), :class => 'list-group-item', :target => '_blank' %>
  <%= link_to "Becoming a WWSR Provider", s3_url( 'downloads/WWSR-Provider.pdf'), :class => 'list-group-item', :target => '_blank' %>
  <%= link_to "Becoming a CNTP Provider", s3_url( 'downloads/CNTP-Provider.pdf'), :class => 'list-group-item', :target => '_blank' %>
  <%= link_to "Becoming an OWNTP Provider", s3_url( 'downloads/OWNTP-Provider.pdf'), :class => 'list-group-item', :target => '_blank' %>
</div>

<div class="list-group">
  <p class="list-group-item">Coach Educators: Directors, Tutors, Assessors</p>
  <div class="list-group-item well">
    <p>British Canoeing coaching qualifications are delivered by licensed and quality assured Coach Educators who support the development of coaches across a range of disciplines.</p>

    <p>The guidance are for Coach Educators and aspirant Coach Educators who reside in North America. British Canoeing recognises the following Coach Educator roles:</p>
    <ul>
      <li>Tutors - deliver content on the relevant training courses as a second member of staff under the guidance of an authorized course Director.</li>
      <li>Assessors - assess candidates against the relevant qualification requirements with the support of the course Director.</li>
      <li>Directors - take responsibility for the overall delivery of training courses and assessments, managing other tutors and assessors to ensure that the programme is delivered to the relevant qualification requirements.</li>
    </ul>
  </div>
</div>

<div class="list-group">
  <%= link_to "Become a Coach Educator", s3_url( 'downloads/British-Canoeing-Coach-Educator-Requirements.pdf'), :class => 'list-group-item', :target => '_blank' %>
</div>

<div class="list-group">
  <p class="list-group-item">Foundation Module Provider</p>
  <div class="list-group-item well">
    <p>Applications for Foundation Module Provider roles are considered from coaches with significant knowledge of the subject area and recent experience tutoring coaches. Successful applicants will be invited to a Provider Orientation for the respective module before taking on the role.</p>
  </div>
</div>

<div class="list-group">
  <%= link_to "Foundation Modules Provider", s3_url( 'downloads/Foundation-Modules-Provider.pdf'), :class => 'list-group-item', :target => '_blank' %>
  <%= link_to "Foundation Module Administration", s3_url( 'downloads/Foundation-Module-Administration.pdf'), :class => 'list-group-item', :target => '_blank' %>
</div>

<section id="insurance">
  <h2>Insurance Paperwork &amp; Forms</h2>
  <div class="list-group">
    <div class="list-group-item well">
      <p>PNA coaches and 4 and 5 star leaders have several types of insurance as a member benefit.  As part of your annual membership fee you now have general liability and accident insurance. Insurance is in effect for current PNA coaches or program participants, (PNA member or not), participating in a scheduled PNA related course conducted in the United States. Insurance is not available for tours or equipment rental.  Additionally, PNA coaches now receive worldwide professional liability insurance for potential errors &amp; omissions that might result in bodily injury to a third party. In all instances, coaches must be working within their remit.</p>
      <p><strong>How does this work?</strong><br />
      PNA coaches must have current paid memberships. An age appropriate PNA Waiver of Liability (Adult or Minor) must be signed by each course participant, whether coach or participant, prior to the course commencing and then sent to the PNA Administrator with other course paperwork within 7 days of course completion. Should an incident occur, 2 incident report forms must be completed (one accident and one general liability form) and sent to the PNA Administrator as soon as possible (when off the water). Waiver and incident report forms are available for download in the document section of the PNA website. Coaches should have these forms downloaded and available at the instruction site.</p>
      <p><strong>How much does this cost?</strong><br />
      Current PNA coaches and 4* / 5* award leaders have several types of insurance as a member benefit. The cost of insurance is part of your membership fee. There are no additional fees. You do need to make sure your PNA membership and first aid/CPR certification remains current.</p>
      <p><strong>Do I need to complete any additional paperwork in advance to get coverage?</strong><br />
      No. There is no additional or insurance specific paperwork required in advance of course registration. Age specific Waivers of Liability must be signed by all coaches and participants (or parents/guardians) prior to the course commencing. This can be done on site right before the course begins. Signed waivers must be sent to the PNA Administrator within 7 days of course completion.</p>
      <p><strong>Does coverage extend to outfitters or tours?</strong><br />
      It depends. If an employee of an outfitter is a current PNA Coach and teaching a scheduled PNA related course, within their remit, applicable insurance is in effect. Insurance does not extend to equipment, equipment rentals and commercial tours? </p>
      <p><strong>As a coach, am I covered for coaching sessions with a local paddling club?</strong><br />
      It depends. Applicable insurance is for scheduled PNA related courses. Insurance is not available for one-off coaching moments, like randomly helping someone roll while on a bird watching tour. </p>
      <p><strong>What's the difference between an Adult and a Minor Waiver of Liability?</strong><br />
      A Waiver of Liability for Minors is used when the course participant is under 18 years of age at the time the course is being conducted. This waiver is signed by the minor's adult guardian/parent.  </p>
      <p><strong>When will insurance be available for courses conducted in Mexico and Canada?</strong><br />
      We are still working on expanding general liability and accident insurance to cover coaches, 4*/5* leaders and courses in Mexico and Canada.</p>
    </div>
  </div>
  <div class="list-group">
    <%= link_to "PNA Insurance Program Adult Waiver", s3_url( 'downloads/PNA Insurance Program Waiver Adult_2016a.pdf' ), :class => 'list-group-item', :target => '_blank' %>
    <%= link_to "PNA Insurance Program Minor Waiver", s3_url( 'downloads/PNA Insurance Program Waiver Minor_2016a.pdf' ), :class => 'list-group-item', :target => '_blank' %>
    <%= link_to "Accident Claim Form", s3_url( 'downloads/Accident Claim Form.pdf' ), :class => 'list-group-item', :target => '_blank' %>
    <%= link_to "General Liability Claim Form", s3_url( 'downloads/Gen Liability Claim Form.pdf' ), :class => 'list-group-item', :target => '_blank' %>
  </div>
</section>
