<%= render "shared/jumbotron", :image => 'about_hero.jpg', :text => ['About Paddlesports', 'North America'] %>

<div class="container body-copy">
  <div class="row">
    <div class="col-md-2">
      <%= image_tag "circle-text-logo-170.png", :class => 'img-responsive', :alt => "Paddlesports North America", :title => "Paddlesports North America" %>
    </div>
    <div class="col-md-7">
      <section id="about">
        <h2>Our Mission Statement</h2>
        <p>Paddlesports North America promotes paddler education, safety and stewardship of the environment throughout North America. The organization serves to expand knowledge and awareness of all paddlesport-related activities —canoe, kayak and stand up paddleboard— and encourages lifetime participation in the sport through delivery of long-term paddler development programs. Paddlesports North America provides classroom education and on-water training through a series of paddlesport modules developed by the British Canoe Union (BCU). The BCU program is internationally recognized as the gold standard in paddlesport training. Paddlesports North America coaches deliver BCU paddler and coach trainings and assessments, and determine achievement awards. The organization develops, encourages, trains and supports coaches to deliver these programs, and maintains all achievement records. The program is continually being refined around the needs of paddlers, and provides a balanced progression and support. Paddlesports North America encourages people of all ages and abilities to go paddling, stressing personal safety and respect for the environment.</p>
      </section>
      <section id="faq">
        <h2>Frequently Asked Questions</h2>

        <span class="section" id="pna">
          <h3>What is PNA?</h3>
          <p>Paddlesports North America (PNA) was formed in 2013 to provide access to British Canoe Union (BCU) paddler awards and coaching certifications in North America.</p>
          <p>PNA emphasizes paddler proficiency and safety as well as environmental awareness while promoting broader participation in paddlesports, including canoe, kayak and stand up paddleboard.</p>
          <p>PNA is currently run by an interim board. A permanent board will be elected by members by the end of 2014.</p>
        </span>

        <span class="section" id="bcu">
          <h3>What is the BCU?</h3>
          <p>The <a href="http://www.bcu.org.uk/">British Canoe Union</a> (BCU) is the most established, geographically and technically diverse paddlesport organization in the world. The BCU supports the development of paddlesport primarily in the United Kingdom but has a considerable worldwide presence and impact. The BCU has members worldwide, active in all paddle sport disciplines, both recreational and competitive, at all levels, from beginner to World/Olympic Champion. BCU performance awards and coaching certifications are recognized worldwide for their rigor and consistency, and are the gold standard by which other programs are measured.</p>
        </span>

        <span class="section" id="bcu-coach">
          <h3>Why should I choose training from a BCU-certified coach?</h3>
          <p>All BCU coaches have been trained and assessed to an exceptionally high and uniform standard and are required to revalidate their certification through continued professional development. This means you get the highest quality and most up-to-date training from a network of coaches who are highly regarded worldwide, and can draw on an unprecedented body of knowledge covering all forms and levels of paddlesport and performance coaching.</p>
        </span>

        <span class="section" id="star-awards">
          <h3>What are Star Awards?</h3>
          <p>Star awards signify specific paddling, safety and leadership skills at different levels and in various craft. These awards provide a way to track your own progress as a paddler, and give others a reliable indication of your preparedness for trips and further trainings.</p>
          <p>The terms &quot;beginner,&quot; &quot;intermediate,&quot; &quot;advanced&quot; and &quot;expert&quot; are highly subjective when applied to paddlers. As a result, paddlers can get into frustrating or potentially dangerous circumstances when they self-assess with these terms. The BCU star award program offers a reliable guage of a paddler&apos;s physical and mental performance on the water in specific conditions. Star awards also allow paddlers to plan and assess their personal paddling achievements and goals.</p>
        </span>

        <span class="section" id="ltpd">
          <h3>What is Long Term Paddler Development (LTPD)?</h3>
          <p>LTPD is a logical progression that supports paddlers throughout their paddling careers. It enables paddlers to progress by providing the right challenges and opportunities every step of the way as part of a clear and agreed-upon vision and strategy. LTPD is based on the Long Term Athlete Development model; it was developed for the BCU by Istvan Balyi, Ph.D., acknowledged worldwide as the expert in long-term athlete development. This is just one of many examples of how the BCU brings current scientific thinking and practices to paddlesport.</p>
        </span>

        <span class="section" id="elite-athletes">
          <h3>Is the BCU focused on elite athletes?</h3>
          <p>The BCU offers awards and certification up to a highly advanced level, but places equal importance on developing paddlers at the beginner level. The BCU encourages all paddlers to develop appropriate skills and knowledge for their paddling environment and aspirations.</p>
        </span>

        <span class="section" id="become-a-coach">
          <h3>Should I become a BCU Coach?</h3>
          <p>If you are interested in developing paddling skills in others, value working within a culture of best practices and continuous development within the most widespread and diverse paddlesport organization in the world, then <strong>YES</strong>.</p>
        </span>
      </section>

      <section id="board" class="clearfix">
        <h2>Board of Directors</h2>
        <span class="section" id="rekman">
          <h3>Nikki Rekman <small>President</small></h3>

          <span class="pull-left board-img">
            <%= image_tag( 'nikki-rekman.jpg', :alt => "Nikki Rekman", :title => "Nikki Rekman" ) %>
          </span>

          <p>Paddling has been a huge part of my life starting with the canoe club at age 15 at my high school in Saskatoon, Saskatchewan, Canada and now working in the paddlesports industry since 1994.</p>
          <p>You will not see me paddling over waterfalls or riding the wave at the local &quot;park and play&quot; spot but my paddling adventures have taken my by canoe and kayak from my backyard in beautiful British Columbia to Angelsey in Northern Wales, to the meandering rivers of Southern Utah, northern Canada and the icy waters of Antarctica.</p>
          <p>In the last couple of years I have also spent more time Stand Up Paddle boarding and I have enjoyed experiencing the water from this new vantage point.</p>
          <p>My industry experience is varied starting in specialty retail, moving to manufacturing (I was the Sales &amp; Operations Manager at North Water Rescue &amp; Paddling Equipment for 8 years) and then as an Independent Sales Representative which I have been doing since 2005.  I was also very involved in the former, Trade Association of Paddlesports as a board member, as an Administrator and finally as the Director of the West Coast Sea Kayak Symposium for 3 years (this included its 25th anniversary year).</p>
          <p>I am also involved in my local paddlesports community volunteering as a Director with the Chilliwack Vedder River Cleanup Society.</p>

        </span><!-- ./rekman -->

        <span class="section" id="farity">
          <h3>Scott Farity <small>Vice President</small></h3>

          <span class="pull-left board-img">
            <%= image_tag( 'scott-farity.jpg', :alt => "Scott Farity", :title => "Scott Farity" ) %>
          </span>

          <p>I began my paddling life as a whitewater boater in New England in 1981.  I took up sea kayaking as a way to stay in shape for the relatively short whitewater season.  After progressing through the ACA instructor program in whitewater kayak, canoe, C-1 and sea kayak, I was still looking for additional challenges and for ways to continue to develop as a paddler and coach and that's when the BCU entered the scene.  In 1995 Nigel Dennis came to Rhode Island to run a variety or courses and I jumped on all of them.  I have been actively involved with the BCU ever since, including holding the position of  Midwest Regional Coaching Officer and member of the BCUNA Interim Board of Directors.  What I bring to the PNA Board is a depth and breadth of experience in both the ACA and BCU systems, an 18 year history of involvement with the BCU and over 30 years of multi-discipline coaching.  BCU has had a profoundly positive influence on my development as a paddler and coach and I want to help the organization to grow in the States so more paddlers can benefit from all it has to offer.</p>
          <p>Current Member of the Interim Board of Directors<br />
          Former Midwest Regional Coaching Officer<br />
          Full list of coaching qualifications at <a href="http://scottfairty.com" target="_blank">scottfairty.com</a><br />
          </p>
        </span><!-- ./farity -->

        <span class="section" id="bloyd-peshkin">
          <h3>Sharon Bloyd-Peshkin <small>Secretary</small></h3>

          <span class="pull-left board-img">
            <%= image_tag( 'sharon-bloyd-peshkin.jpg', :alt => "Sharon Bloyd-Peshkin", :title => "Sharon Bloyd-Peshkin" ) %>
          </span>

          <p>Sharon is a BCU Level 1 coach who is eagerly anticipating and preparing for her BCU Coach 2 training in June and 4-star training in July. She is also an ACA Level 4 Open Water sea kayak instructor and Level 3 Whitewater kayak instructor. She co-leads a popular weekly whitewater kayaking class at her local YMCA  coaches at a variety of symposia (WMCKA, Great Lakes, Ladies of the Lake, MEC Toronto Paddlefest, The Gales), and has been a guest coach at Adventure Crafters in Maryland and Body Boat Blade in Washington state. She is a board member of the Illinois Paddling Council and the Chicago Area Sea Kayakers Association, and has written paddling-related articles for Adventure Kayak, Sea Kayaker and Ocean Paddler magazines. With her husband, Alec (Midwest RCO), she maintains the blog Have Kayaks, Will Travel (<a href="http://bloyd-peshkin.blogspot.com" target="_blank">bloyd-peshkin.blogspot.com</a>). She is a team paddler for Snap Dragon Design, Werner and Valley. Sharon says the BCU has made her a better coach because its programs are grounded in research about how to help people gain skills and reach their paddling goals. She is eager to do what she can to help promote BCU training for coaches and paddlers and make it more widely available, whether that means bring on the board or assisting those who are.</p>
        </span><!-- ./bloyd-peshkin -->

        <span class="section" id="ozard">
          <h3>John Ozard <small>Treasurer</small></h3>

          <span class="pull-left board-img">
            <%= image_tag( 'john-ozard.jpg', :alt => "John Ozard", :title => "John Ozard" ) %>
          </span>

          <p>John Ozard is a Certified Wildlife Biologist, and is currently Leader of the Wildlife Diversity Unit in the Division of Fish, Wildlife and Marine Resources of the New York State Department of Environmental Conservation. He has worked in the nongame wildlife and endangered species program areas throughout his 37 year career.</p>
          <p>John is an avid outdoorsman and paddler. His interest in canoeing began over 40 years ago, and includes leading wilderness river trips in the 1970s. In the early 1980s he built a 16 foot redwood strip tandem canoe. In late 2003 he discovered sea kayaking and was instantly hooked. John has been a member of the American Canoe Association (ACA) and the British Canoe Union (BCU) since 2005. He has pursued advanced training from the BCU and holds a 2 Star Paddlesport award, a 3 Star Sea Kayak award, a 4 Star Sea Kayak Leader award, and a 3 Star Open Canoe award. He has also completed the BCU&apos;s Coastal Navigation and Tidal Planning course, Foundation Safety and Rescue Training, and 4 Star Open Canoe Leader training. John is a Level 1 UKCC (BCU) Coach and is a Level 2 Coach aspirant.</p>
          <p>As a Director of Paddlesports North America, John brings a wealth of experience to the Board. He currently manages a staff of 12 biologists and technicians in the Wildlife Diversity Unit, and has served on the Board of Directors of Old Songs, Inc. since 1981. Old Songs, Inc. is an educational, not-for-profit corporation dedicated to preserving traditional music and dance. John currently serves as Treasurer of Old Songs, and has previously served as President and Vice-President. In his current role he oversees revenues and assets totaling approximately $294,000.  John is also the Director of Grounds for the annual Old Songs Festival of Traditional Music and Dance, now in its 34th year. In this role he manages the on-site operation of the event, including setup and cleanup.</p>
        </span><!-- ./ozard -->

        <span class="section" id="maynard">
          <h3>Steven Maynard <small>Director</small></h3>

          <span class="pull-left board-img">
            <%= image_tag( 'steven-maynard.jpg', :alt => "Steven Maynard", :title => "Steven Maynard" ) %>
          </span>

          <p>Steve has worked as an outdoor educator since 1987 when he started kayaking on remote sea lochs in North West Scotland. Since then he has paddled, guided and coached extensively in the United Kingdom, and throughout Europe and North America.</p>
          <p>Steve is a full time paddle sport coach involved with training and certification of personal skills, leadership and coaching qualifications at all levels and in multiple disciplines.</p>
          <p>He is currently the head paddle sports instructor for the  <a href="http://www.plattsburgh.edu/academics/exp/expoverview.php" target="_blank">Expeditionary Studies</a> Major at SUNY Plattsburgh and in his spare time presents at kayak symposiums and organizes/works on BCU star and coach courses.</p>
          <p>Steve holds qualifications in many adventure sports, including sea kayaking certifications at the highest level from the British Canoe Union (Level 5 Coach Sea and Level 5 Assessor Sea, Coach Level 1 and 2 tutor) and American Canoe Association (Advanced Open Water Instructor).</p>
          <p>Steve enjoys nothing more than helping people improve their understanding of technique and environment to make stronger safer paddlers.</p>
        </span><!-- ./maynard -->

        <span class="section" id="franklin">
          <h3>Shawna Franklin <small>Director</small></h3>

          <span class="pull-left board-img">
            <%= image_tag( 'shawna-franklin.jpg', :alt => "Shawna Franklin", :title => "Shawna Franklin" ) %>
          </span>

          <p>Shawna Franklin has been involved in paddle sports for over two decades. Shawna is a co-owner of the two time award winning kayak school <a href="http://bodyboatblade.com" target="_blank">Body Boat Blade International</a>. Shawna is a lead coach and peer-reviewed coach educator.  Shawna is a team athlete for top paddle sports manufacturers and has worked with some to create award winning products. She has been featured in magazines, films and has taught as a guest coach at symposiums worldwide. Shawna is currently a BCU Coach Level 5 aspirant, BCU 5 Star Sea Leader, BCU FSRT provider, and BCU Assessor Grade 4. She also holds the BCU 4 Star award in surf and whitewater and the BCU Canoe 2 Star award. Shawna has been an active member in the BCU since 1999.  Her most notable personal paddling accomplishments are a successful circumnavigation of Iceland in 2003, circumnavigation of Haida Gwaii in 2008, and Vancouver Island in 2011.</p>
          <p>Shawna brings a good blend of energy and expertise to the PNA Board.  She brings 19 years successful business experience, extensive knowledge and experience of paddle sport, and a long history and experience with the BCU. Her leadership and education skills are invaluable when working with others on the board. Shawna is a life time artist and can also offer graphic and design expertise to the job. Shawna is a committed and passionate paddler and coach in the paddling disciplines of sea kayaking, canoeing, kayak surfing, race kayaks and stand up paddle boarding.</p>
          <p>Shawna believes strongly in the mission and the goals of PNA. She is thrilled to be part of the process that will allow this organization to grow and to flourish and continue making unique opportunities available for new paddlers and experienced paddlers alike in their development and aspirations.</p>
        </span><!-- ./franklin -->

        <span class="section" id="tobin">
          <h3>Harry Tobin <small>Director</small></h3>

          <span class="pull-left board-img">
            <%= image_tag( 'harry-tobin.jpg', :alt => "Harry Tobin", :title => "Harry Tobin" ) %>
          </span>

          <p>As an Eagle Scout growing up in South Florida, I had the good fortune to call The Everglades my backyard and thanks to a very active Boy Scout troop I spent my youth camping and canoeing the wilds of Florida. By the time I entered college I discovered sailing Biscayne Bay.  And then I got engaged in the corporate world. I spent the better part of my working life in the Northeast with one of the Big 4 accounting and consulting firms. Over my corporate career, my company taught me how to create, build and manage teams, projects and companies. They afforded me the opportunity to serve as Chairman of a not for profit corporate trade organization. But the best thing my company did for me was to relocate me back to South Florida where I discovered kayaking. From my first 1/2 day paddle to my most recent 120 mile unsupported expedition I discovered that I smile the widest when I am paddling.  Paddling inspired me to start working out so I could paddle better and farther. As a result I am in the best shape of my life. Paddling reintroduced me to the awesomeness of nature I experienced as a young boy.  I believe everyone needs to know that paddling is more than waterfalls, rapids and glaciers. Paddling is a grin on a dolphins face as they race past your kayak in the bay and the grin on your best friends face when they surf backwards for the first time. Paddling connects us with ourselves, our friends, nature and the world. I am a BCU 3&#42; Paddler and 4&#42; Aspirant. . Paddle safe. Wear your PFD. Smile.</p>
          <p>Occupation: Managing Director, PricewaterhouseCoopers</p>
        </span><!-- ./tobin -->

        <span class="section" id="knepper">
          <h3>Andrea Knepper <small>Director</small></h3>

          <span class="pull-left board-img">
            <%= image_tag( 'andrea-knepper.jpg', :alt => "Andrea Knepper", :title => "Andrea Knepper" ) %>
          </span>

          <p>I love water.  I love being on it&#59; I love being in it&#59; I love being near it.  I love rough water and flat water.  I love freshwater and saltwater.  I love hour-long paddles and multi-day trips.  I love this sport that spans the sublime and the extreme&#59; flat mirror-like water and crashing frothy water&#59; a sport that calls me to a calm day immersed in utter beauty or an adrenalin-loaded couple hours of high-stakes paddling that takes every ounce of my attention.  I love to be in all of this water.</p>

          <p>My family started canoeing on the rivers of western Colorado into Utah when I was a teenager, and I was hooked for life.  25 years later sea kayaking has become my primary paddling discipline, and there&apos;s little I love more than being in my Pintail – whether for its finesse on flat water or it&apos;s playfulness in conditions.</p>
          <p>After being sidelined for a couple years by spine surgeries about the same time the &quot;new BCU system&quot; rolled out, I have earned my Coach Level 2, my 4&#42; Sea, my 3&#42; canoe, and I’ve completed 5&#42; sea training, 4&#42; canoe training and Coach Level 3 Core Training.  I’ve become a better paddler and coach for it.  The BCU system has changed my coaching and paddling philosophy and practice in two primary ways:</p>
          <ol>
            <li>I believe firmly that facility in one discipline transfers to others and makes us better all-around paddlers, who have more fun on the water in our &quot;primary&quot; boat and all others.</li>
            <li>I believe that the BCU system offers unparalleled training to develop excellent paddlers and coaches – and that the foundation of both lies in excellent coaching for beginners.</li>
          </ol>
        </span>
      </section><!-- ./board -->


      <section id="sponsors">
        <h2>Our Sponsors</h2>
        <p>We would like to thank our founding sponsors for their generous support, which covered the expenses incurred in establishing PNA: <a href="http://wernerpaddles.com/" target="_blank" title="Werner Paddles">Werner Paddles</a>, <a href="http://www.phseakayaks.com/" target="_blank" title="PH Sea Kayaks">P&amp;H/Pyranha</a>, <a href="http://www.valleyseakayaks.com/" target="_blank" title="Valley Sea Kayaks">Valley Sea Kayaks</a>, <a href="http://seakayakinguk.com/" target="_blank" title="Sea Kayaking UK">Sea Kayaking UK</a>, and <a href="http://www.atlantickayaktours.com/" target="_blank" title="Atlantic Kayak Tours">Atlantic Kayak Tours</a>.</p>

        <div class="row sponsor-imgs">
          <div class="col-md-6">
            <%= link_to( image_tag('sponsor-werner-black-300.png', :class => 'sponsor img-reponsive'), 'http://wernerpaddles.com/', :target => "_blank" ) %>
          </div>
          <div class="col-md-6">
            <%= link_to( image_tag('sponsor-ph-black-300.png', :class => 'sponsor img-reponsive'), "http://www.phseakayaks.com/", :target => "_blank" ) %>
          </div>
        </div>
        <div class="row sponsor-imgs">
          <div class="col-md-6">
            <%= link_to( image_tag('sponsor-valley-black-300.png', :class => 'sponsor img-reponsive'), 'http://www.valleyseakayaks.com/', :target => "_blank" ) %>
          </div>
          <div class="col-md-6">
            <%= link_to( image_tag('sponsor-skuk-black-300.png', :class => 'sponsor img-reponsive'), 'http://www.seakayakinguk.com/', :target => "_blank" ) %>
          </div>
        </div>
        <div class="row sponsor-imgs">
          <div class="col-md-6 col-md-offset-3">
            <%= link_to( image_tag('sponsor-akt-black-300.png', :class => 'sponsor img-reponsive'), "http://www.atlantickayaktours.com/", :target => "_blank" ) %>
          </div>
        </div>
      </section><!-- ./sponsors -->


      <span class="clearfix"></span>
    </div>

    <div class="col-md-2 col-md-offset-1">
        <div class="sidenav hidden-sm hidden-xs scrollspy" data-spy="affix" data-offset-top="276" data-offset-bottom="360">
          <ul class="nav">
            <li><a href="#about">About PNA</a></li>
            <li>
              <a href="#faq">FAQ</a>
              <ul class="nav">
                <li><a href="#pna">What is PNA?</a></li>
                <li><a href="#bcu">What is the BCU?</a></li>
                <li><a href="#bcu-coach">Why choose a BCU Coach?</a></li>
                <li><a href="#star-awards">What are Star Awards?</a></li>
                <li><a href="#ltpd">What is Long Term Paddler Development?</a></li>
                <li><a href="#elite-athletes">Is the BCU Focused on Elite Athletes?</a></li>
                <li><a href="#become-a-coach">Should I Become a BCU Coach?</a></li>
              </ul>
            </li>
            <li>
              <a href="#board">Board of Directors</a>
              <ul class="nav">
                <li><a href="#rekman">Nikki Rekman</a></li>
                <li><a href="#farity">Scott Farity</a></li>
                <li><a href="#bloyd-peshkin">Sharon Bloyd-Peshkin</a></li>
                <li><a href="#ozard">John Ozard</a></li>
                <li><a href="#maynard">Steven Maynard</a></li>
                <li><a href="#franklin">Shawna Franklin</a></li>
                <li><a href="#tobin">Harry Tobin</a></li>
                <li><a href="#knepper">Andrea Knepper</a></li>
              </ul>
            </li>
            <li><a href="#sponsors">Sponsors</a></li>
          </ul>
        </div>
    </div>

  </div>
</div>
<script type="text/javascript">
//$('body').scrollspy({ target: '.sidenav', offset: 170 });
</script>
