<%= render "shared/jumbotron", :image => 'about_hero.jpg', :text => ['About Paddlesports', 'North America'] %>

<div class="container body-copy">
  <div class="row">
    <div class="col-md-2">
      <%= image_tag "circle-text-logo-170.png", :class => 'img-responsive', :alt => "Paddlesports North America", :title => "Paddlesports North America" %>
    </div>
    <div class="col-md-7">
      <section id="about">
        <p>Paddlesports North America (PNA) is a not-for-profit, educational, public charity formed to deliver <abbr title="Formerly known as British Canoe Union">British Canoeing</abbr> programs throughout North America. PNA is exempt from Federal income tax under section 501(c)3 of the Internal Revenue Code.</p>
        <h2>Our Mission</h2>
        <p>Paddlesports North America promotes paddler education, safety and stewardship of the environment throughout North America. The organization serves to expand knowledge and awareness of all paddlesport-related activities —canoe, kayak and stand up paddleboard— and encourages lifetime participation in the sport through delivery of long-term paddler development programs. Paddlesports North America provides classroom education and on-water training through a series of paddlesport modules developed by British Canoeing. The British Canoeing program is internationally recognized as the gold standard in paddlesport training. Paddlesports North America coaches deliver British Canoeing paddler and coach trainings and assessments, and determine achievement awards. The organization develops, encourages, trains and supports coaches to deliver these programs, and maintains all achievement records. The program is continually being refined around the needs of paddlers, and provides a balanced progression and support. Paddlesports North America encourages people of all ages and abilities to go paddling, stressing personal safety and respect for the environment.</p>
      </section>
      <section id="faq">
        <h2>Frequently Asked Questions</h2>

        <span class="section" id="pna">
          <h3>What is PNA?</h3>
          <p>Paddlesports North America (PNA) was formed in 2013 to provide access to British Canoeing (formerly known as the British Canoe Union or BCU) paddler awards and coaching certifications in North America.</p>
          <p>PNA emphasizes paddler proficiency and safety as well as environmental awareness while promoting broader participation in paddlesports, including canoe, kayak and stand up paddleboard.</p>
          <p>PNA is currently run by an interim board. Directors elected by PNA members will replace the interim board by the end of 2015.</p>
        </span>

        <span class="section" id="bcu">
          <h3>What is British Canoeing?</h3>
          <p><a href="http://www.bcu.org.uk/">British Canoeing</a> (formerly known as the British Canoe Union, or BCU) is the most established, geographically and technically diverse paddlesport organization in the world. British Canoeing supports the development of paddlesport primarily in the United Kingdom but has a considerable worldwide presence and impact. British Canoeing has members worldwide, active in all paddle sport disciplines, both recreational and competitive, at all levels, from beginner to World/Olympic Champion. British Canoeing performance awards and coaching certifications are recognized worldwide for their rigor and consistency, and are the gold standard by which other programs are measured.</p>
        </span>

        <span class="section" id="bcu-coach">
          <h3>Why should I choose training from a British Canoeing-certified coach?</h3>
          <p>All British Canoeing coaches have been trained and assessed to an exceptionally high and uniform standard and are required to revalidate their certification through continued professional development. This means you get the highest quality and most up-to-date training from a network of coaches who are highly regarded worldwide, and can draw on an unprecedented body of knowledge covering all forms and levels of paddlesport and performance coaching.</p>
        </span>

        <span class="section" id="star-awards">
          <h3>What are Star Awards?</h3>
          <p>Star awards signify specific paddling, safety and leadership skills at different levels and in various craft. These awards provide a way to track your own progress as a paddler, and give others a reliable indication of your preparedness for trips and further trainings.</p>
          <p>The terms &quot;beginner,&quot; &quot;intermediate,&quot; &quot;advanced&quot; and &quot;expert&quot; are highly subjective when applied to paddlers. As a result, paddlers can get into frustrating or potentially dangerous circumstances when they self-assess with these terms. The British Canoeing star award program offers a reliable gauge of a paddler&apos;s physical and mental performance on the water in specific conditions. Star awards also allow paddlers to plan and assess their personal paddling achievements and goals.</p>
        </span>

        <span class="section" id="ltpd">
          <h3>What is Long Term Paddler Development (LTPD)?</h3>
          <p>LTPD is a logical progression that supports paddlers throughout their paddling careers. It enables paddlers to progress by providing the right challenges and opportunities every step of the way as part of a clear and agreed-upon vision and strategy. LTPD is based on the Long Term Athlete Development model; it was developed for British Canoeing by Istvan Balyi, Ph.D., acknowledged worldwide as the expert in long-term athlete development. This is just one of many examples of how British Canoeing brings current scientific thinking and practices to paddlesport.</p>
        </span>

        <span class="section" id="elite-athletes">
          <h3>Is British Canoeing focused on elite athletes?</h3>
          <p>British Canoeing offers awards and certification up to a highly advanced level, but places equal importance on developing paddlers at the beginner level. British Canoeing encourages all paddlers to develop appropriate skills and knowledge for their paddling environment and aspirations.</p>
        </span>

        <span class="section" id="become-a-coach">
          <h3>Should I become a British Canoeing Coach?</h3>
          <p>If you are interested in developing paddling skills in others, value working within a culture of best practices and continuous development within the most widespread and diverse paddlesport organization in the world, then <strong>YES</strong>.</p>
        </span>
      </section>

      <section id="board" class="clearfix">
        <h2>Board of Directors</h2>

        <span class="section" id="tobin">
          <h3>Harry Tobin <small>President</small></h3>

          <span class="pull-left board-img">
            <%= image_tag( 'harry-tobin.jpg', :alt => "Harry Tobin", :title => "Harry Tobin" ) %>
          </span>

          <p>As an Eagle Scout growing up in South Florida, I had the good fortune to call The Everglades my backyard and thanks to a very active Boy Scout troop I spent my youth camping and canoeing the wilds of Florida. By the time I entered college I discovered sailing Biscayne Bay. And then I got engaged in the corporate world. I spent the better part of my working life in the Northeast with one of the Big 4 accounting and consulting firms. Over my corporate career, my company taught me how to create, build and manage teams, projects and companies. They afforded me the opportunity to serve as Chairman of a not for profit corporate trade organization. But the best thing my company did for me was to relocate me back to South Florida where I discovered kayaking. From my first 1/2 day paddle to my most recent 120 mile unsupported expedition I discovered that I smile the widest when I am paddling. Paddling inspired me to start working out so I could paddle better and farther. As a result I am in the best shape of my life. Paddling reintroduced me to the awesomeness of nature I experienced as a young boy.  I believe everyone needs to know that paddling is more than waterfalls, rapids and glaciers. Paddling is a grin on a dolphins face as they race past your kayak in the bay and the grin on your best friends face when they surf backwards for the first time. Paddling connects us with ourselves, our friends, nature and the world. I am a British Canoeing 3&#42; Paddler and 4&#42; Aspirant. Paddle safe. Wear your PFD. Smile.</p>
          <p>Occupation: Managing Director, PricewaterhouseCoopers</p>
        </span><!-- ./tobin -->

        <span class="section" id="blades">
          <h3>Kelly Blades <small>Vice President</small></h3>

          <span class="pull-left board-img">
            <%= image_tag( 'kelly-blades.jpg', :alt => 'Kelly Blades', :title => 'Kelly Blades' ) %>
          </span>

          <p>Kelly began his journey in paddlesports at the age of 26 when he got a job at a local outdoor shop in Michigan. As an avid outdoors person, he thought "I'd like to give this whole kayaking thing a try". From the moment he took the precariously perched, store-borrowed Hydra out of the back of his Ford Ranger and put it in the water, he was hooked. Within a few weeks he had learned to roll and began his bi-monthly 10 hour trips down to the New River for a savage butt whopping and dynamic learning experience.</p>
          <p>Cut to 20 years later, Kelly has seen some boat miles. Kelly has taught sea kayaking all over the country and Canada for both the BCU (Back in them day's there wasn't no PNA) and the ACA. He has worked for several kayaking companies over the years, and is currently the Midwest Guy for P&amp;H, Pyranha, and Venture Kayaks. He is also proud to be a pro paddler for Werner Paddles, NRS, Northwater. Along with kayaking, Kelly is an avid canoeist and has recently entered the world of SUP as an ACA instructor. Oh, and he is also the co-host of the podcast, Kayakmainline.</p>
          <p>Kelly cites his time with the BCU as the foundation of his success in coaching. Blades believes,  "The super structure of the BCU, coupled with some imagination and creativity, and tempered with critical thinking is the compass that guides him through coaching".</p>
          <p>As a paddlesports professional and coach, Kelly would like to be considered for the PNA Board. He brings to the table an accomplished experience level in kayaking, a dedication to the educational process and safety standards, as well as a progressive outlook towards the sport.</p>
        </span><!-- ./blades -->

        <span class="section" id="bloyd-peshkin">
          <h3>Sharon Bloyd-Peshkin <small>Secretary</small></h3>

          <span class="pull-left board-img">
            <%= image_tag( 'sharon-bloyd-peshkin.jpg', :alt => "Sharon Bloyd-Peshkin", :title => "Sharon Bloyd-Peshkin" ) %>
          </span>

          <p>Sharon was drawn to British Canoeing by the high caliber of the coaching programs and the interdisciplinary nature of the foundation awards. With her husband, Alec (PNA Midwest Regional Representative), she runs the paddlesports coaching business Have Kayaks, Will Travel and maintains the website <a href="http://havekayakswilltravel.com" target="_blank">havekayakswilltravel.com</a>. They also lead a popular weekly whitewater kayaking class at their local YMCA; coach at a variety of symposia (WMCKA, Great Lakes, Ladies of the Lake, MEC Toronto Paddlefest, The Gales, The Autumn Gales), and have been guest coaches at Body Boat Blade in Washington state and Adventure Crafters in Maryland. They have written paddling-related articles for Adventure Kayak, Sea Kayaker and Ocean Paddler magazines. But above all, they love to paddle and to help others safely enjoy paddlesports. Sharon is a British Canoeing UKCC Level 2 coach, 5 Star Sea trainee and 3 Star Canoe. She is also an ACA Level 5 Open Water sea kayak instructor and Level 3 Whitewater kayak instructor.</p>
        </span><!-- ./bloyd-peshkin -->

        <span class="section" id="ozard">
          <h3>John Ozard <small>Treasurer</small></h3>

          <span class="pull-left board-img">
            <%= image_tag( 'john-ozard.jpg', :alt => "John Ozard", :title => "John Ozard" ) %>
          </span>

          <p>John Ozard is a Certified Wildlife Biologist, and is currently Leader of the Wildlife Diversity Unit in the Division of Fish, Wildlife and Marine Resources of the New York State Department of Environmental Conservation. He has worked in the nongame and endangered wildlife program throughout his 38 year career.</p>
          <p>John is an avid outdoorsman and paddler. His interest in canoeing began over 40 years ago, and includes leading wilderness river trips in the 1970s. In the early 1980s he built a 16 foot redwood strip tandem canoe. In late 2003 he discovered sea kayaking and was instantly hooked. John has been a member of the American Canoe Association (ACA) and British Canoeing since 2006. He has pursued advanced training from British Canoeing and holds a 2 Star Paddlesport award, 3 Star Sea Kayak and 3 Star Open Canoe awards, and is a 4 Star Sea Kayak Leader. He has also completed British Canoeing's Open Water Navigation, Coastal Navigation and Tidal Planning, Foundation Safety and Rescue Training, and 4 Star Open Canoe Leader trainings. John is also a UKCC Level 2 Coach.</p>
          <p>As a Director of Paddlesports North America, John brings a wealth of experience to the Board. He currently manages a staff of four biologists and six technicians in his ‘paying&apos; job, and has served as a volunteer on the Board of Directors of Old Songs, Inc. since 1981. Old Songs is an educational, not-for-profit corporation dedicated to preserving traditional music and dance. John is currently the Treasurer of Old Songs. In this role he oversees revenues and assets totaling approximately $300,000. He is also the Grounds Director for the annual three day Old Songs Festival of Traditional Music and Dance, now in its 35th year, and manages the on-site operation of the event. Previously he served as President and Vice-President of Old Songs.</p>
        </span><!-- ./ozard -->

        <span class="section" id="farity">
          <h3>Scott Fairty <small>Director</small></h3>

          <span class="pull-left board-img">
            <%= image_tag( 'scott-farity.jpg', :alt => "Scott Fairty", :title => "Scott Fairty" ) %>
          </span>

          <p>I began my paddling life as a whitewater boater in New England in 1981.  I took up sea kayaking as a way to stay in shape for the relatively short whitewater season.  After progressing through the <a href="http://www.americancanoe.org/" target="_blalnk">American Canoe Association (ACA)</a> instructor program in whitewater kayak, canoe, C-1 and sea kayak, I was still looking for additional challenges and for ways to continue to develop as a paddler and coach and that's when British Canoeing entered the scene.  In 1995 Nigel Dennis came to Rhode Island to run a variety or courses and I jumped on all of them.  I have been actively involved with British Canoeing ever since, including holding the position of  Midwest Regional Coaching Officer and member of the BCUNA Interim Board of Directors.  What I bring to the PNA Board is a depth and breadth of experience in both the ACA and British Canoeing systems, an 18 year history of involvement with British Canoeing and over 30 years of multi-discipline coaching.  British Canoeing has had a profoundly positive influence on my development as a paddler and coach and I want to help the organization to grow in the States so more paddlers can benefit from all it has to offer.</p>
          <p>Current Member of the Interim Board of Directors<br />
          Former Midwest Regional Coaching Officer (RCO)<br />
          Full list of coaching qualifications at <a href="http://scottfairty.com" target="_blank">scottfairty.com</a><br />
          </p>
        </span><!-- ./farity -->

        <span class="section" id="maynard">
          <h3>Steven Maynard <small>Director</small></h3>

          <span class="pull-left board-img">
            <%= image_tag( 'steven-maynard.jpg', :alt => "Steven Maynard", :title => "Steven Maynard" ) %>
          </span>

          <p>Steve has been working as an outdoor educator since 1987 and has been lucky enough to learn from and work with some of the best practitioners in the field, to teach a wide variety of clients in multiple land and water based disciplines all in some of the most spectacular locations Europe and North America have to offer.</p>
          <p>Steve&apos;s specialization is Paddlesport but his professional resume includes skiing, backpacking, climbing, navigation, outdoor living skills, personnel development, youth work, problem solving etc. etc.</p>
          <p>Steve started kayaking on remote sea lochs in North West Scotland. Since then he has paddled, guided, coached and been coached extensively in the United Kingdom, and throughout Europe and North America.</p>
          <p>Steve holds qualifications in many adventure sports, including sea kayaking certifications at the highest level from the British Canoe Union (BCU Level 5 Coach Sea, 5 Star Assessor Sea, BCU Level 3 Coach White Water, UKCC Coach Level 1 and Level 2 Director) and American Canoe Association (L5 Advanced Open Water Instructor and Level 4 White Water Instructor). Never one to rest on his laurels Steve is currently working towards his UKCC Level 4 Coach/M.S. in Performance coaching through Stirling University in Scotland.</p>
          <p>After nearly 20 fun filled years of being constantly on the move Steve took a &quot;Proper Job&quot; with the Expeditionary Studies B.S. and M.S. at the State University of New York, Plattsburgh campus. He is currently the head of Paddle Sports and Outdoor Living Skills for the Expeditionary Studies program and in his spare time continue to teach classes for other paddling schools, present at kayak symposiums and organize/work on BCU and ACA certification courses.</p>
          <p>One of Steve&apos;s biggest pleasures in life is helping people improve their understanding of technique and environment to enable them to have more fun and be safer in the outdoors.</p>
          <p><a href="http://stevemseakayak.com/">stevemseakayak.com</a></p>
        </span><!-- ./maynard -->

        <span class="section" id="franklin">
          <h3>Shawna Franklin <small>Director</small></h3>

          <span class="pull-left board-img">
            <%= image_tag( 'shawna-franklin.jpg', :alt => "Shawna Franklin", :title => "Shawna Franklin" ) %>
          </span>

          <p>Shawna Franklin has been involved in paddle sports for over two decades. Shawna is a co-owner of the two time award winning kayak school Body Boat Blade International. Shawna is a lead coach and peer-reviewed coach educator. Shawna is a team athlete for top paddle sports manufacturers and has worked with some to create award winning products. She has been featured in magazines, films and has taught as a guest coach at symposiums worldwide. Shawna is currently a British Canoeing Coach Level 5 aspirant, British Canoeing 5 Star Sea Leader, British Canoeing FSRT provider, British Canoeing Assessor Grade 4 and a British Canoeing UKCC Coach Level 1 and Coach Level 2 Provider.  Shawna has been an active member in British Canoeing since 1999. Her most notable personal paddling accomplishments are a successful circumnavigation of Iceland in 2003, circumnavigation of Haida Gwaii in 2008, and Vancouver Island in 2011.</p>
          <p>Shawna brings a good blend of energy and expertise to the PNA Board. She brings 19 years successful business experience, extensive knowledge and experience of paddle sport, and a long history and experience with British Canoeing. Her leadership and education skills are invaluable when working with others on the board. Shawna is a life time artist and can also offer graphic and design expertise to the job. Shawna is a committed and passionate paddler and coach in the paddling disciplines of sea kayaking, canoeing, kayak surfing, race kayaks and stand up paddle boarding.</p>
          <p>Shawna believes strongly in the mission and the goals of PNA. She is thrilled to be part of the process that will allow this organization to grow and to flourish and continue making unique opportunities available for new paddlers and experienced paddlers alike in their development and aspirations.</p>
        </span><!-- ./franklin -->

        <span class="section" id="johnstone-wright">
          <h3>Todd A Johnstone-Wright <small>Director</small></h3>
          <span class="pull-left board-img">
            <%= image_tag( 'todd-wright.jpg', :alt => 'Todd A Johnstone Wright', :title => 'Todd A Johnstone Wright' ) %>
          </span>

          <p>For most of my professional life I have been engaged in the teaching, instructing and coaching of outdoor pursuits and sport; and I believe that PNA&apos;s focus on education and the promotion of paddlesport as a lifetime sport, aligns closely with my values as an educator, paddler and coach.  In addition to expanding access to British Canoe Union training, assessment and coach development, I believe that PNA has the potential to cultivate a renewed interest in, and passion for paddlesport.  The advent of PNA marked an exciting moment in the evolution of paddlesports in North America and I would be honored to help steward its continued organizational development.  While my primary interest is in the promotion of  paddlesport to the next generation of enthusiasts and athletes; I believe that my professional experience as an educator and coach, coupled with my work as a college administrator and volunteer experience with other national bodies will help further the advances made by PNA&apos;s Interim Board.  In addition, I hold current awards from the British Canoe Union, the American Canoe Association as well as guiding and instructing credentials in other outdoor disciplines and I recently began the process to become a UKCC Coach.</p>
        </span><!-- ./johnstone-wright -->
      </section><!-- ./board -->

      <section id="regional-reps">
        <h2>Regional Representatives</h2>
        <p>The PNA Regional Representative (REP) is often your first point of contact to learn more about PNA, advance your paddling skills, find an available paddling program or just to ask a question.  PNA REPs work hard to  make sure the general public and PNA members have access to the quality training they expect from British Canoeing programs and by ensuring coaches have access to opportunities for continuing education within a defined geographic region.  Whether you are a new or experienced paddler or coach, your PNA REP can be an important resource for you.</p>
        <% @regions.each do |region| %>
        <h3><%= region.name %></h3>
        <div class="row">
          <div class="col-md-6">
            <ul class="region-locations">
            <% region.locations.each do |l| %>
              <li class="col-md-6"><%= l.name %></li>
            <% end %>
            </ul>
          </div>
          <div class="col-md-6">
            <% if region.rco %>
              <p><strong>Regional Representative: </strong><br /><%= "#{region.rco.first_name} #{region.rco.last_name}" %></p>
              <p><strong>Contact: </strong><br /><a href="mailto:<%= region.contact %>"><%= region.contact %></a></p>
            <% end %>
          </div>
        </div>
        <% end %>
      </section>


      <section id="sponsors">
        <h2>Our Sponsors</h2>
        <p>We would like to thank our founding sponsors for their generous support, which covered the expenses incurred in establishing PNA: <a href="http://wernerpaddles.com/" target="_blank" title="Werner Paddles">Werner Paddles</a>, <a href="http://www.phseakayaks.com/" target="_blank" title="PH Sea Kayaks">P&amp;H/Pyranha</a>, <a href="http://www.valleyseakayaks.com/" target="_blank" title="Valley Sea Kayaks">Valley Sea Kayaks</a>, <a href="http://seakayakinguk.com/" target="_blank" title="Sea Kayaking UK">Sea Kayaking UK</a>, and <a href="http://www.atlantickayaktours.com/" target="_blank" title="Atlantic Kayak Tours">Atlantic Kayak Tours</a>.</p>

        <div class="row sponsor-imgs">
          <div class="col-md-6">
            <%= link_to( image_tag('sponsor-werner-black-300.png', :class => 'sponsor img-reponsive'), 'http://wernerpaddles.com/', :target => "_blank" ) %>
          </div>
          <div class="col-md-6">
            <%= link_to( image_tag('sponsor-ph-black-300.png', :class => 'sponsor img-reponsive'), "http://www.phseakayaks.com/", :target => "_blank" ) %>
          </div>
        </div>
        <div class="row sponsor-imgs">
          <div class="col-md-6">
            <%= link_to( image_tag('sponsor-valley-black-300.png', :class => 'sponsor img-reponsive'), 'http://www.valleyseakayaks.com/', :target => "_blank" ) %>
          </div>
          <div class="col-md-6">
            <%= link_to( image_tag('sponsor-skuk-black-300.png', :class => 'sponsor img-reponsive'), 'http://www.seakayakinguk.com/', :target => "_blank" ) %>
          </div>
        </div>
        <div class="row sponsor-imgs">
          <div class="col-md-6 col-md-offset-3">
            <%= link_to( image_tag('sponsor-akt-black-300.png', :class => 'sponsor img-reponsive'), "http://www.atlantickayaktours.com/", :target => "_blank" ) %>
          </div>
        </div>
      </section><!-- ./sponsors -->


      <span class="clearfix"></span>
    </div>

    <div class="col-md-2 col-md-offset-1">
        <div class="sidenav hidden-sm hidden-xs scrollspy" data-spy="affix" data-offset-top="276" data-offset-bottom="360">
          <ul class="nav">
            <li><a href="#about">About PNA</a></li>
            <li>
              <a href="#faq">FAQ</a>
              <ul class="nav">
                <li><a href="#pna">What is PNA?</a></li>
                <li><a href="#bcu">What is British Canoeing?</a></li>
                <li><a href="#bcu-coach">Why choose a British Canoeing Coach?</a></li>
                <li><a href="#star-awards">What are Star Awards?</a></li>
                <li><a href="#ltpd">What is Long Term Paddler Development?</a></li>
                <li><a href="#elite-athletes">Is British Canoeing Focused on Elite Athletes?</a></li>
                <li><a href="#become-a-coach">Should I Become a British Canoeing Coach?</a></li>
              </ul>
            </li>
            <li>
              <a href="#board">Board of Directors</a>
              <ul class="nav">
                <!-- <li><a href="#rekman">Nikki Rekman</a></li> -->
                <li><a href="#tobin">Harry Tobin</a></li>
                <li><a href="#farity">Scott Fairty</a></li>
                <li><a href="#bloyd-peshkin">Sharon Bloyd-Peshkin</a></li>
                <li><a href="#ozard">John Ozard</a></li>
                <li><a href="#maynard">Steven Maynard</a></li>
                <li><a href="#franklin">Shawna Franklin</a></li>
                <li><a href="#blades">Kelly Blades</a></li>
                <li><a href="#johnstone-wright">Todd A Johnstone-Wright</a></li>
              </ul>
            </li>
            <li><a href="#regional-reps">Regional Representatives</a></li>
            <li><a href="#sponsors">Sponsors</a></li>
          </ul>
        </div>
    </div>

  </div>
</div>
<script type="text/javascript">
//$('body').scrollspy({ target: '.sidenav', offset: 170 });
</script>
