<%= render "shared/jumbotron", :image => 'about_hero.jpg', :text => ['About Paddlesports', 'North America'] %>

<div class="container body-copy">
  <div class="row">
    <div class="col-md-2">
      <%= image_tag "circle-text-logo-170.png", :class => 'img-responsive', :alt => "Paddlesports North America", :title => "Paddlesports North America" %>
    </div>
    <div class="col-md-7">
      <section id="about">
        <h2>Our Mission Statement</h2>
        <p>Paddlesports North America promotes paddler education, safety and stewardship of the environment throughout North America. The organization serves to expand knowledge and awareness of all paddlesport-related activities —canoe, kayak and stand up paddleboard— and encourages lifetime participation in the sport through delivery of long-term paddler development programs. Paddlesports North America provides classroom education and on-water training through a series of paddlesport modules developed by the British Canoe Union (BCU). The BCU program is internationally recognized as the gold standard in paddlesport training. Paddlesports North America coaches deliver BCU paddler and coach trainings and assessments, and determine achievement awards. The organization develops, encourages, trains and supports coaches to deliver these programs, and maintains all achievement records. The program is continually being refined around the needs of paddlers, and provides a balanced progression and support. Paddlesports North America encourages people of all ages and abilities to go paddling, stressing personal safety and respect for the environment.</p>
      </section>
      <section id="faq">
        <h2>Frequently Asked Questions</h2>

        <section id="pna">
          <h3>What is PNA?</h3>
          <p>Paddlesports North America (PNA) was formed in 2013 to provide access to British Canoe Union (BCU) paddler awards and coaching certifications in North America.</p>
          <p>PNA emphasizes paddler proficiency and safety as well as environmental awareness while promoting broader participation in paddlesports, including canoe, kayak and stand up paddleboard.</p>
          <p>PNA is currently run by an interim board. A permanent board will be elected by members by the end of 2014.</p>
        </section>

        <section id="bcu">
          <h3>What is the BCU?</h3>
          <p>The British Canoe Union (BCU) is the most established, geographically and technically diverse paddlesport organization in the world. The BCU supports the development of paddlesport primarily in the United Kingdom but has a considerable worldwide presence and impact. The BCU has members worldwide, active in all paddle sport disciplines, both recreational and competitive, at all levels, from beginner to World/Olympic Champion. BCU performance awards and coaching certifications are recognized worldwide for their rigor and consistency, and are the gold standard by which other programs are measured.</p>
        </section>

        <section id="bcu-coach">
          <h3>Why should I choose training from a BCU-certified coach?</h3>
          <p>All BCU coaches have been trained and assessed to an exceptionally high and uniform standard and are required to revalidate their certification through continued professional development. This means you get the highest quality and most up-to-date training from a network of coaches who are highly regarded worldwide, and can draw on an unprecedented body of knowledge covering all forms and levels of paddlesport and performance coaching.</p>
        </section>

        <section id="star-awards">
          <h3>What are Star Awards?</h3>
          <p>Star awards signify specific paddling, safety and leadership skills at different levels and in various craft. These awards provide a way to track your own progress as a paddler, and give others a reliable indication of your preparedness for trips and further trainings.</p>
          <p>The terms &quot;beginner,&quot; &quot;intermediate,&quot; &quot;advanced&quot; and &quot;expert&quot; are highly subjective when applied to paddlers. As a result, paddlers can get into frustrating or potentially dangerous circumstances when they self-assess with these terms. The BCU star award program offers a reliable guage of a paddler’s physical and mental performance on the water in specific conditions. Star awards also allow paddlers to plan and assess their personal paddling achievements and goals.</p>
        </section>

        <section id="ltpd">
          <h3>What is Long Term Paddler Development (LTPD)?</h3>
          <p>LTPD is a logical progression that supports paddlers throughout their paddling careers. It enables paddlers to progress by providing the right challenges and opportunities every step of the way as part of a clear and agreed-upon vision and strategy. LTPD is based on the Long Term Athlete Development model; it was developed for the BCU by Istvan Balyi, Ph.D., acknowledged worldwide as the expert in long-term athlete development. This is just one of many examples of how the BCU brings current scientific thinking and practices to paddlesport.</p>
        </section>

        <section id="elite-athletes">
          <h3>Is the BCU focused on elite athletes?</h3>
          <p>The BCU offers awards and certification up to a highly advanced level, but places equal importance on developing paddlers at the beginner level. The BCU encourages all paddlers to develop appropriate skills and knowledge for their paddling environment and aspirations.</p>
        </section>

        <section id="become-a-coach">
          <h3>Should I become a BCU Coach?</h3>
          <p>If you are interested in developing paddling skills in others, value working within a culture of best practices and continuous development within the most widespread and diverse paddlesport organization in the world, then <strong>YES</strong>.</p>
        </section>
      </section>
      <section id="sponsors">
        <h2>Our Sponsors</h2>
        <p>Morbi sollicitudin, arcu non pellentesque vulputate, lectus tellus pulvinar erat, quis dictum sem lectus in diam. Nam dapibus faucibus dolor bibendum aliquam. Mauris sollicitudin tincidunt enim vitae sagittis. Morbi non tellus bibendum, feugiat dui a, rhoncus quam. Nulla sollicitudin, velit eu sollicitudin adipiscing, mauris ligula vulputate mauris, a porttitor est justo vel ligula.</p>
        <div class="row">
          <div class="col-md-4">
            <%= image_tag('sponsor_fpo.png', :class => 'sponsor img-reponsive') %>
          </div>
          <div class="col-md-4">
            <%= image_tag('sponsor_fpo.png', :class => 'sponsor img-reponsive') %>
          </div>
          <div class="col-md-4">
            <%= image_tag('sponsor_fpo.png', :class => 'sponsor img-reponsive') %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <%= image_tag('sponsor_fpo.png', :class => 'sponsor img-reponsive') %>
          </div>
          <div class="col-md-4">
            <%= image_tag('sponsor_fpo.png', :class => 'sponsor img-reponsive') %>
          </div>
          <div class="col-md-4">
            <%= image_tag('sponsor_fpo.png', :class => 'sponsor img-reponsive') %>
          </div>
        </div>
      </section>
    </div>

    <div class="col-md-2 col-md-offset-1">
        <div class="sidenav hidden-sm hidden-xs scrollspy" data-spy="affix" data-offset-top="276">
          <ul class="nav">
            <li><a href="#about">About PNA</a></li>
            <li>
              <a href="#faq">FAQ</a>
              <ul class="nav">
                <li><a href="#pna">What is PNA?</a></li>
                <li><a href="#bcu">What is the BCU?</a></li>
                <li><a href="#bcu-coach">Why choose a BCU Coach?</a></li>
                <li><a href="#star-awards">What are Star Awards?</a></li>
                <li><a href="#ltpd">What is Long Term Paddler Development?</a></li>
                <li><a href="#elite-athletes">Is the BCU Focused on Elite Athletes?</a></li>
                <li><a href="#become-a-coach">Should I Become a BCU Coach?</a></li>
              </ul>
            </li>
            <li><a href="#sponsors">Sponsors</a></li>
          </ul>
        </div>
    </div>

  </div>
</div>
<script type="text/javascript">
//$('body').scrollspy({ target: '.sidenav', offset: 170 });
</script>
