<%= render "shared/jumbotron", :image => 'about_hero.jpg', :text => ['PNA Board', 'Candidates'] %>
<div class="container body-copy">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p class="lead well">Meet your fellow PNA members who are candidates for a seat on  the PNA Board of Directors (alphabetically): </p>
      
      <span class="section" id="blades">
        <h3>Kelly Blades</h3>

        <!-- <span class="pull-left board-img">
          
        </span> -->

        <p>Kelly began his journey in paddlesports at the age of 26 when he got a job at a local outdoor shop in Michigan. As an avid outdoors person, he thought "I'd like to give this whole kayaking thing a try". From the moment he took the precariously perched, store-borrowed Hydra out of the back of his Ford Ranger and put it in the water, he was hooked. Within a few weeks he had learned to roll and began his bi-monthly 10 hour trips down to the New River for a savage butt whopping and dynamic learning experience.</p>
        <p>Cut to 20 years later, Kelly has seen some boat miles. Kelly has taught sea kayaking all over the country and Canada for both the BCU (Back in them day's there wasn't no PNA) and the ACA. He has worked for several kayaking companies over the years, and is currently the Midwest Guy for P&amp;H, Pyranha, and Venture Kayaks. He is also proud to be a pro paddler for Werner Paddles, NRS, Northwater. Along with kayaking, Kelly is an avid canoeist and has recently entered the world of SUP as an ACA instructor. Oh, and he is also the co-host of the podcast, Kayakmainline.</p>
        <p>Kelly sites his time with the BCU as the foundation of his success in coaching. Blades believes,  "The super structure of the BCU, coupled with some imagination and creativity, and tempered with critical thinking is the compass that guides him through coaching".</p>
        <p>As a paddlesports professional and coach, Kelly would like to be considered for the PNA Board. He brings to the table an accomplished experience level in kayaking, a dedication to the educational process and safety standards, as well as a progressive outlook towards the sport.</p>
      </span><!-- ./blades -->
        
      <span class="section" id="bloyd-peshkin">
        <h3>Sharon Bloyd-Peshkin</h3>

        <span class="pull-left board-img">
          <%= image_tag( 'sharon-bloyd-peshkin.jpg', :alt => "Sharon Bloyd-Peshkin", :title => "Sharon Bloyd-Peshkin" ) %>
        </span>

        <p>Sharon Bloyd-Peshkin has been secretary of the interim PNA board and is the editor of the PNA newsletter. In paddlesports, she is a UKCC Coach 2 and five-star sea trainee, and half of the paddlesports coaching business Have Kayaks, Will Travel in the Chicago area. She is also an associate professor at Columbia College Chicago, where she brings British Canoeing coaching strategies into her classrooms. Sharon is committed to the PNA mission and wishes to do what she can to help grow the organization.</p>
      </span><!-- ./bloyd-peshkin -->
      
      <span class="section" id="farity">
        <h3>Scott Fairty</h3>

        <span class="pull-left board-img">
          <%= image_tag( 'scott-farity.jpg', :alt => "Scott Fairty", :title => "Scott Fairty" ) %>
        </span>

        <p>I am a current Member of the PNA Interim Board of Directors and also serves as the PNA Administrator. I am a former BCUNA Midwest Regional Coaching Officer. I began my paddling life as a whitewater boater in New England in 1981.  I took up sea kayaking as a way to stay in shape for the relatively short whitewater season.  After progressing through the American Canoe Association (ACA) instructor program in whitewater kayak, canoe, C-1 and sea kayak, I was still looking for additional challenges and for ways to continue to develop as a paddler and coach and that's when British Canoeing entered the scene.  In 1995 Nigel Dennis came to Rhode Island to run a variety of courses and I jumped on all of them.  I have been actively involved with British Canoeing ever since, including holding the position of  Midwest Regional Coaching Officer and member of the BCUNA Interim Board of Directors.  What I bring to the PNA Board is a depth and breadth of experience in both the ACA and British Canoeing systems, an 18 year history of involvement with British Canoeing and over 30 years of multi-discipline coaching.  British Canoeing has had a profoundly positive influence on my development as a paddler and coach and I want to help the organization to grow in the States so more paddlers can benefit from all it has to offer.</p>
      </span><!-- ./farity -->
      
      <span class="section" id="franklin">
        <h3>Shawna Franklin</h3>

        <span class="pull-left board-img">
          <%= image_tag( 'shawna-franklin.jpg', :alt => "Shawna Franklin", :title => "Shawna Franklin" ) %>
        </span>

        <p>Shawna currently serves on the PNA Board and chairs the Coaches Committee.  She has been involved in paddle sports for over two decades and is a co-owner of the two time award winning kayak school Body Boat Blade International. Shawna is a lead coach and peer-reviewed coach educator. Shawna is a team athlete for top paddle sports manufacturers and has helped to create some award winning products. She has been featured in magazines, films and has taught as a guest coach at symposiums worldwide. Shawna is currently a British Canoeing Coach Level 5 aspirant, British Canoeing 5 Star Sea Leader, British Canoeing FSRT provider, British Canoeing Assessor Grade 4 and a British Canoeing UKCC Coach Level 1 and Coach Level 2 Provider. Shawna has been an active member in British Canoeing since 1999. Her most notable personal paddling accomplishments are a successful circumnavigation of Iceland in 2003, Haida Gwaii in 2008, and Vancouver Island in 2011.</p>
        <p>Shawna brings a good blend of energy and expertise to the PNA Board. She brings 19 years successful business experience, extensive knowledge and experience of paddle sport, and a long history and experience with British Canoeing. Her leadership and education skills are invaluable when working with others on the board. Shawna is a life time artist and can also offer graphic and design expertise to the job. Shawna is a committed and passionate paddler and coach in the paddling disciplines of sea kayaking, canoeing, kayak surfing, race kayaks and stand up paddle boarding.</p>
        <p>Shawna believes strongly in the mission and the goals of PNA. She is thrilled to be part of the process that will allow this organization to grow and to flourish and continue making unique opportunities available for new paddlers and experienced paddlers alike in their development and aspirations.</p>       
      </span><!-- ./franklin -->
      
      <span class="section" id="johnstone-wright">
        <h3>Todd A Johnstone-Wright</h3>
        <!-- <span class="pull-left board-img">
          
        </span> -->
        
        <p>For most of my professional life I have been engaged in the teaching, instructing and coaching of outdoor pursuits and sport; and I believe that PNA’s focus on education and the promotion of paddlesport as a lifetime sport, aligns closely with my values as an educator, paddler and coach.  In addition to expanding access to British Canoe Union training, assessment and coach development, I believe that PNA has the potential to cultivate a renewed interest in, and passion for paddlesport.  The advent of PNA marked an exciting moment in the evolution of paddlesports in North America and I would be honored to help steward its continued organizational development.  While my primary interest is in the promotion of  paddlesport to the next generation of enthusiasts and athletes; I believe that my professional experience as an educator and coach, coupled with my work as a college administrator and volunteer experience with other national bodies will help further the advances made by PNA’s Interim Board.  In addition, I hold current awards from the British Canoe Union, the American Canoe Association as well as guiding and instructing credentials in other outdoor disciplines and I recently began the process to become a UKCC Coach.</p>
      </span><!-- ./johnstone-wright -->
      
      <span class="section" id="kane">
        <h3>Matthew Kane</h3>
        
        <span class="pull-left board-img">
          <%= image_tag( 'matthew-kane.jpg', :alt => "Matthew Kane", :title => "Matthew Kane" ) %>
        </span>
        
        <p>For the past 11 years, Matt has lived and worked in New York’s Hudson River Valley, starting as recreational sea paddler and river guide before earning his instructor credentials in 2007.  He is currently a full-time paddle sport coach and owner of Prime Paddlesports which is dedicated to training and instruction for adults and youth.  He also runs the successful Hudson Valley Paddlesport Symposium which brings over 35 paddlers and coaches together for three days of highly personalized training on the Hudson River.  He also hosts a variety of instructional trips from New Jersey up to Maine.   Matt has been fortunate to work with a number of paddle sport operations in the tri-state area and, through those affiliations, help hundreds of paddling novices fall in love with the sport.</p>
        <p>Matt’s qualifications include ACA Level Four Open Water Instructor and BCU Three Star Paddler as well as certifications in other outdoor pursuits including SOLO WEMT, SOLO Wilderness Medicine Instructor and Outdoor Emergency Care Technician and a member of Ski Patrol at the US Military Academy's Victor Constant Ski Area.</p>
      </span><!-- ./kane -->
      
      <span class="section" id="knepper">
        <h3>Andrea Knepper</h3>

        <span class="pull-left board-img">
          <%= image_tag( 'andrea-knepper.jpg', :alt => "Andrea Knepper", :title => "Andrea Knepper" ) %>
        </span>

        <p>I love water. I love being on it; I love being in it; I love being near it. I love rough water and flat water. I love freshwater and saltwater. I love hour-long paddles and multi-day trips. I love this sport that spans the sublime and the extreme; flat mirror-like water and crashing frothy water; a sport that calls me to a calm day immersed in utter beauty or an adrenalin-loaded couple hours of high-stakes paddling that takes every ounce of my attention. I love to be in all of this water.</p>
        <p>My family started canoeing on the rivers of western Colorado into Utah when I was a teenager, and I was hooked for life. 25 years later sea kayaking has become my primary paddling discipline, and there's little I love more than being in my Pintail – whether for its finesse on flat water or it's playfulness in conditions.</p>
        <p>After being sidelined for a couple years by spine surgeries about the same time the "new British Canoeing system" rolled out, I have earned my Coach Level 2, my 4* Sea, my 3* canoe, and I’ve completed 5* sea training, 4* canoe training and Coach Level 3 Core Training. I’ve become a better paddler and coach for it. The British Canoeing system has changed my coaching and paddling philosophy and practice in two primary ways:
          <ol>
            <li>I believe firmly that facility in one discipline transfers to others and makes us better all-around paddlers, who have more fun on the water in our "primary" boat and all others.</li>
            <li>I believe that British Canoeing system offers unparalleled training to develop excellent paddlers and coaches – and that the foundation of both lies in excellent coaching for beginners.</li>
          </ol>
        </p>
      </span>
      
      <span class="section" id="maynard">
        <h3>Steven Maynard</h3>

        <span class="pull-left board-img">
          <%= image_tag( 'steven-maynard.jpg', :alt => "Steven Maynard", :title => "Steven Maynard" ) %>
        </span>

        <p>Steve is a current PNA Board Member. He has worked as an outdoor educator since 1987 when he started kayaking on remote sea lochs in North West Scotland. Since then he has paddled, guided and coached extensively in the United Kingdom, and throughout Europe and North America.</p>
        <p>Steve is a full time paddlesport coach involved with training and certification of personal skills, leadership and coaching qualifications at all levels and in multiple disciplines. He also is the head paddle sports instructor for the Expeditionary Studies Major at the State University of New York at Plattsburgh and in his spare time presents at kayak symposiums and organizes/works on British Canoeing star and coach courses.</p>
        <p>Steve holds qualifications in many adventure sports, including sea kayaking certifications at the highest level from the British Canoe Union (Level 5 Coach Sea and an assessor for star tests up to and including 5 Star Leader award Sea, UKCC Coach Level 1 and 2 Director, Level 3 Coach Whitewater) and American Canoe Association (Level 5 Advanced Open Water Coastal Kayaking and Level 4 Whitewater Instructor). Steve is currently enrolled in the new BCU Level 4 coach program which will lead to a Masters in Performance Coaching from the University of Stirling.</p>
        <p>Steve enjoys nothing more than helping people improve their understanding of technique, skill and environment to make stronger safer paddlers.</p>
      </span><!-- ./maynard -->
      
      <span class="section" id="ozard">
        <h3>John Ozard</h3>

        <span class="pull-left board-img">
          <%= image_tag( 'john-ozard.jpg', :alt => "John Ozard", :title => "John Ozard" ) %>
        </span>

        <p>John Ozard is a current PNA Board Member and also serves as the organization’s Treasurer.  He is a Certified Wildlife Biologist, and is Leader of the Wildlife Diversity Unit in the Division of Fish, Wildlife and Marine Resources of the New York State Department of Environmental Conservation. He has worked in the nongame and endangered wildlife program throughout his 38 year career.</p>
        <p>John is an avid outdoorsman and paddler. His interest in canoeing began over 40 years ago, and includes leading wilderness river trips in the 1970s. In the early 1980s he built a 16 foot redwood strip tandem canoe. In late 2003 he discovered sea kayaking and was instantly hooked. John has been a member of the American Canoe Association (ACA) and British Canoeing since 2006. He has pursued advanced training from British Canoeing and holds a 2 Star Paddlesport award, 3 Star Sea Kayak and 3 Star Open Canoe awards, and is a 4 Star Sea Kayak Leader. He has also completed British Canoeing's Open Water Navigation, Coastal Navigation and Tidal Planning, Foundation Safety and Rescue Training, and 4 Star Open Canoe Leader trainings. John is also a UKCC Level 2 Coach.</p>
        <p>John brings a wealth of experience to the Board. He currently manages a staff of four biologists and six technicians in his ‘paying’ job, and has served as a volunteer on the Board of Directors of Old Songs, Inc. since 1981. Old Songs is an educational, not-for-profit corporation dedicated to preserving traditional music and dance. John is currently the Treasurer of Old Songs. In this role he oversees revenues and assets totaling approximately $300,000. He is also the Grounds Director for the annual three day Old Songs Festival of Traditional Music and Dance, now in its 35th year, and manages the on-site operation of the event. Previously he served as President and Vice-President of Old Songs.</p>
      </span><!-- ./ozard -->
      
      <span class="section" id="stoehrer">
        <h3>R. Emil Stoehrer</h3>
        
        <!-- <span class="pull-left board-img">
          
        </span> -->
        
        <p>It started slowly for me... buy a boat, buy some kit.  Take some classes.  Look into and get caught up in the BCU.  Quickly it escalated into more training and now just a day wasn’t enough; I had to take weekends.  This rapidly blossomed into week long trips. Later, deep in the BCU throes, I was compelled to paddle abroad.  And so I trained and trained and paddled and eventually headed overseas with some mates to the UK and (BANG!) the Irish Sea slaps us silly.  And I really, really liked it. And realized that this is it –I’m in love and that this is my path.</p>
        <p>I have trained with Tom Bergh @ Maine Island Kayak, have achieved a BCU 5* with Nigel Dennis and Pete Jones/Holyhead in 2007 via Welsh Canoe Association. I have been an ACA Coach since 2010, a  Registered Maine Guide since 2004 and I am Red Cross and  SOLO Wilderness First Aid trained.</p>
        <p>I have guided and coached independently and for Maine Island Kayak Company, Kayak Waveology and Still River Outfitters. Over 20 years of experience kayaking and camping.</p>
        <p>Additionally, I operate a family owned business employing approximately 60 people in 3 locations and possess both the micro and macro skills to keep a multi-million dollar operation successful in a changing marketplace. I believe my background both on the water and in private enterprise would benefit PNA as it continues to grow and further establish itself in paddle sport.</p>
        <p>This is my salty, watery path and I love it!  I really enjoy opening people up to kayaking and if I can help PNA bring more folks onto the water and into the structured learning environment that has fueled my life to some amazing adventures then it would be time well spent!</p>
      </span><!-- ./stoehrer -->
      
      <span class="section" id="stone">
        <h3>Sidney Stone</h3>
        
        <!-- <span class="pull-left board-img">
          
        </span> -->
        
        <p>Sid Stone has been an avid paddler for 20 years. He has progressed through the BCU system holding Sea Kayak Coach Level 2, Whitewater 3*, and Open Canoe 2*. Sid worked, until he moved to Virginia, working for Atlantic Kayak Tours as a coach and trip leader. He has paddled varied venues including Alaska, Wales, Long Island Sound, and Hudson and Potomac Rivers. Sid has experience leading a couple of non-paddling volunteer organizations: President of the Washington Woodworkers Guild and founder/President of the Capital Area Woodturners.</p>
        <p>Coming up under the BCU system Sid understands the BCU from the perspective of both student and coach. Sid, having benefited from many BCU coaches, wants to pay forward the PNA by helping it grow to reach more paddlers.</p>
      </span><!-- ./stone -->
      
      <span class="section" id="tobin">
        <h3>Harry Tobin</h3>

        <span class="pull-left board-img">
          <%= image_tag( 'harry-tobin.jpg', :alt => "Harry Tobin", :title => "Harry Tobin" ) %>
        </span>

        <p>I currently serve as the interim President of PNA and have served on the Board since pre-incorporation.  I look forward to serving another term as we continue to build our organization. As an Eagle Scout growing up in South Florida, I had the good fortune to call The Everglades my backyard and thanks to a very active Boy Scout troop I spent my youth camping and canoeing the wilds of Florida. By the time I entered college I discovered sailing Biscayne Bay. And then I got engaged in the corporate world. I spent the better part of my working life in the Northeast with one of the Big 4 accounting and consulting firms. Over my corporate career, my company taught me how to create, build and manage teams, projects and companies. They afforded me the opportunity to serve as Chairman of a not for profit corporate trade organization. But the best thing my company did for me was to relocate me back to South Florida where I discovered kayaking. From my first 1/2 day paddle to 120 mile unsupported expeditions, I discovered that I smile the widest when I am paddling. Paddling inspired me to start working out so I could paddle better and farther. As a result I am in the best shape of my life. Paddling reintroduced me to the awesomeness of nature I experienced as a young boy.  I believe everyone needs to know that paddling is more than waterfalls, rapids and glaciers. Paddling is a grin on a dolphins face as they race past your kayak in the bay and the grin on your best friends face when they surf backwards for the first time. Paddling connects us with ourselves, our friends, nature and the world. I am a British Canoeing 3* Paddler and 4* Aspirant. Paddle safe. Wear your PFD. Smile.</p>
      </span><!-- ./tobin -->
      
      <span class="section" id="vaillancourt-alder">
        <h3>Andrea Vaillancourt-Alder</h3>
        
        <span class="pull-left board-img">
          <%= image_tag( 'andrea-vaillancourt-alder.jpg', :alt => "Andrea Vaillancourt-Alder", :title => "Andrea Vaillancourt-Alder" ) %>
        </span>
        
        <p>I am happy to put myself forward for a board member at large position as I have skills from my previous work life that I believe would be an asset to PNA. I have extensive grant writing experience with not for profit organizations and, when based in London,  was the community program manager for various waterways restoration projects in central London and in Cornwall. I also helped run a number of events for visitors and locals to promote the heritage of  historic waterways.</p>
        <p>I am passionate about paddlesport, am a qualified teacher, a leave no trace master educator, a L2 BCU coach and hold my 3 star sea certificate. In addition I am endorsed by the ACA to teach adaptive paddling. I own Seabirds International and work in partnership with the Department of Environment and Conservation to deliver kayaking for the Beyond BOW (becoming an outdoors woman program) and with the NY State parks to assist with the WOW (wear it on the water) program. I also work in partnership with the Seneca Nation of Indians and a number of local outfitters to help make the sport safe and accessible locally.</p>
      </span><!-- ./vaillancourt-alder -->
    </div>
  </div>
</div>