<%= render "shared/jumbotron", :image => 'hero-coaches.jpg', :text => ['PNA', 'Documents'] %>

<div class="container body-copy">
  <div class="row">
    <div class="col-md-2 leftrail" data-hook="sidebar">

      <p><strong>Send all paperwork — including registration forms and fees — to PNA at:</strong></p>
      <%= render 'shared/pna_contact_info' %>
      <p>Please make checks payable to <em>Paddlesports North America</em>.</p>
    </div><!-- ./sidebar -->

    <div class="col-md-7" data-hook="content">
      <!-- Main Content Area -->
      
      <section id="fees">
        <h2>2015 Fee Structure (valid until 12/31/2015)</h2>
        <p>Currently, Paddlesports North America will only accept payment via a personal or business check payable in U.S. dollars and drawn on a U.S. bank, or via PayPal's credit card payment or transfer options. Please contact us at: <a href="mailto:info@paddlesportsnorthamerica.org">info@paddlesportsnorthamerica.org</a> if you would like to receive a PayPal invoice for membership and/or program services. We are investigating other payment mechanisms, and hope to make additional options available in the future.</p>
        <p><strong>Make checks payable to:</strong> Paddlesports North America. Please do not send cash through the mail!</p>
        
        <span class="section" id="program-fees">
          <h3>Program Fees</h3>
          <table class="table">
            <thead>
              <tr><!-- Row 1 -->
                 <th>Program</th><!-- Col 1 -->
                 <th>Member</th><!-- Col 2 -->
                 <th>Non-Member</th><!-- Col 3 -->
              </tr>
            </thead>
            <tbody>
              <tr><!-- Row 2 -->
                 <td>Paddlepower Start</td><!-- Col 1 -->
                 <td align="right">$3.00</td><!-- Col 2 -->
                 <td align="right">$3.00</td><!-- Col 3 -->
              </tr>
              <tr><!-- Row 3 -->
                 <td>1 Star</td><!-- Col 1 -->
                 <td align="right">$10.00</td><!-- Col 2 -->
                 <td align="right">$15.00</td><!-- Col 3 -->
              </tr>
              <tr><!-- Row 4 -->
                 <td>2 Star</td><!-- Col 1 -->
                 <td align="right">$10.00</td><!-- Col 2 -->
                 <td align="right">$15.00</td><!-- Col 3 -->
              </tr>
              <tr><!-- Row 5 -->
                 <td>3 Star (Sea, White Water, Canoe, Surf)</td><!-- Col 1 -->
                 <td align="right">$20.00</td><!-- Col 2 -->
                 <td align="right">$40.00</td><!-- Col 3 -->
              </tr>
              <tr><!-- Row 6 -->
                 <td>4 Star Leader (Sea, White Water, Canoe, Surf)</td><!-- Col 1 -->
                 <td align="right">$20.00</td><!-- Col 2 -->
                 <td align="right">$40.00</td><!-- Col 3 -->
              </tr>
              <tr><!-- Row 7 -->
                 <td>5 Star Leader (Sea, White Water, Canoe, Surf)</td><!-- Col 1 -->
                 <td align="right">$20.00</td><!-- Col 2 -->
                 <td align="right">$40.00</td><!-- Col 3 -->
              </tr>
              <tr><!-- Row 8 -->
                 <td>Foundation Safety and Rescue Training (FSRT)</td><!-- Col 1 -->
                 <td align="right">$15.00</td><!-- Col 2 -->
                 <td align="right">$25.00</td><!-- Col 3 -->
              </tr>
              <tr><!-- Row 9 -->
                 <td>White Water Safety and Rescue Training (WSRT)</td><!-- Col 1 -->
                 <td align="right">$15.00</td><!-- Col 2 -->
                 <td align="right">$25.00</td><!-- Col 3 -->
              </tr>
              <tr><!-- Row 10 -->
                 <td>Coastal Navigation and Tidal Planning</td><!-- Col 1 -->
                 <td align="right">$20.00</td><!-- Col 2 -->
                 <td align="right">$25.00</td><!-- Col 3 -->
              </tr>
              <tr><!-- Row 11 -->
                 <td>Open Water Navigation and Tidal Planning</td><!-- Col 1 -->
                 <td align="right">$20.00</td><!-- Col 2 -->
                 <td align="right">$25.00</td><!-- Col 3 -->
              </tr>
              <tr><!-- Row 12 -->
                 <td>Coach Registration: UKCC Level 1 Training and Assessment</td><!-- Col 1 -->
                 <td align="right">$75.00</td><!-- Col 2 -->
                 <td align="right">NA</td><!-- Col 3 -->
              </tr>
              <tr><!-- Row 13 -->
                 <td>Coach Registration: UKCC Level 2 Training and Assessment</td><!-- Col 1 -->
                 <td align="right">$160.00</td><!-- Col 2 -->
                 <td align="right">NA</td><!-- Col 3 -->
              </tr>
              <tr><!-- Row 14 -->
                 <td class="indent">Level 2 Moderate Water Endorsement</td><!-- Col 1 -->
                 <td align="right">$35.00</td><!-- Col 2 -->
                 <td align="right">NA</td><!-- Col 3 -->
              </tr>
              <tr><!-- Row 15 -->
                 <td class="indent">Level 2 Advanced Water Endorsement</td><!-- Col 1 -->
                 <td align="right">$35.00</td><!-- Col 2 -->
                 <td align="right">NA</td><!-- Col 3 -->
              </tr>
              <tr><!-- Row 16 -->
                 <td>Coach Registration: UKCC Level 3 Core Training</td><!-- Col 1 -->
                 <td align="right">$80.00</td><!-- Col 2 -->
                 <td align="right">NA</td><!-- Col 3 -->
              </tr>
              <tr><!-- Row 17 -->
                 <td>Coach Registration: UKCC Level 3 Discipline Specific Training</td><!-- Col 1 -->
                 <td align="right">$80.00</td><!-- Col 2 -->
                 <td align="right">NA</td><!-- Col 3 -->
              </tr>
              <tr><!-- Row 18 -->
                 <td>Coach Update</td><!-- Col 1 -->
                 <td align="right">$35.00</td><!-- Col 2 -->
                 <td align="right">NA</td><!-- Col 3 -->
              </tr>
              <tr><!-- Row 19 -->
                 <td>Foundation Modules</td><!-- Col 1 -->
                 <td align="right">$10.00</td><!-- Col 2 -->
                 <td align="right">$20.00</td><!-- Col 3 -->
              </tr>
            </tbody>
          </table>
        </span>

        <span class="section" id="membership-fees">
          <h3>Membership Fees</h3>
          <table class="table">
            <thead>
              <tr><!-- Row 1 -->
                 <th>Yearly Membership</th><!-- Col 1 -->
                 <th>Fee</th><!-- Col 2 -->
              </tr>
            </thead>
            <tbody>
              <tr><!-- Row 2 -->
                 <td>Student (Under 26 Years)</td><!-- Col 1 -->
                 <td align="right">$60.00</td><!-- Col 2 -->
              </tr>
              <tr><!-- Row 3 -->
                 <td>Individual</td><!-- Col 1 -->
                 <td align="right">$75.00</td><!-- Col 2 -->
              </tr>
              <tr><!-- Row 4 -->
                 <td>Family (Two Adults)</td><!-- Col 1 -->
                 <td align="right">$125.00</td><!-- Col 2 -->
              </tr>
              <tr><!-- Row 5 -->
                 <td class="indent">Additional Family Member Under 18 Years</td><!-- Col 1 -->
                 <td align="right">$20.00</td><!-- Col 2 -->
              </tr>
              <tr><!-- Row 6 -->
                 <td>Paddling Club</td><!-- Col 1 -->
                 <td align="right">$175.00</td><!-- Col 2 -->
              </tr>
              <tr><!-- Row 7 -->
                 <td>Sustaining</td><!-- Col 1 -->
                 <td align="right">$250.00+</td><!-- Col 2 -->
              </tr>
            </tbody>
          </table>
        </span>
      </section>
      <!-- <section id="awards">

      </section> --><!-- ./awards -->
      <p>Most files below are in PDF format Version 8. All of these forms are updated periodically. Please use the most up to date forms. All paperwork needs to be printed at a high resolution on white paper. <a href="/contact">Contact us</a> if you need any of the forms/booklets mailed instead of downloaded.</p>
      <p>Many of these documents are formatted for A4 paper, for best results on standard US Letter, set your printer to fit the contents to the page.</p>
      <section id="syllabi">
        <h2>Syllabi</h2>

        <span class="section" id="paddlepower">
          <h3>Paddlepower &amp; Cross Stream Challenge</h3>
          <div class="list-group">
            <%= link_to "Cross Stream Challenge Information", s3_url( 'downloads/crossstream-challenge.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "Paddlepower Information", s3_url( 'downloads/paddlepower.pdf'), :class => 'list-group-item', :target => '_blank' %>
          </div>
        </span>

        <span class="section" id="star-syllabi">
          <h3>Star Awards</h3>
          <div class="list-group">
            <%= link_to "Paddlesport Start", s3_url( 'downloads/bcu-paddlesport-start-syllabi-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
          </div>

          <div class="list-group">
            <%= link_to "1 Star Syllabus", s3_url( 'downloads/bcu-1-star-syllabi-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "1 Star Trainer Notes", s3_url( 'downloads/bcu-1-star-training-notes-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "1 Star Assessor Notes", s3_url( 'downloads/bcu-1-star-assessment-notes-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
          </div>

          <div class="list-group">
            <%= link_to "2 Star Syllabus", s3_url( 'downloads/bcu-2-star-syllabi-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "2 Star Trainer Notes", s3_url( 'downloads/bcu-2-star-training-notes-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "2 Star Assessor Notes", s3_url( 'downloads/bcu-2-star-assessment-notes-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
          </div>

          <div class="list-group">
            <%= link_to "3 Star Freestyle Kayak Syllabus", s3_url( 'downloads/bcu-3-star-freestyle-kayak-syllabi-v3-0-oct13.pdf' ), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "3 Star Freestyle Canoe Syllabus", s3_url( 'downloads/bcu-3-star-freestyle-canoe-syllabi-v3-0-oct13.pdf' ), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "3 Star Freestyle Training Notes", s3_url( 'downloads/bcu-3-star-freestyle-training-notes-v3-0-oct13.pdf' ), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "3 Star Freestyle Assessment Notes", s3_url( 'downloads/bcu-3-star-freestyle-assessment-notes-v3-0-oct13.pdf' ), :class => 'list-group-item', :target => '_blank' %>
          </div>

          <div class="list-group">
            <%= link_to "3 Star Open Canoe Syllabus", s3_url( 'downloads/bcu-3-star-open-canoe-syllabi-v3-1-aug14.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "3 Star Open Canoe Trainer Notes", s3_url( 'downloads/bcu-3-star-open-canoe-training-notes-v3-1-aug14.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "3 Star Open Canoe Assessor Notes", s3_url( 'downloads/bcu-3-star-open-canoe-assessment-notes-v3-1-aug14.pdf'), :class => 'list-group-item', :target => '_blank' %>
          </div>

          <div class="list-group">
            <%= link_to "3 Star Sea Syllabus", s3_url( 'downloads/bcu-3-star-sea-kayak-syllabi-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "3 Star Sea Trainer Notes", s3_url( 'downloads/bcu-3-star-sea-training-notes-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "3 Star Sea Assessor Notes", s3_url( 'downloads/bcu-3-star-sea-assessment-notes-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
          </div>

          <div class="list-group">
            <%= link_to "3 Star Surf Syllabus", s3_url( 'downloads/bcu-3-star-surf-syllabi-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "3 Star Surf Trainer Notes", s3_url( 'downloads/bcu-3-star-surf-training-notes-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "3 Star Surf Assessor Notes", s3_url( 'downloads/bcu-3-star-surf-assessment-notes-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
          </div>

          <div class="list-group">
            <%= link_to "3 Star Touring Canoe Syllabus", s3_url( 'downloads/bcu-3-star-touring-canoe-syllabi-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "3 Star Touring Canoe Trainer Notes", s3_url( 'downloads/bcu-3-star-touring-canoe-training-notes-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "3 Star Touring Canoe Assessor Notes", s3_url( 'downloads/bcu-3-star-touring-canoe-assessment-notes-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
          </div>

          <div class="list-group">
            <%= link_to "3 Star Touring Kayak Syllabus", s3_url( 'downloads/bcu-3-star-touring-kayak-syllabi-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "3 Star Touring Kayak Trainer Notes", s3_url( 'downloads/bcu-3-star-touring-kayak-training-notes-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "3 Star Touring Kayak Assessor Notes", s3_url( 'downloads/bcu-3-star-touring-kayak-assessment-notes-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
          </div>

          <div class="list-group">
            <%= link_to "3 Star WW Kayak Syllabus", s3_url( 'downloads/bcu-3-star-white-water-kayak-syllabi-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "3 Star WW Kayak Trainer Notes", s3_url( 'downloads/bcu-3-star-white-water-kayak-training-notes-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "3 Star WW Kayak Assessor Notes", s3_url( 'downloads/bcu-3-star-white-water-kayak-assessment-notes-v3-2-april14.pdf'), :class => 'list-group-item', :target => '_blank' %>
          </div>

          <div class="list-group">
            <%= link_to "3 Star WW OC1 Syllabus", s3_url( 'downloads/bcu-3-star-white-water-oc1-syllabi-v3-1-feb14.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "3 Star WW OC1 Trainer Notes", s3_url( 'downloads/bcu-3-star-white-water-oc1-training-notes-v3-1-feb14.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "3 Star WW OC1 Assessor Notes", s3_url( 'downloads/bcu-3-star-white-water-oc1-assessment-notes-v3-1-feb14.pdf'), :class => 'list-group-item', :target => '_blank' %>
          </div>

          <div class="list-group">
            <%= link_to "4 Star Freestyle Leader Syllabus", s3_url( 'downloads/bcu-4-star-freestyle-canoe-leader-syllabi-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "4 Star Freestyle Leader Trainer Notes", s3_url( 'downloads/bcu-4-star-freestyle-leader-training-notes-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "4 Star Freestyle Leader Assessor Notes", s3_url( 'downloads/bcu-4-star-freestyle-assessment-notes-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
          </div>

          <div class="list-group">
            <%= link_to "4 Star Open Canoe Leader Syllabus", s3_url( 'downloads/bcu-4-star-open-canoe-leader-syllabi-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "4 Star Open Canoe Leader Trainer Notes", s3_url( 'downloads/bcu-4-star-open-canoe-leader-training-notes-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "4 Star Open Canoe Leader Assessor Notes", s3_url( 'downloads/bcu-4-star-open-canoe-leader-assessment-notes-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
          </div>

          <div class="list-group">
            <%= link_to "4 Star Sea Leader Syllabus", s3_url( 'downloads/bcu-4-star-sea-kayak-leader-syllabi-v3-1-feb14.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "4 Star Sea Leader Trainer Notes", s3_url( 'downloads/bcu-4-star-sea-leader-training-notes-v3-1-feb14.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "4 Star Sea Leader Assessor Notes", s3_url( 'downloads/bcu-4-star-sea-leader-assessment-notes-v3-1-feb14.pdf'), :class => 'list-group-item', :target => '_blank' %>
          </div>

          <div class="list-group">
            <%= link_to "4 Star Surf Leader Syllabus", s3_url( 'downloads/bcu-4-star-surf-leader-syllabi-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "4 Star Surf Leader Trainer Notes", s3_url( 'downloads/bcu-4-star-surf-leader-training-notes-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "4 Star Surf Leader Assessor Notes", s3_url( 'downloads/bcu-4-star-surf-leader-assessment-notes-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
          </div>

          <div class="list-group">
            <%= link_to "4 Star Touring Leader Syllabus", s3_url( 'downloads/bcu-4-star-touring-leader-syllabi-v3-1-feb14.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "4 Star Touring Leader Trainer Notes", s3_url( 'downloads/bcu-4-star-touring-leader-training-notes-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "4 Star Touring Leader Assessor Notes", s3_url( 'downloads/bcu-4-star-touring-leader-assessment-notes-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
          </div>

          <div class="list-group">
            <%= link_to "4 Star WW Kayak Leader Syllabus", s3_url( 'downloads/bcu-4-star-white-water-kayak-leader-syllabi-v3-1-mar14.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "4 Star WW Kayak Leader Trainer Notes", s3_url( 'downloads/bcu-4-star-white-water-kayak-leader-training-notes-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "4 Star WW Kayak Leader Assessor Notes", s3_url( 'downloads/bcu-4-star-white-water-kayak-leader-assessment-notes-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
          </div>

          <div class="list-group">
            <%= link_to "4 Star WW OC1 Leader Syllabus", s3_url( 'downloads/bcu-4-star-white-water-oc1-leader-syllabi-v3-1-mar14.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "4 Star WW OC1 Leader Trainer Notes", s3_url( 'downloads/bcu-4-star-white-water-oc1-leader-training-notes-v3-1-feb14.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "4 Star WW OC1 Leader Assessor Notes", s3_url( 'downloads/bcu-4-star-white-water-oc1-leader-assessment-notes-v3-1-feb14.pdf'), :class => 'list-group-item', :target => '_blank' %>
          </div>

          <div class="list-group">
            <%= link_to "5 Star Open Canoe Leader Syllabus", s3_url( 'downloads/bcu-5-star-open-canoe-leader-syllabi-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "5 Star Open Canoe Leader Trainer Notes", s3_url( 'downloads/bcu-5-star-open-canoe-leader-training-notes-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "5 Star Open Canoe Leader Assessor Notes", s3_url( 'downloads/bcu-5-star-open-canoe-leader-assessment-notes-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
          </div>

          <div class="list-group">
            <%= link_to "5 Star Sea Leader Syllabus", s3_url( 'downloads/bcu-5-star-sea-kayak-leader-syllabi-v3-1-feb14.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "5 Star Sea Leader Trainer Notes", s3_url( 'downloads/bcu-5-star-sea-leader-training-notes-V3-1-feb14.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "5 Star Sea Leader Assessor Notes", s3_url( 'downloads/bcu-5-star-sea-leader-assessment-notes-v3-1-feb14.pdf'), :class => 'list-group-item', :target => '_blank' %>
          </div>

          <div class="list-group">
            <%= link_to "5 Star Surf Leader Syllabus", s3_url( 'downloads/bcu-5-star-surf-leader-syllabi-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "5 Star Surf Leader Trainer Notes", s3_url( 'downloads/bcu-5-star-surf-leader-training-notes-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "5 Star Surf Leader Assessor Notes", s3_url( 'downloads/bcu-5-star-surf-leader-assessment-notes-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
          </div>

          <div class="list-group">
            <%= link_to "5 Star WW Kayak Leader Syllabus", s3_url( 'downloads/bcu-5-star-white-water-kayak-leader-syllabi-v3-1-mar14.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "5 Star WW Kayak Leader Trainer Notes", s3_url( 'downloads/bcu-5-star-white-water-kayak-leader-training-notes-v3-1-nov13.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "5 Star WW Kayak Leader Assessor Notes", s3_url( 'downloads/bcu-5-star-white-water-kayak-leader-assessment-notes-v3-0-oct13.pdf'), :class => 'list-group-item', :target => '_blank' %>
          </div>

          <div class="list-group">
            <%= link_to "5 Star WW OC1 Leader Syllabus", s3_url( 'downloads/bcu-5-star-white-water-oc1-leader-syllabi-v3-1-mar14.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "5 Star WW OC1 Leader Trainer Notes", s3_url( 'downloads/bcu-5-star-white-water-oc1-leader-training-notes-v3-1-feb14.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "5 Star WW OC1 Leader Assessor Notes", s3_url( 'downloads/bcu-5-star-white-water-oc1-leader-assessment-notes-v3-1-feb14.pdf'), :class => 'list-group-item', :target => '_blank' %>
          </div>

          <div class="list-group">
            <%= link_to "British Canoeing Star Award Review Update - August 2013", s3_url( 'downloads/bcu-star-award-review-update-august-2013.pdf'), :class => "list-group-item", :target => "_blank" %>
            <%= link_to "British Canoeing Star Award Guidance Notes", s3_url( 'downloads/star-award-guidance-notes-v6-1.pdf'), :class => "list-group-item", :target => "_blank" %>
          </div>

        </span><!-- ./star awards -->

        <span class="section" id="safety-syllabi">
          <h3>Safety Syllabi &amp; Notes</h3>
          <div class="list-group">
            <%= link_to "Foundation Safety & Rescue Training Syllabus", s3_url( 'downloads/bcu-fsrt-syllabus-v2-0.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "Foundation Safety & Rescue Training Course Notes", s3_url( 'downloads/bcu-fsrt-course-notes-v2-0.pdf'), :class => 'list-group-item', :target => '_blank' %>
          </div>

          <div class="list-group">
            <%= link_to "Whitewater Safety & Rescue Syllabus", s3_url( 'downloads/wwsr-syllabus.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "Whitewater Safety & Rescue Trainers Notes", s3_url( 'downloads/wwsr-trainers-notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
          </div>
        </span>

        <span class="section" id="navigation-syllabi">
          <h3>Navigation Syllabi &amp; Notes</h3>
          <div class="list-group">
            <%= link_to "Coastal Navigation & Tidal Planning Syllabus", s3_url( 'downloads/bcu-cntp-syllabus-v2-0-jan2013.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "Coastal Navigation & Tidal Planning Notes", s3_url( 'downloads/bcu-cntp-trainers-notes-v2-0-jan2013.pdf'), :class => 'list-group-item', :target => '_blank' %>
          </div>

          <div class="list-group">
            <%= link_to "Open Water Navigation & Tidal Planning Syllabus", s3_url( 'downloads/bcu-owntp-syllabus-v2-0-jan2013.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "Open Water Navigation & Tidal Planning Notes", s3_url( 'downloads/bcu-owntp-trainers-notes-v2-0-jan2013.pdf'), :class => 'list-group-item', :target => '_blank' %>
          </div>
        </span>

        <span class="section" id="coaching-information">
          <h3>Coaching Information</h3>
          <div class="list-group">
            <%= link_to "Level 1 Pre-Course Information", s3_url( 'downloads/l1-pre-course-information.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "Level 1 Course Guide", s3_url( 'downloads/l1-course-guide.pdf'), :class => 'list-group-item', :target => '_blank' %>
          </div>

          <div class="list-group">
            <%= link_to "Level 2 Pre-Course Information", s3_url( 'downloads/l2-pre-course-information.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "Level 2 Course Guide", s3_url( 'downloads/l2-course-guide.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <div class="list-group-item well">
              <p>There is information on the <a href="http://www.canoe-england.org.uk/coaching/information-for-bcu-ukcc-level-2-trainees/" target="_blank">Canoe England Website</a> specifically designed to help British Canoeing (UKCC) Level 2 Trainee&apos;s complete their Assessment Portfolio.</p>
            </div>
          </div>

          <div class="list-group">
            <%= link_to "Moderate Water Endorsement Course Guide", s3_url( 'downloads/level-2-mw-course-guide-v3-june--09.pdf'), :class => 'list-group-item', :target => '_blank' %>
            <%= link_to "Advanced Water Endorsement Course Guide", s3_url( 'downloads/awe-course-guide-v1-1.pdf'), :class => 'list-group-item', :target => '_blank' %>
          </div>

          <div class="list-group">
            <%= link_to "Level 3 Registration Prerequisites", s3_url( 'downloads/l3-registration-prerequisites.pdf'), :class => 'list-group-item', :target => '_blank' %>
          </div>

          <div class="list-group">
            <%= link_to "Coaching Foundation Modules", s3_url( 'downloads/foundation-modules-summary.pdf'), :class => 'list-group-item', :target => '_blank' %>
          </div>
        </span>
      </section><!-- ./syllabi -->

      <section id="leadership">
        <h2>Star Leadership Information</h2>
        <div class="list-group">
          <div class="list-group-item well">
            <p>In addition to signing up for a 4 or 5 Star Leader Assessment through a registered course provider, all candidates attending a British Canoeing 4 or 5 Star Leader Assessment are required to have preregistered with PNA using the Leadership Registration Form (LR Form). Candidates should allow three weeks to complete the preregistration process prior to the assessment. To preregister please complete the LR Form and return it to PNA, with the required fee. The LR Form will be returned to you by regular mail and must be presented to the assessor prior to your assessment. LR forms are valid for 12 months. If you are not successful, the LR Form will be returned to you, allowing you to assess again at a future date without paying another preregistration fee. <strong>Keep your LR Form in a safe place – it cannot be replaced if lost!</strong> Preregistration is required for both 4 and 5 Star Leader Assessment, and will be the start of the validation process of your qualification.</p>
          </div>
          <%= link_to "Leadership Registration Guidance Notes", s3_url( 'downloads/leadership-registration-guidance-notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
          <%= link_to "Leadership Registration (LR) Form", s3_url( 'downloads/lr-form.pdf'), :class => 'list-group-item', :target => '_blank' %>
          <%= link_to "Coaching & Leadership Prerequisites", s3_url( 'downloads/coaching-leadership-registration-prerequisites.pdf'), :class => 'list-group-item', :target => '_blank' %>
        </div>
      </section><!-- ./literature -->

      <section id="first-aid">
        <h2>First Aid Requirements</h2>
        <p>All active coaches have a responsibility to maintain a current First Aid award, to ensure they can look after paddlers in their care. Coaches sign a declaration, upon registration for our Coaching qualifications, accepting this responsibility. Holding a valid First Aid award is also part of the British Canoeing Coach Update Scheme. Coaches who meet these requirements are recognized by PNA and British Canoeing as being active and up-to-date.</p>
        <p>In order to meet these requirements all British Canoeing Coaches (except British Canoeing / UKCC Level 1) need a recognized First Aid certificate recorded on their Paddlesports North America membership record. All First Aid training needs to be delivered by a recognized provider and include within the syllabus general First Aid and CPR (Cardiopulmonary Resuscitation). For First Aid training courses not included on our recognized list, a copy of the syllabus will need to be submitted to Paddlesports North America for approval, along with details of the course length (actual contact time) and information about the training provider.</p>
        <p>There is often confusion around 4, 6, and 8 hour courses, with many people told these courses are 'one day'. Please ensure you access an appropriate length course. <strong>We check training contact time.</strong></p>
        <p><strong>Please Note:</strong> An up-to-date First Aid and CPR certificate must be provided to PNA every three years. First Aid and CPR certifications are accepted from a number of recognized providers in North America. If any First Aid certificates have been issued outside of the United States or Canada, please contact PNA.</p>
        <p>Any coach who has a First Aid qualification recorded on their membership record, will not need to provide new evidence until their current certificate expires, and we accept that some of these existing qualifications may be less than ideal.</p>
        <p>There are no First Aid and CPR certification requirements prior to taking a UKCC Level 1 Coach training, but a minimum 1 day of training contact is highly recommended prior to coaching independently following a UKCC Level 1 Coach award.</p>
        <p>A minimum 1 day of training contact is required for UKCC Level 2 Coach training.</p>
        <p>A minimum 2 days of training contact is required for 4 Star Leader training, 5 Star Leader training, Moderate Water Endorsement, Advanced Water Endorsement, and UKCC Level 3 Coach training.</p>
        <p><strong>We do not accept First Aid or CPR certifications from online programs.</strong></p>
        <p>First Aid and CPR certification are only accepted from the following organizations:</p>
        <div class="list-group">
          <a href="http://www.redcross.org" target="_blank" class="list-group-item">American Red Cross</a>
          <a href="http://www.heart.org" target="_blank" class="list-group-item">American Heart Association</a>
          <a href="http://www.abem.org" target="_blank" class="list-group-item">Board of Emergency Medicine</a>
          <a href="http://www.redcross.ca" target="_blank" class="list-group-item">Canadian Red Cross</a>
          <a href="http://www.hsi.com/medicfirstaid/programs/" target="_blank" class="list-group-item">Medic First Aid</a>
          <a href="http://www.nsc.org" target="_blank" class="list-group-item">National Safety Council</a>
          <a href="http://www.nsp.org" target="_blank" class="list-group-item">National Ski Patrol</a>
          <a href="http://www.nols.edu/wmi/" target="_blank" class="list-group-item">NOLS Wilderness Medical Institute</a>
          <a href="http://www.padi.org" target="_blank" class="list-group-item">Professional Association of Diving Instructors (PADI)</a>
          <a href="http://www.soloschools.com" target="_blank" class="list-group-item">SOLO</a>
          <a href="http://www.wildmed.com" target="_blank" class="list-group-item">Wilderness Medical Associates</a>
        </div>

      </section><!-- ./first aid -->

      <section id="coaching-registration">
        <h2>Coaching Registration Information</h2>

        <div class="list-group">
          <%= link_to "Notes for candidates wishing to apply to become a British Canoeing Coach", s3_url( 'downloads/coach-registration-guidance-notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
          <%= link_to "Coaching System Diagram", s3_url( 'downloads/coaching-diagram.pdf'), :class => 'list-group-item', :target => '_blank' %>
        </div>

        <div class="list-group">
          <%= link_to "Coaching Registration (CR) Form", s3_url( 'downloads/cr-form.pdf'), :class => 'list-group-item', :target => '_blank' %>
          <%= link_to "Central Registration Information", s3_url( 'downloads/central-registration-ukcc.pdf'), :class => 'list-group-item', :target => '_blank' %>
        </div>

        <div class="list-group">
          <%= link_to "Coaching & Leadership Prerequisites", s3_url( 'downloads/coaching-leadership-registration-prerequisites.pdf'), :class => 'list-group-item', :target => '_blank' %>
          <%= link_to "Level 3 Registration Prerequisites", s3_url( 'downloads/l3-registration-prerequisites.pdf'), :class => 'list-group-item', :target => '_blank' %>
        </div>

        <div class="list-group">
          <%= link_to "Level 2 Alternatives to British Canoeing Foundation Modules", s3_url( 'downloads/coaching-leadership-registration-prerequisites.pdf'), :class => 'list-group-item', :target => '_blank' %>
          <%= link_to "How to complete the L2 Assessment Portfolio", s3_url( 'downloads/l2-guide-to-completing-assessment-portfolio.pdf'), :class => 'list-group-item', :target => '_blank' %>
        </div>

        <div class="list-group">
          <%= link_to "Coach Medical Declaration", s3_url( 'downloads/coach-medical-declaration-form-v1-0.pdf'), :class => 'list-group-item', :target => '_blank' %>
        </div>

        <div class="list-group">
          <a class="list-group-item" href="http://www.canoe-england.org.uk/about/safeguarding-and-protecting-children-and-vulnerable-adults/" target="_blank">Child Protection &amp; CRB</a>
        </div>
      </section>

      <section id="statement-of-physical-competence">
        <h2>Statement of Physical Competence</h2>
        <p><strong>Candidates who sign an application form for a course leading to a British Canoeing qualification have agreed to the following:</strong></p>
        <p><em>I understand that in law I have a &apos;duty of care&apos; to others, and this duty of care is enhanced with regard to my responsibility to those whom I teach because of the training and any qualification which I may receive.</em></p>
        <p><em>I declare that to the best of my knowledge and belief I am physically fit, and do not have any *condition which may impair my ability to be responsible for the overall safety of canoeists in my charge.</em></p>
        <p><em>I do not have *diabetes or *epilepsy, and understand that in the event of any change to my fitness to be responsible for the safety of others, I must declare the fact to the Director of Coaching of British Canoeing </em></p>
        <p><strong>*</strong>The declaring of an impairment does not necessarily debar a person from holding a coaching qualification. British Canoeing does its utmost to ensure that only common sense conditions are placed on those who may not be able to fulfil all the requirements, both stated and implicit, for the holding of a coaching qualification. Please send sae to British Canoeing Office for a copy of the policy statement giving the terms of reference under which qualifications may be awarded or continue to be held.</p>
      </section>

      <section id="coach-paperwork">
        <h2>Coach Paperwork &amp; Forms</h2>

        <div class="list-group">
          <%= link_to "Paperwork Flow", s3_url( 'downloads/paperwork-flow.pdf'), :class => 'list-group-item', :target => '_blank' %>
        </div>

        <div class="list-group">
          <p class="list-group-item">Course Notification</p>
          <div class="list-group-item well">
            <p>Coaches can submit 1-5 Star programs, FSRT/Canoe Safety, Safety Programs, Paddlesport Start, Paddle Power programs, Cross Stream Challenge programs in addition to Coach Education programs. Only official British Canoeing training or assessments will be listed.</p>
            <p>All programs above 2 Star require Course Notification. This includes all safety and coach education programs.</p>
            <p>For Course Notification E-mail the following to <a href="mailto:<%= t('pna.contact.email') %>"><%= t('pna.contact.email') %></a>:</p>
            <ul>
              <li>Program Title</li>
              <li>Program Date</li>
              <li>Coach Name</li>
              <li>Provider Number</li>
              <li>If the program requires more than one coach include the name and provider number of second coach.</li>
              <li>Venue</li>
            </ul>
            <p>If you want the program listed on the calendar page also email <a href="mailto:<%= t('pna.contact.email') %>"><%= t('pna.contact.email') %></a> and include the following information:</p>
            <ul>
              <li>Center Name or Coach Name to be listed and the website to link to.</li>
              <li>State where program will be offered.</li>
            </ul>
          </div>
        </div>

        <div class="list-group">
          <%= link_to "Course Report", s3_url( 'downloads/course-report.pdf'), :class => 'list-group-item', :target => '_blank' %>
          <%= link_to "Program Fee Form", s3_url( 'downloads/program-fee-form.pdf'), :class => 'list-group-item', :target => '_blank' %>
          <%= link_to "Course Schedule", s3_url( 'downloads/course-schedule.pdf'), :class => 'list-group-item', :target => '_blank' %>
        </div>

        <div class="list-group">
          <%= link_to "British Canoeing Environment Definitions", s3_url( 'downloads/bcu-environmental-definitions.pdf'), :class => 'list-group-item', :target => '_blank' %>
          <!-- <a class="list-group-item" target="_blank" href="#">
            British Canoeing Safety Training Course Administration
          </a>
           -->
          <%= link_to "Star Award Guidance Notes", s3_url( 'downloads/star-award-guidance-notes.pdf'), :class => 'list-group-item', :target => '_blank' %>
          <%= link_to "Star Award Trainer and Assesor Guide", s3_url( 'downloads/star-award-trainer-and-assessor-guide.pdf'), :class => 'list-group-item', :target => '_blank' %>
          <%= link_to "Staffing Requirements", s3_url( 'downloads/staffing-levels-&-ratios.pdf'), :class => 'list-group-item', :target => '_blank' %>
        </div>

        <div class="list-group">
          <%= link_to "UK and North American Course Provider Form", s3_url( 'downloads/na-provider-form.pdf'), :class => 'list-group-item', :target => '_blank' %>
        </div>

        <div class="list-group">
          <%= link_to "BCUAB Coach Educator Requirements", s3_url( 'downloads/bcuab-coach-educator-requirements-v2-2x.pdf'), :class => 'list-group-item', :target => '_blank' %>
          <%= link_to "Become a Training Provider", s3_url( 'downloads/become-a-training-provider.pdf'), :class => 'list-group-item', :target => '_blank' %>
          <%= link_to "Become a Whitewater Safety & Rescue Provider", s3_url( 'downloads/becoming-a-wwsr-provider.pdf'), :class => 'list-group-item', :target => '_blank' %>
          <%= link_to "Foundation Module Administration", s3_url( 'downloads/foundation-module-administration.pdf'), :class => 'list-group-item', :target => '_blank' %>
          <%= link_to "1-3 Star Crib Cards", s3_url( 'downloads/1-3-star-crib-cards.pdf'), :class => 'list-group-item', :target => '_blank' %>
          <%= link_to "Coach Log Book", s3_url( 'downloads/bcu-coaches-logbook.pdf'), :class => 'list-group-item', :target => '_blank' %>
          <%= link_to "British Canoeing Courses which Automatically Update a Coach", s3_url( 'downloads/courses-that-update-coaches.pdf'), :class => 'list-group-item', :target => '_blank' %>
          <%= link_to "Coach Self Assessment Form", s3_url( 'downloads/coach-self-assessment-form.pdf'), :class => 'list-group-item', :target => '_blank' %>
          <%= link_to "Injury Prevention Booklet", s3_url( 'downloads/injury-prevention.pdf'), :class => 'list-group-item', :target => '_blank' %>
          <%= link_to "The Canoeist and the Swimming Pool", s3_url( 'downloads/swimming-pool.pdf'), :class => 'list-group-item', :target => '_blank' %>
          <%= link_to "Injury Prevention Booklet", s3_url( 'downloads/injury-prevention.pdf'), :class => 'list-group-item', :target => '_blank' %>
        </div>

        <div class="list-group">
          <%= link_to "AB Enquiries and Appeals Procedure", s3_url( 'downloads/ab-enquiries-and-appeals-procedures.pdf'), :class => 'list-group-item', :target => '_blank' %>
          <%= link_to "AB Equal Opportunities Policy", s3_url( 'downloads/ab-equal-opportunities-policy.pdf'), :class => 'list-group-item', :target => '_blank' %>
          <%= link_to "AB Malpractice Reporting Procedures", s3_url( 'downloads/ab-malpractice-reporting-procedures.pdf'), :class => 'list-group-item', :target => '_blank' %>
          <%= link_to "AB Reasonable Adjustments Policy", s3_url( 'downloads/ab-reasonable-adjustments-policy.pdf'), :class => 'list-group-item', :target => '_blank' %>
          <%= link_to "Special Considerations Policy", s3_url( 'downloads/ab-special-consideration-policy.pdf'), :class => 'list-group-item', :target => '_blank' %>
          <%= link_to "Appeals Procedure", s3_url( 'downloads/appeals-procedure.pdf'), :class => 'list-group-item', :target => '_blank' %>
        </div>

      </section>
    </div><!-- ./content -->

    <div class="col-md-2 com-md-offset-1" data-hook="sidenav">
      <!-- right side nav -->
      <div class="sidenav hidden-sm hidden-xs scrollspy" data-spy="affix" data-offset-top="286" data-offset-bottom="360">
        <ul class="nav">
          <!-- <li><a href="#awards">Awards</a></li> -->
          <li>
            <a href="#fees">Fee Structure</a>
            <ul class="nav">
              <li><a href="#program-fees">Program Fees</a></li>
              <li><a href="#membership-fees">Membership Fees</a></li>
            </ul>
          </li>
          <li>
            <a href="#syllabi">Syllabi</a>
            <ul class="nav">
              <li><a href="#paddlepower">Youth Awards</a></li>
              <li><a href="#star-syllabi">Star Awards</a></li>
              <li><a href="#safety-syllabi">Safety Syllabi</a></li>
              <li><a href="#navigation-syllabi">Navigation Syllabi</a></li>
              <li><a href="#coaching-information">Coaching Information</a></li>
            </ul>
          </li>
          <li><a href="#leadership">Leadership Information</a></li>
          <li><a href="#first-aid">First Aid Requirements</a></li>
          <li><a href="#coaching-registration">Coaching Registration</a></li>
          <li><a href="#statement-of-physical-competence">Statement of Physical Competence</a></li>
          <li><a href="#coach-paperwork">Coach Paperwork &amp; Forms</a></li>
        </ul><!-- ./nav -->
      </div><!-- ./scrollspy -->
    </div><!-- ./sidenav -->
  </div>
</div>
