<%= render "shared/jumbotron", :image => 'hero-coaches.jpg', :text => ['PNA', 'Documents'] %>

<div class="container body-copy">
  <div class="row">
    <div class="col-md-2 leftrail" data-hook="sidebar">

      <p><strong>Send all paperwork — including registration forms and fees — to PNA at:</strong></p>
      <%= render 'shared/pna_contact_info' %>
      <p>Please make checks payable to <em>Paddlesports North America</em>.</p>
    </div><!-- ./sidebar -->

    <div class="col-md-7" data-hook="content">
      <!-- Main Content Area -->

      <section id="fees">
        <h2>2017 Fee Structure (valid until 12/31/2017)</h2>
        <p>Currently, Paddlesports North America will only accept payment via a personal or business check payable in U.S. dollars and drawn on a U.S. bank, or via PayPal's credit card payment or transfer options. Please contact us at: <a href="mailto:info@paddlesportsnorthamerica.org">info@paddlesportsnorthamerica.org</a> if you would like to receive a PayPal invoice for membership and/or program services. We are investigating other payment mechanisms, and hope to make additional options available in the future.</p>
        <p><strong>Make checks payable to:</strong> Paddlesports North America. Please do not send cash through the mail!</p>

        <span class="section" id="program-fees">
          <h3>Program Fees</h3>
          <table class="table">
            <thead>
              <tr>
                 <th><%= @program_label %></th><!-- Col 1 -->
                 <th><%= @member_label %></th><!-- Col 2 -->
                 <th><%= @nonmember_label %></th><!-- Col 3 -->
              </tr>
            </thead>
            <tbody>
              <tr>
                 <td data-title="<%= @program_label %>" >Paddlepower Start</td><!-- Col 1 -->
                 <td data-title="<%= @member_label %>" align="right">$5.00</td><!-- Col 2 -->
                 <td data-title="<%= @nonmember_label %>" align="right">$5.00</td><!-- Col 3 -->
              </tr>
              <tr>
                 <td data-title="<%= @program_label %>">1 Star</td><!-- Col 1 -->
                 <td data-title="<%= @member_label %>" align="right">$10.00</td><!-- Col 2 -->
                 <td data-title="<%= @nonmember_label %>" align="right">$10.00</td><!-- Col 3 -->
              </tr>
              <tr>
                 <td data-title="<%= @program_label %>">2 Star</td><!-- Col 1 -->
                 <td data-title="<%= @member_label %>" align="right">$20.00</td><!-- Col 2 -->
                 <td data-title="<%= @nonmember_label %>" align="right">$30.00</td><!-- Col 3 -->
              </tr>
              <tr>
                 <td data-title="<%= @program_label %>">3 Star (Sea, White Water, Canoe, Surf)</td><!-- Col 1 -->
                 <td data-title="<%= @member_label %>" align="right">$20.00</td><!-- Col 2 -->
                 <td data-title="<%= @nonmember_label %>" align="right">$40.00</td><!-- Col 3 -->
              </tr>
              <tr>
                  <td data-title="<%= @program_label %>">4 or 5 Star Leader Training - Recorded completion of an official 4 or 5 Star Leader Training course is a prerequisite for attendance at a 4 or 5 Star Leader
                    Assessment. If you wish to have your training recorded you will need to pay the appropriate fee. You may choose not to have your training course completion
                    recorded by PNA if you do not intend to assess for the award. However, it is not possible to have a training recorded retroactively, and an unrecorded training
                    cannot be used as the prerequisite for an assessment. There is no PNA fee if you do not intend to pursue assessment.
                  </td><!-- Col 1 -->
                 <td data-title="<%= @member_label %>" align="right">$20.00</td><!-- Col 2 -->
                 <td data-title="<%= @nonmember_label %>"align="right">$40.00</td><!-- Col 3 -->
              </tr>

              <tr>
                 <td data-title="<%= @program_label %>">4 Star Leader Assessment–register via LR Form (Sea, White Water, Canoe, Surf)</td><!-- Col 1 -->
                 <td data-title="<%= @member_label %>" align="right">$60.00</td><!-- Col 2 -->
                 <td data-title="<%= @nonmember_label %>" align="right">NA*</td><!-- Col 3 -->
              </tr>
              <tr>
                 <td data-title="<%= @program_label %>">5 Star Leader Assessment–register via LR Form (Sea, White Water, Canoe, Surf)</td><!-- Col 1 -->
                 <td data-title="<%= @member_label %>" align="right">$60.00</td><!-- Col 2 -->
                 <td data-title="<%= @nonmember_label %>" align="right">NA*</td><!-- Col 3 -->
              </tr>
              <tr>
                 <td data-title="<%= @program_label %>">Foundation Safety and Rescue Training (FSRT)</td><!-- Col 1 -->
                 <td data-title="<%= @member_label %>" align="right">$15.00</td><!-- Col 2 -->
                 <td data-title="<%= @nonmember_label %>" align="right">$30.00</td><!-- Col 3 -->
              </tr>
              <tr>
                 <td data-title="<%= @program_label %>">White Water Safety and Rescue Training (WSRT)</td><!-- Col 1 -->
                 <td data-title="<%= @member_label %>" align="right">$15.00</td><!-- Col 2 -->
                 <td data-title="<%= @nonmember_label %>" align="right">$30.00</td><!-- Col 3 -->
              </tr>
              <tr>
                 <td data-title="<%= @program_label %>">Coastal Navigation and Tidal Planning</td><!-- Col 1 -->
                 <td data-title="<%= @member_label %>" align="right">$20.00</td><!-- Col 2 -->
                 <td data-title="<%= @nonmember_label %>" align="right">$40.00</td><!-- Col 3 -->
              </tr>
              <tr>
                 <td data-title="<%= @program_label %>">Open Water Navigation and Tidal Planning</td><!-- Col 1 -->
                 <td data-title="<%= @member_label %>" align="right">$20.00</td><!-- Col 2 -->
                 <td data-title="<%= @nonmember_label %>" align="right">$40.00</td><!-- Col 3 -->
              </tr>
              <tr>
                 <td data-title="<%= @program_label %>">Coach Registration: UKCC Level 1 Training and Assessment</td><!-- Col 1 -->
                 <td data-title="<%= @member_label %>" align="right">$80.00</td><!-- Col 2 -->
                 <td data-title="<%= @nonmember_label %>" align="right">NA*</td><!-- Col 3 -->
              </tr>
              <tr>
                 <td data-title="<%= @program_label %>">Coach Registration: UKCC Level 2 Training and Assessment</td><!-- Col 1 -->
                 <td data-title="<%= @member_label %>" align="right">$160.00</td><!-- Col 2 -->
                 <td data-title="<%= @nonmember_label %>" align="right">NA*</td><!-- Col 3 -->
              </tr>
              <tr>
                 <td data-title="<%= @program_label %>" class="indent">Level 2 Moderate Water Endorsement</td><!-- Col 1 -->
                 <td data-title="<%= @member_label %>" align="right">$35.00</td><!-- Col 2 -->
                 <td data-title="<%= @nonmember_label %>" align="right">NA*</td><!-- Col 3 -->
              </tr>
              <tr>
                 <td data-title="<%= @program_label %>" class="indent">Level 2 Advanced Water Endorsement</td><!-- Col 1 -->
                 <td data-title="<%= @member_label %>" align="right">$35.00</td><!-- Col 2 -->
                 <td data-title="<%= @nonmember_label %>" align="right">NA*</td><!-- Col 3 -->
              </tr>
              <tr>
                 <td data-title="<%= @program_label %>" class="indent">SUP Discipline Support Module</td><!-- Col 1 -->
                 <td data-title="<%= @member_label %>" align="right">$35.00</td><!-- Col 2 -->
                 <td data-title="<%= @nonmember_label %>" align="right">NA*</td><!-- Col 3 -->
              </tr>
              <tr>
                 <td data-title="<%= @program_label %>">Coach Registration: UKCC Level 3 Core Training</td><!-- Col 1 -->
                 <td data-title="<%= @member_label %>" align="right">$35.00</td><!-- Col 2 -->
                 <td data-title="<%= @nonmember_label %>" align="right">NA*</td><!-- Col 3 -->
              </tr>
              <tr>
                 <td data-title="<%= @program_label %>">Coach Registration: UKCC Level 3 Discipline Specific Training &amp; Assessment</td><!-- Col 1 -->
                 <td data-title="<%= @member_label %>" align="right">$80.00</td><!-- Col 2 -->
                 <td data-title="<%= @nonmember_label %>" align="right">NA*</td><!-- Col 3 -->
              </tr>
              <tr>
                 <td data-title="<%= @program_label %>">Coach Update</td><!-- Col 1 -->
                 <td data-title="<%= @member_label %>" align="right">$35.00</td><!-- Col 2 -->
                 <td data-title="<%= @nonmember_label %>" align="right">NA*</td><!-- Col 3 -->
              </tr>
              <tr>
                 <td data-title="<%= @program_label %>">Foundation and Intermediate Coaching Modules</td><!-- Col 1 -->
                 <td data-title="<%= @member_label %>" align="right">$10.00</td><!-- Col 2 -->
                 <td data-title="<%= @nonmember_label %>" align="right">$20.00</td><!-- Col 3 -->
              </tr>
            </tbody>
          </table>
          * Membership is required for leader assessment and most coaching courses.
        </span>

        <span class="section" id="membership-fees">
          <%= render 'membershipfees' %>
        </span>
      </section>
      <!-- <section id="awards">

      </section> --><!-- ./awards -->
      <p>Most files below are in PDF format Version 8. All of these forms are updated periodically. Please use the most up to date forms. All paperwork needs to be printed at a high resolution on white paper. <a href="/contact">Contact us</a> if you need any of the forms/booklets mailed instead of downloaded.</p>
      <p>Many of these documents are formatted for A4 paper, for best results on standard US Letter, set your printer to fit the contents to the page.</p>

      <%= render 'documents' %>

    </div><!-- ./content -->

    <div class="col-md-2 com-md-offset-1" data-hook="sidenav">
      <!-- right side nav -->
      <div class="sidenav hidden-sm hidden-xs scrollspy" data-spy="affix" data-offset-top="286" data-offset-bottom="360">
        <ul class="nav">
          <!-- <li><a href="#awards">Awards</a></li> -->
          <li>
            <a href="#fees">Fee Structure</a>
            <ul class="nav">
              <li><a href="#program-fees">Program Fees</a></li>
              <li><a href="#membership-fees">Membership Fees</a></li>
            </ul>
          </li>
          <li>
            <a href="#syllabi">Syllabi</a>
            <ul class="nav">
              <li><a href="#star-syllabi">Star Awards</a></li>
              <li><a href="#navigation-syllabi">Navigation Syllabi</a></li>
              <li><a href="#safety-syllabi">Safety Syllabi</a></li>
              <li><a href="#sup-syllabi">SUP Syllabi</a></li>
            </ul>
          </li>
          <li>
            <a href="#coaching-info">Coaching</a>
            <ul class="nav">
              <li><a href="#coaching-information">Coaching Information</a></li>
              <li><a href="#coaching-endorsements">Endorsements</a></li>
              <li><a href="#foundation-modules">Foundation Modules</a></li>
              <li><a href="#intermediate-modules">Intermediate Modules</a></li>
              <li><a href="#remits-ratios">Remits &amp; Ratios</a></li>
            </ul>
          </li>
          <li><a href="#leadership">Leadership Information</a></li>
          <li><a href="#apl">Accredited Prior Learning</a></li>
          <li><a href="#first-aid">First Aid Requirements</a></li>
          <li><a href="#statement-of-physical-competence">Statement of Physical Competence</a></li>
          <li><a href="#coach-paperwork">Coach Paperwork, Forms  &amp; Provider Guidance</a></li>
          <li><a href="#insurance">Insurance Paperwork &amp; Forms</a></li>
        </ul><!-- ./nav -->
      </div><!-- ./scrollspy -->
    </div><!-- ./sidenav -->
  </div>
</div>
