<div class="jumbotron home carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "hero-coach-smile.jpg" %>
      <div class="carousel-caption right">
        <div class="caption-wrap">
          <div class="caption-cell">
             <h2>
              <span class="highlight">Be Safe.</span>
              <br />
              <span class="highlight">Have Fun.</span>
              <br />
              <span class="highlight">Learn.</span>
              <br />
            </h2>
            <p class="hidden-xs">
              <span class="highlight">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
              <br />
              <span class="highlight">Nunc sollicitudin pulvinar turpis, non pharetra est ornare non.</span>
              <br />
              <span class="highlight">Praesent vel ante arcu. Aenean non malesuada nisl.</span>
              <br />
            </p>
            <p><a class="highlight" href="#">Come Join the Fun!</a>
            <br />
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="item">
      <%= image_tag "hero-werner.jpg" %>
      <div class="carousel-caption left">
        <div class="caption-wrap">
          <div class="caption-cell">
            <h2>
              <span class="highlight">Thank You</span>
              <br />
              <span class="highlight">Sponsors</span>
              <br />
            </h2>
            <p class="hidden-xs">
              <span class="highlight">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
              <br />
              <span class="highlight">Nunc sollicitudin pulvinar turpis, non pharetra est ornare non.</span>
              <br />
              <span class="highlight">Praesent vel ante arcu. Aenean non malesuada nisl.</span>
              <br />
            </p>
            <p><a class="highlight" href="#">Learn about our Founding Sponsors!</a>
            <br />
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="item">
      <%= image_tag "hero-mist.jpg" %>
      <div class="carousel-caption">
        <div class="caption-wrap">
          <div class="caption-cell">
             <h2>
              <span class="highlight">Something</span>
              <br />
              <span class="highlight">Else</span>
              <br />
            </h2>
            <p class="hidden-xs">
              <span class="highlight">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
              <br />
              <span class="highlight">Nunc sollicitudin pulvinar turpis, non pharetra est ornare non.</span>
              <br />
              <span class="highlight">Praesent vel ante arcu. Aenean non malesuada nisl.</span>
              <br />
            </p>
            <p><a class="highlight" href="#">What should we put here?</a>
            <br />
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<div class="well">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-9 col-sm-10 col-xs-8">
        <h2 class="">Paddlesports North America promotes paddler education, safety and stewardship of the environment throughout North America.</h2>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-2 col-xs-4">
        <%= image_tag 'logo-color-medalion.png', :alt => 'Paddlesports North America', :class => "img-inline-responsive" %>
        <%= image_tag 'logo-bcu-color.png', :alt => 'British Canoe Union', :class => "img-inline-responsive" %>
      </div>
    </div>
  </div>
</div>

<div class="container body-copy">
  <div class="row">
    <div class="col-md-4">
      <h3>For Paddlers</h3>
      <%= image_tag( 'for_paddlers.jpg', :class => "img-responsive home-promo" ) %>
      <p>Morbi sollicitudin, arcu non pellentesque vulputate, lectus tellus pulvinar erat, quis dictum sem lectus in diam. Nam dapibus faucibus dolor bibendum aliquam. Mauris sollicitudin tincidunt enim vitae sagittis. Morbi non tellus bibendum, feugiat dui a, rhoncus quam.</p>
      <p class="pull-right"><a href="#">Learn More</a></p>
    </div>
    <div class="clearfix visible-sm visible-xs"></div>
    <div class="col-md-4">
      <h3>For Coaches</h3>
      <%= image_tag( 'for_coaches.jpg', :class => "img-responsive home-promo" ) %>
      <p>Nulla sollicitudin, velit eu sollicitudin adipiscing, mauris ligula vulputate mauris, a porttitor est justo vel ligula. Aenean sed auctor orci. Nunc id tortor nisl. Pellentesque vitae lorem egestas, luctus tellus sit amet, pulvinar odio. Morbi sollicitudin, arcu non pellentesque vulputate, lectus tellus pulvinar erat.</p>
      <a class="pull-right" href="#">Learn More</a>
    </div>
    <div class="clearfix visible-sm visible-xs"></div>
    <div class="col-md-4">
      <h3>For Life</h3>
      <%= image_tag( 'for_life.jpg', :class => "img-responsive home-promo" ) %>
      <p>Quis dictum sem lectus in diam. Nam dapibus faucibus dolor bibendum aliquam. Morbi sollicitudin, arcu non pellentesque vulputate, lectus tellus pulvinar erat, quis dictum sem lectus in diam. Nam dapibus faucibus dolor bibendum aliquam.</p>
      <a class="pull-right" href="#">Learn More</a>
    </div>
  </div>
</div>
