<div id="home-hero-slider" class="jumbotron home carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators visible-lg visible-xl">
    <li data-target="#home-hero-slider" data-slide-to="0" class="active"></li>
    <li data-target="#home-hero-slider" data-slide-to="1"></li>
    <li data-target="#home-hero-slider" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "hero-coach-smile.jpg" %>
      <div class="carousel-caption right">
        <div class="caption-wrap">
          <div class="caption-cell">
             <h2>
              <span class="highlight">Be safe</span>
              <br />
              <span class="highlight">Have fun</span>
              <br />
              <span class="highlight">Learn</span>
              <br />
            </h2>
            <p class="hidden-xs hidden-sm">
              <span class="highlight">Our mission is to make BCU training and</span>
              <br />
              <span class="highlight">education programs accessible to all.</span>
              <br />
            </p>
            <p class="hero-link"><a class="highlight" href="/membership">Join Paddlesports North America!</a>
            <br />
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="item">
      <%= image_tag "hero-mist.jpg" %>
      <div class="carousel-caption left">
        <div class="caption-wrap">
          <div class="caption-cell">
            <h2>
              <span class="highlight">PNA</span>
              <br />
              <span class="highlight">Sponsors</span>
              <br />
            </h2>
            <p class="hidden-xs hidden-sm">
              <span class="highlight">Thanks to our sponsors for their generous support.</span>
              <br />
            </p>
            <p class="hero-link"><a class="highlight" href="/about#sponsors">Learn about our founding sponsors!</a>
            <br />
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="item">
      <%= image_tag "hero-wawa.jpg" %>
      <div class="carousel-caption right">
        <div class="caption-wrap">
          <div class="caption-cell">
             <h2>
              <span class="highlight">World&#45;class</span>
              <br />
              <span class="highlight">coaching</span>
              <br />
            </h2>
            <p class="hidden-xs hidden-sm">
              <span class="highlight">BCU trainings and assessments</span>
              <br />
              <span class="highlight">for paddlers and coaches in all paddlesport disciplines.</span>
              <br />
            </p>
            <p class="hero-link"><a class="highlight" href="/about">Learn more about the BCU and PNA!</a>
            <br />
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#home-hero-slider" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#home-hero-slider" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<div class="well">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-9 col-sm-10 col-xs-8">
        <h2 class="">Paddlesports North America promotes paddler education, safety and stewardship of the environment throughout North America.</h2>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-2 col-xs-4">
        <%= image_tag 'logo-color-medalion.png', :alt => 'Paddlesports North America', :class => "img-inline-responsive" %>
        <%= image_tag 'logo-bcu-color.png', :alt => 'British Canoe Union', :class => "img-inline-responsive" %>
      </div>
    </div>
  </div>
</div>

<div class="container body-copy">
  <div class="row">
    <div class="col-md-4">
      <h3>Latest News</h3>
      <div class="media">
        <a class="pull-left" href="#">
          <span class="glyphicon glyphicon-info-sign"></span>
        </a>
        <div class="media-body">
          <h5 class="media-heading">New contact information</h5>
          <p>Send all paperwork—including registration forms and fees—to PNA at:</p>
          <address>
            <strong>Paddlesports North America</strong><br />
            1228 ½ N. Washington<br />
            Lansing MI 48906<br />
          </address>
          <p>Please make checks payable to <em>Paddlesports North America</em>.</p>
          <p>If you have questions, contact us at info@paddlesportsnorthamerica.org or call us at 1.515.999.5PNA (5762)</p>
        </div>
      </div>
      <div class="media">
        <a class="pull-left" href="#">
          <span class="glyphicon glyphicon-info-sign"></span>
        </a>
        <div class="media-body">
          <h5 class="media-heading">New nonprofit status</h5>
          <p>The PNA Board is excited to announce that Paddlesports North America (PNA) is incorporated in New York State as a not-for-profit organization. This means we can accept tax-deductable donations from individuals and corporations and seek grants to help accomplish our goals. If you or your company wish to make a donation, contact PNA at the address above.</p>
        </div>
      </div>
    </div>
    <div class="clearfix visible-sm visible-xs"></div>
    <div class="col-md-4">
      <h3>Coach development</h3>
      <%= image_tag( 'for_coaches.jpg', :class => "img-responsive home-promo" ) %>
      <p>BCU coaching certifications are recognized worldwide for their rigor and consistency, and are the gold standard by which other programs are measured. Follow this link for a list of upcoming coach trainings and assessments; a list of active BCU-certified coaches in North America; and all necessary forms and the current fee structure.</p>
      <a class="pull-right" href="#">Learn More</a>
    </div>
    <div class="clearfix visible-sm visible-xs"></div>
    <div class="col-md-4">
      <h3>Paddler development</h3>
      <%= image_tag( 'for_life.jpg', :class => "img-responsive home-promo" ) %>
      <p>Our mission is to make BCU training and education programs accessible to all in order to promote paddler development, emphasizing safety and stewardship of the environment. We administer the internationally recognized BCU Star Award system in the United States, Canada and Mexico, helping paddlers reach their paddling goals and connect with coaches and assessors who offer trainings and assessments.</p>
      <a class="pull-right" href="#">Learn More</a>
    </div>
  </div>
</div>
