
  <div class="jumbotron" id="top">
    <div class="container">
      <p>Paddlesports North America promotes paddler education, safety and stewardship of the environment throughout North America.</p>

      <form action="http://paddlesportsnorthamerica.us3.list-manage.com/subscribe/post?u=9ad1ead2036a1daef49b384b7&amp;id=6ddcbe8248" method="post" name="mc-embedded-subscribe-form" class="form-inline" target="_blank">
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_9ad1ead2036a1daef49b384b7_6ddcbe8248" value=""></div>
        <div class="form-group">
          <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required>
        </div>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-success">
        <label for="EMAIL">Sign up for our newsletter to recieve the latest announcements from PNA.</label>
      </form>

      <div class="row sponsors">
        <div class="col-md-2 col-md-offset-1">
          <a href="http://www.valleyseakayaks.com/" target="_blank" title="Valley Sea Kayaks"><%= image_tag 'sponsor-valley-white-145.png' %></a>
        </div>

        <div class="col-md-2">
          <a href="http://wernerpaddles.com" target="_blank" title="Werner Paddles"><%= image_tag 'sponsor-werner-white-145.png' %></a>
        </div>

        <div class="col-md-2">
          <a href="http://www.phseakayaks.com/" target="_blank" title="PH Custom Sea Kayaks"><%= image_tag 'sponsor-ph-white-145.png' %></a>
        </div>

        <div class="col-md-2">
          <a href="http://www.atlantickayaktours.com/" target="_blank" title="Atlantic Kayak Tours"><%= image_tag 'sponsor-akt-white-145.png' %></a>
        </div>

        <div class="col-md-2">
          <a href="http://www.seakayakinguk.com/" target="_blank" title="Sea Kayaking UK"><%= image_tag 'sponsor-skuk-white-145.png' %></a>
        </div>
      </div>
    </div>
  </div>

  <div class="body-copy">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>Paddlesports North America Coach Educator Opportunities!</h2>
          <p>Paddlesports North America, in conjunction with British Canoeing has identified a need for Level 1 and 2 Coach Educators in North America. With that in mind, PNA is opening applications for no more than 6, Level 1 and 2 Coach Educators. Applications for Tutor and Assessor roles will be considered from active and updated coaches with a minimum of a Level 3 Qualification or Moderate Water Endorsement.</p>
          <p>The strongest applications will be selected considering the following:</p>
          <ul>
            <li>Depth and bredth of coaching qualifications / experience</li>
            <li>Tutoring or teaching qualification/experience</li>
            <li>Assessing qualifications/experience</li>
            <li>Knowledge and understanding of the award syllabus</li>
            <li>Fit to Paddlesports North America workforce demands</li>
          </ul>
          <p>Application packs are available on request from <a href="mailto:fiona.fuller@britishcanoeing.org.uk" target="_blank">fiona.fuller@britishcanoeing.org.uk</a>. The closing date for submission of applications is July 24, 2015.</p>
          <p>Successful applicants will be invited to progress to an orientation on October 6-7, 2015 in Boothbay, ME, after which they will be required to work through an individualized action plan supporting delivery on courses and completing a portfolio of evidence tracking their development.</p>
          <p>For complete information on the Level 1 and 2 Coach Educator descriptions and requirements refer to: <a href="http://paddlesportsnorthamerica.s3.amazonaws.com/downloads/bcuab-coach-educator-requirements-v2-2x.pdf" target="_blank">BCUAB Coach Educator Requirements</a>. The need for Coach Educators will be reviewed periodically and a call for future applicants made in 2016 if identified as needed.</p>
          <br><br>
          <!-- <div class="well">
          <h2>Welcome to Paddlesports North America!</h2>
          <p class="lead">Our mission is to make British Canoeing training and education programs accessible to all in order to promote paddler development, emphasizing safety and stewardship of the environment. We aim to expand knowledge and awareness of all paddlesport-related activities, and encourage lifetime participation in the sport through delivery of a long-term paddler development program.</p>
          </div> -->
          
          
          <h2>Announcement from the Board</h2>

          <p>The PNA Board is excited to announce that we have finalized our relationship with <abbr title="Formerly known as the British Canoe Union">British Canoeing</abbr> as an Affiliate organization and administrator of Personal Performance programming, and as the Delivery Center for Coaching Qualifications in the United States, Canada and Mexico. With the establishment of the PNA, we will:</p>

          <ul>
            <li>Develop, encourage, train and support coaches to deliver British Canoeing programs on this continent, as well as maintain records of achievement. </li>
            <li>Oversee the delivery of British Canoeing programs and assure high standards are maintained.</li>
            <li>Seek corporate and individual charitable donations to further our mission.</li>
          </ul>

          <p>We are also excited to announce that Paddlesports North America (PNA) is has been classified as an educational public charity under section 501(c)3 of the U.S. Internal Revenue Code.</p>

          <h3>What should you do?</h3>

          <p><strong>Effective September 21, 2014, you should:</strong></p>

          <ul>
            <li>Renew your BCU membership through the PNA. Current rates and forms are available on the PNA website.</li>
            <li>Send all paperwork—including registration forms and fees—to PNA at <%= t('pna.contact.addr_1') %>, <%= t('pna.contact.addr_2') %></li>
          </ul>

          <p>Scott Fairty will be our Interim Administrator and he can be reached at <%= t('pna.contact.email') %> or <%= t('pna.contact.phone.plain') %>.  Please contact Scott for all courses requiring course notification.</p>

          <h2>We need you</h2>

          <p>PNA is a membership organization, and we welcome volunteers to help us as we grow our organization and serve the needs of our members. If you would like to participate in any of the following committees, please contact us at:</p>

          <ul>
            <li>Fundraising</li>
            <li>Membership</li>
            <li>Events</li>
            <li>Sponsorships</li>
            <li>Outreach</li>
            <li>PNA Board of Directors</li>
          </ul>

          <p>More specifically we are looking to fill the position of PNA Administrator.  For a detailed job description please email us at: <a href="mailto:<%= t('pna.contact.email') %>"><%= t('pna.contact.email') %></a></p>

          <h2>Thank you!</h2>

          <p>We are deeply indebted to Bill Lozano, who volunteered his time as the administrator of the BCUNA for the past 13 years. Bill tirelessly handled the paperwork and kept the database for everyone who participated in BCU programming in North America during this period. He worked with several BCU coaches to establish PNA, and helped to broker agreements with British Canoeing to establish PNA as an Affiliate Organization and Delivery Center. He continues to serve as our liaison to British Canoeing. </p>


          <p>Thanks, too, to Mike Devlin, British Canoeing Director of Coaching, for being the chief liaison between PNA and British Canoeing.  Mike has been our guide, helping us navigate through the process of creating the very first Affiliate Organization outside of the United Kingdom.</p>

          <p>We would also like to thank our founding sponsors for their generous support, which covered the expenses incurred in establishing PNA: <a href="http://www.seacliffkayakers.com/" target="_blank">John Carmody of Sea Cliff Kayakers</a>, <a href="http://wernerpaddles.com" target="_blank">Werner Paddles</a>, <a href="http://www.phseakayaks.com/" target="_blank">P&amp;H/Pyranha</a>, <a href="http://seakayakinguk.com" target="_blank">Sea Kayaking UK</a>, <a href="http://www.valleyseakayaks.com/" target="_blank">Valley Sea Kayaks</a> and <a href="http://www.atlantickayaktours.com/" target="_blank">Atlantic Kayak Tours</a>.</p>
        </div>
      </div>
  </div>
</div>

