  <div class="top-bar">
    <div class="container">
      <h1 class="logo"><span class="seo">Paddlesports North America</span></h1>
    </div>
  </div>

  <div class="jumbotron">
    <div class="container">
      <p>Paddlesports North America promotes paddler education, safety and stewardship of the environment throughout North America.</p>

      <form action="http://paddlesportsnorthamerica.us3.list-manage.com/subscribe/post?u=9ad1ead2036a1daef49b384b7&amp;id=6ddcbe8248" method="post" name="mc-embedded-subscribe-form" class="form-inline" target="_blank">
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_9ad1ead2036a1daef49b384b7_6ddcbe8248" value=""></div>
        <div class="form-group">
          <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required>
        </div>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-success">
        <label for="EMAIL">Sign up for our newsletter to recieve the latest announcements from PNA.</label>
      </form>

      <div class="row sponsors">
        <div class="col-md-2 col-md-offset-2">
          <a href="http://www.wernerpaddles.com" target="_blank" title="Werner Paddles"><%= image_tag 'werner-white.png' %></a>
        </div>

        <div class="col-md-2">
          <a href="http://www.phseakayaks.com/" target="_blank" title="PH Custom Sea Kayaks"><%= image_tag 'ph-white.png' %></a>
        </div>

        <div class="col-md-2">
          <a href="http://www.atlantickayaktours.com/" target="_blank" title="Atlantic Kayak Tours"><%= image_tag 'akt-white.png' %></a>
        </div>

        <div class="col-md-2">
          <a href="http://www.valleyseakayaks.com/" target="_blank" title="Valley Sea Kayaks"><%= image_tag 'valley-white.png' %></a>
        </div>
      </div>

    </div>
  </div>

  <div class="body-copy">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <div>
            <%= image_tag 'logo-color-medalion.png' %>
          </div>
          <div>
            <address>
              <strong>Paddlesports North America, <abbr title="Incorporated">Inc.</abbr></strong><br>
               P.O. Box 477<br>
               Keeseville, NY 12944<p></p>
            </address>

          </div>

        </div>
        <div class="col-md-8">
          <h2>Welcome to Paddlesports North America!</h2>
          <p>The PNA Board is excited to announce that Paddlesports North America (PNA) is newly incorporated in New York State as a not-for-profit organization, and on the cusp of finalizing its relationship with the <a href="http://www.bcu.org.uk" target="_blank">British Canoe Union (BCU)</a> as the delivery center for BCU programming in the United States, Canada and Mexico.</p>
          <p>Paddlesports North America’s goal is to make BCU training and education programs accessible to all in order to promote paddler development, emphasizing safety and stewardship of the environment. We aim to expand knowledge and awareness of all paddlesport-related activities, and encourage lifetime participation in the sport through delivery of a long term paddler development program.</p>
          <p>With the establishment of the PNA, it will be easier to develop, encourage, train and support coaches to deliver BCU programming on this continent, as well as maintain records of achievement. </p>
          <p>This website will be up shortly, and will contain all information needed by paddlers and coaches to progress through the BCU’s paddlesport system, which is recognized as the gold standard in paddlesport training and education. In the meantime, there will be no interruption in the processing of memberships, awards and certifications. Until our status with the BCU is finalized, Bill Lozano, the current BCUNA administrator, will continue handling all paperwork through the BCUNA office in New York. Contact the BCUNA office by visiting <a href="http://www.bcuna.com" target="_blank">bcuna.com</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="subfooter">
    <div class="container">
      <span class="pull-right">
              <a href="mailto:info@paddlesportsnorthamerica.org">info@paddlesportsnorthamerica.org</a></small>
            </span>
      <span class="pull-left">&copy; 2014 Paddlesports North America</span>
    </div>
  </div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48709426-1', 'paddlesportsnorthamerica.org');
  ga('send', 'pageview');

</script>
