
  <div class="jumbotron">
    <div class="container">
      <p>Paddlesports North America promotes paddler education, safety and stewardship of the environment throughout North America.</p>

      <form action="http://paddlesportsnorthamerica.us3.list-manage.com/subscribe/post?u=9ad1ead2036a1daef49b384b7&amp;id=6ddcbe8248" method="post" name="mc-embedded-subscribe-form" class="form-inline" target="_blank">
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_9ad1ead2036a1daef49b384b7_6ddcbe8248" value=""></div>
        <div class="form-group">
          <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required>
        </div>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-success">
        <label for="EMAIL">Sign up for our newsletter to recieve the latest announcements from PNA.</label>
      </form>

      <div class="row sponsors">
        <div class="col-md-2 col-md-offset-1">
          <a href="http://www.valleyseakayaks.com/" target="_blank" title="Valley Sea Kayaks"><%= image_tag 'sponsor-valley-white-145.png' %></a>
        </div>

        <div class="col-md-2">
          <a href="http://wernerpaddles.com" target="_blank" title="Werner Paddles"><%= image_tag 'sponsor-werner-white-145.png' %></a>
        </div>

        <div class="col-md-2">
          <a href="http://www.phseakayaks.com/" target="_blank" title="PH Custom Sea Kayaks"><%= image_tag 'sponsor-ph-white-145.png' %></a>
        </div>

        <div class="col-md-2">
          <a href="http://www.atlantickayaktours.com/" target="_blank" title="Atlantic Kayak Tours"><%= image_tag 'sponsor-akt-white-145.png' %></a>
        </div>

        <div class="col-md-2">
          <a href="http://www.seakayakinguk.com/" target="_blank" title="Sea Kayaking UK"><%= image_tag 'sponsor-skuk-white-145.png' %></a>
        </div>
      </div>
    </div>
  </div>

  <div class="body-copy">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>Welcome to Paddlesports North America!</h2>
          <p class="lead">Our mission is to make BCU training and education programs accessible to all in order to promote paddler development, emphasizing safety and stewardship of the environment. We aim to expand knowledge and awareness of all paddlesport-related activities, and encourage lifetime participation in the sport through delivery of a long-term paddler development program.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-md-offset-1">
          <h3>Where to send all paperwork</h3>
          <p>Send all registration forms and fees to <a href="http://bcuna.com" target="_blank">BCUNA</a>:</p>
          <address>
            320 W. Saugerties Rd.<br />
            Saugerties, New York 12477<br />
          </address>
          <p>Please make checks payable to <em>Sea Kayaking International</em></p>
          <p>All Paddlesports North America inquiries go to <a href="mailto:info@paddlesportsnorthamerica.org">info@paddlesportsnorthamerica.org</a> or call us at <a href="tel:+15159995762">(515) 999-5PNA &mdash; <em itemprop="telephone">(515) 999-5762</em></a></p>

          <!-- <h3>New contact information</h3>
          <p>Send all paperwork—including registration forms and fees—to PNA at:</p>
          <address>
            <strong>Paddlesports North America</strong><br />
            1228 ½ N. Washington<br />
            Lansing MI 48906<br />
          </address>
          <p>Please make checks payable to <em>Paddlesports North America</em>.</p>
          <p>If you have questions, contact us at <a href="mailto:info@paddlesportsnorthamerica.org">info@paddlesportsnorthamerica.org</a> or call us at <a href="tel:+15159995762">1.515.999.5PNA (5762)</a></p> -->
        </div>
        <div class="col-md-5">
          <h3>New nonprofit status</h3>
          <p>The PNA Board is excited to announce that Paddlesports North America (PNA) is incorporated in New York State as a not-for-profit organization. This means we can accept tax-deductable donations from individuals and corporations and seek grants to help accomplish our goals. If you or your company wish to make a donation, contact PNA at <a href="mailto:info@paddlesportsnorthamerica.org">info@paddlesportsnorthamerica.org</a> or call us at <a href="tel:+15159995762">(515) 999-5PNA &mdash; <em itemprop="telephone">(515) 999-5762</em></a>.</p>
        </div>
      </div>
    </div>
  </div>

