
  <div class="jumbotron">
    <div class="container">
      <p>Paddlesports North America promotes paddler education, safety and stewardship of the environment throughout North America.</p>

      <form action="http://paddlesportsnorthamerica.us3.list-manage.com/subscribe/post?u=9ad1ead2036a1daef49b384b7&amp;id=6ddcbe8248" method="post" name="mc-embedded-subscribe-form" class="form-inline" target="_blank">
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_9ad1ead2036a1daef49b384b7_6ddcbe8248" value=""></div>
        <div class="form-group">
          <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required>
        </div>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-success">
        <label for="EMAIL">Sign up for our newsletter to recieve the latest announcements from PNA.</label>
      </form>

      <div class="row sponsors">
        <div class="col-md-2 col-md-offset-1">
          <a href="http://www.valleyseakayaks.com/" target="_blank" title="Valley Sea Kayaks"><%= image_tag 'sponsor-valley-white-145.png' %></a>
        </div>

        <div class="col-md-2">
          <a href="http://www.wernerpaddles.com" target="_blank" title="Werner Paddles"><%= image_tag 'sponsor-werner-white-145.png' %></a>
        </div>

        <div class="col-md-2">
          <a href="http://www.phseakayaks.com/" target="_blank" title="PH Custom Sea Kayaks"><%= image_tag 'sponsor-ph-white-145.png' %></a>
        </div>

        <div class="col-md-2">
          <a href="http://www.atlantickayaktours.com/" target="_blank" title="Atlantic Kayak Tours"><%= image_tag 'sponsor-akt-white-145.png' %></a>
        </div>

        <div class="col-md-2">
          <a href="http://www.seakayakinguk.com/" target="_blank" title="Sea Kayaking UK"><%= image_tag 'sponsor-skuk-white-145.png' %></a>
        </div>
      </div>
    </div>
  </div>

  <div class="body-copy">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>Welcome to Paddlesports North America!</h2>
          <p class="lead">Our mission is to make BCU training and education programs accessible to all in order to promote paddler development, emphasizing safety and stewardship of the environment. We aim to expand knowledge and awareness of all paddlesport-related activities, and encourage lifetime participation in the sport through delivery of a long-term paddler development program.</p>

          <h3>What&apos;s new?</h3>
          <p>The PNA Board is excited to announce that Paddlesports North America (PNA) is incorporated in New York State as a not-for-profit organization. We are on the cusp of finalizing our relationship with the British Canoe Union as an affiliate of the BCU and the administrator of BCU programming in the United States, Canada and Mexico. With the establishment of the PNA, we can:</p>
          <ul>
            <li>Develop, encourage, train and support coaches to deliver BCU programming on this continent, as well as maintain records of achievement.</li>
            <li>Oversee the delivery of programs and assure the continued high standards we have come to expect as members of BCUNA.</li>
            <li>Seek corporate and individual charitable donations to further our mission.</li>
          </ul>

          <h3>What&apos;s in it for you?</h3>
          <p>With the launch of the PNA, you will have the following initial benefits:</p>
          <ul>
            <li>Discounts on fees for BCU paddler and coaching awards.</li>
            <li>A website -- www.paddlesportsnorthamerica.org -- containing all information needed by paddlers and coaches to progress through the BCU&apos;s paddlesport system, which is recognized as the gold standard in paddlesport training and education.</li>
            <li>A database that keeps track of PNA members&apos; awards and certifications, as well as membership status.</li>
            <li>A seamless transition in the processing of memberships, awards and certifications.</li>
          </ul>
          <p>We&apos;re working on additional member benefits, which we&apos;ll announce in subsequent newsletters and on the PNA website.</p>

          <h3>What should you do?</h3>
          <p>If you are offering BCU programs, notify us so that we can publicize them on our website. If you are a BCU coach, you can be listed on our new website. Send your name and qualifications to <a href="mailto:info@paddlesportsnorthamerica.org" target="_blank">info@paddlesportsnorthamerica.org</a>.</p>

          <h3>Help Wanted: PNA Administrator</h3>
          <p>This is an essential position for our new organization. Our new administrator will be instrumental in ensuring PNA's success.</p>
          <ul>
            <li>Start date: negotiable.</li>
            <li>Hours: Approximately 10/week.</li>
            <li>Duties include processing paperwork and fees for coach and paddler trainings and assessments, maintaining membership database, referring questions to regional coaching officers, and helping to create an operation manual.</li>
            <li>This is a volunteer, work-at-home position. If you are interested, contact us at <a href="mailto:info@paddlesportsnorthamerica.org" target="_blank">info@paddlesportsnorthamerica.org</a>.</li>
          </ul>

          <h3>We need you</h3>
          <p>PNA is a membership organization, and we welcome volunteers to help us as we grow our organization and serve the needs of our members. If you would like to participate in any of the following committees, please contact <a href="mailto:info@paddlesportsnorthamerica.org" target="_blank">info@paddlesportsnorthamerica.org</a></p>
          <ul>
            <li>Fundraising</li>
            <li>Membership</li>
            <li>Events</li>
            <li>Sponsorships</li>
            <li>Outreach</li>
            <li>PNA Board of Directors</li>
          </ul>

          <h3>Thank you!</h3>
          <p>We are deeply indebted to Bill Lozano, who volunteered his time as the administrator of the BCUNA for the past 13 years. Bill tirelessly handled the paperwork and kept the database for everyone who participated in BCU programming in North America during this period, and he is continuing to work with us through this transition. Thanks, too, to Mike Devlin, BCU Director of Coaching, for being the chief liaison between PNA and the BCU.</p>
          <p>We would also like to thank our founding sponsors for their generous support, which covered the expenses incurred in establishing the PNA: <a href="http://wernerpaddles.com" target="_blank">Werner Paddles</a>, <a href="http://www.phseakayaks.com/" target="_blank">P&H/Pyranha</a>, <a href="http://www.valleyseakayaks.com/" target="_blank">Valley Sea Kayaks</a>, <a href="http://www.seakayakinguk.com/" target="_blank">Sea Kayaking UK</a>, and <a href="http://www.atlantickayaktours.com/" target="_blank">Atlantic Kayak Tours</a>.</p>
        </div>
      </div>
    </div>
  </div>

