
  <div class="jumbotron" id="top">
    <div class="container">
      <p>Paddlesports North America promotes paddler education, safety and stewardship of the environment throughout North America.</p>

      <form action="http://paddlesportsnorthamerica.us3.list-manage.com/subscribe/post?u=9ad1ead2036a1daef49b384b7&amp;id=6ddcbe8248" method="post" name="mc-embedded-subscribe-form" class="form-inline" target="_blank">
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_9ad1ead2036a1daef49b384b7_6ddcbe8248" value=""></div>
        <div class="form-group">
          <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required>
        </div>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-success">
        <label for="EMAIL">Sign up for our newsletter to recieve the latest announcements from PNA.</label>
      </form>

      <div class="row sponsors">
        <div class="col-md-2 col-md-offset-1">
          <a href="http://www.valleyseakayaks.com/" target="_blank" title="Valley Sea Kayaks"><%= image_tag 'sponsor-valley-white-145.png' %></a>
        </div>

        <div class="col-md-2">
          <a href="http://wernerpaddles.com" target="_blank" title="Werner Paddles"><%= image_tag 'sponsor-werner-white-145.png' %></a>
        </div>

        <div class="col-md-2">
          <a href="http://www.phseakayaks.com/" target="_blank" title="PH Custom Sea Kayaks"><%= image_tag 'sponsor-ph-white-145.png' %></a>
        </div>

        <div class="col-md-2">
          <a href="http://www.atlantickayaktours.com/" target="_blank" title="Atlantic Kayak Tours"><%= image_tag 'sponsor-akt-white-145.png' %></a>
        </div>

        <div class="col-md-2">
          <a href="http://www.seakayakinguk.com/" target="_blank" title="Sea Kayaking UK"><%= image_tag 'sponsor-skuk-white-145.png' %></a>
        </div>
      </div>
    </div>
  </div>

  <div class="body-copy">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 announcements">

          <div>
            <h1>Latest News</h1>
          </div>

          <div>
            <h2>British Canoeing&#39s Paddlesport Leader Award</h2>
            <p>The Paddlesport Leader Award is aimed at paddlers taking on formal leadership responsibilities in benign conditions (sheltered water environments) and aims to support Leaders to run safe, quality and enjoyable trips based on their group&#39s needs and aspirations.</p>
            <p>Paddlers wishing to complete a Paddlesport Leader Award Assessment are required to register with Paddlesports North America before they can attend the course.</p>
            <p>It is advisable to do this at least 4-weeks prior to the assessment date. At the point of registration, evidence of the following is required:</p>
             <ul>
               <li>Valid (within 3 years) Paddlesports North America recognized 1-day First Aid award</li>
               <li>Current Paddlesports North America Membership</li>
               <li>Registration Fee: $60</li>
              </ul>
            <p>You must be aged 16 or over at the time of assessment.</p>
	    <p>For more information please see:</p>
	     <ul>
	       <li><a href="https://www.britishcanoeing.org.uk/news/2017/british-canoeing-launch-new-paddlesport-leader-award-1/" target="_blank">Paddlesport Leader Award News</a></li>
	       <li><a href="https://www.britishcanoeing.org.uk/courses/paddlesport-leader-award-1/#preparation-for-assessment" target="_blank">Preparing for a Paddlesport Leader Award Assessment</a></li>
	     </ul>
	    <p>To register for assessment use <a href="http://paddlesportsnorthamerica.s3.amazonaws.com/downloads/LR-Form.pdf" target="_blank">PNA&#39s Leadership Registration (LR) Form</a></p>
	  </div>

	  <div>
	    <h3>Call for Paddlesport Leader Award Provider Applications</h3>
	    <p>To deliver these courses, PNA needs to develop an appropriate workforce of capable providers. If you are interested in becoming a provider for this new leadership award, please refer to documents describing the role, requirements and the course description to become a provider, https://www.britishcanoeing.org.uk/courses/paddlesport-leader-award-1/#downloads for further information on requirements to become a provider. If you feel this is something you are interested in pursuing, there will be an orientation event in January 2018. Please download the application, complete it and return it to the <a href = "mailto:coaching@paddlesportsnorthamerica.org">PNA Coaching Group</a> no later than September 5, 2017. You will be notified of acceptance or denial by September 19, 2017. If you have any questions, contact your Regional Representative or the Coaching Group.</p>
	    <p>Download the <a href="http://paddlesportsnorthamerica.s3.amazonaws.com/downloads/PNA-Paddlesport-Leader-Provider-Application.docx">Paddlesport Leader Provider Application</a></p>
	    <p>Return completed forms to: <a href="mailto:coaching@paddlesportsnorthamerica.org">coaching@paddlesportsnorthamerica.org</a></p>
          </div>

          <div>
	    <h2>British Canoeing Coach Award (New Level 2)</h2>
	    <p>British Canoeing will launch its Coach Award in January 2018, replacing the Level 2 coach award, as well as rebrand the Level 1, 3 and 4 coaching awards. The restructured Coach Award has been designed to ensure current research is reflected as well as provide the learner with direct entry opportunities that are relevant to their discipline. British Canoeing has listened to the feedback received and reviews and, as such, we are replacing the portfolio and workbook requirements with interactive eLearning to support the learning and development of the coach.</p>
	    <p>The Coach Award will also encompass the existing Moderate Water and Advanced Water Endorsements, as well as competition coach pathways, providing consistency and standardization across all disciplines at this level.</p>
	    <p><a href="https://www.britishcanoeing.org.uk/courses/new-for-2018/#new-coaches" target="_blank">British Canoeing Announcement</a></p>
	  </div>

          <div>
	    <h3>New Coach Level 2 Tutor/Assessor Application</h3>
	    <p><a href="https://goo.gl/forms/d58RZ53Xgfis8vdk2" target="_blank">Tutor/Assessor Application</a></p>
	    <p>PNA will begin the process of provider orientation training for the new award early in 2018. Details of a PNA Orientation/Moderation event to be held in January 2018 are still being developed and should be available by September 1, 2017. Deadline for applications is September 5, 2017 and invitations to attend the orientation will be extended by September 19, 2017. Consideration will be based on current experience, as well as the intention to develop a mentor/mentee relationship allowing less experienced providers to work alongside more experienced ones to gain valuable guidance while assuring a robust workforce. While we are aware that not everyone&#39s needs or wants will be satisfied by this process, the need for new providers will be reviewed annually and future orientations will be based on continued support of a growing workforce. Questions about prerequisites should be addressed to the PNA Administrator. All other questions should be addressed to the <a href="mailto:coaching@paddlesportsnorthamerica.org" target="_blank">PNA Coaching Group</a></p>
	  </div>

	  <div>
            <h2>PNA annual reports</h2>
            <p>Annual reports discuss our goals for the future and our financial status.</p>
             <ul>
               <li><a href="https://s3.amazonaws.com/paddlesportsnorthamerica/downloads/2016-PNA-Annual-Report.pdf" target="_blank">2016 Annual Report</a></li>
               <li><a href="https://s3.amazonaws.com/paddlesportsnorthamerica/downloads/2015-PNA-Annual-Report.pdf" target="_blank">2015 Annual Report</a></li>
             </ul>
          </div>

          <div>
            <h2>Your PNA board:</h2>
              <ul>
                <li>Kelly Blades - Vice President</li>
                <li>Sharon Bloyd-Peshkin - Secretary</li>
                <li>Scott Fairty – PNA Administrator</li>
                <li>Shawna Franklin</li>
                <li>Todd A Johnstone-Wright</li>
                <li>Steve Maynard</li>
                <li>John Ozard – Treasurer</li>
                <li>Harry Tobin - President</li>
              </ul>
          </div>

          <div>
            <h2>We need you</h2>

            <p>PNA is a membership organization, and we welcome volunteers to help us as we grow our organization and serve the needs of our members. If you would like to participate in any of the following committees, please contact us at: <a href="mailto:info@paddlesportsnorthamerica.org">info@paddlesportsnorthamerica.org</a></p>

            <ul>
              <li>Fundraising</li>
              <li>Membership</li>
              <li>Events</li>
              <li>Sponsorships</li>
              <li>Outreach</li>
              <li>PNA Board of Directors</li>
            </ul>

            <h2>Thank you!</h2>

            <p>We are deeply indebted to Bill Lozano who volunteered his time as the administrator of the BCUNA for the past 13 years. Bill tirelessly handled the paperwork and kept the database for everyone who participated in BCU programming in North America during this period. He worked with several BCU coaches to establish PNA, and helped to broker agreements with British Canoeing to establish PNA as an Affiliate Organization and Delivery Center. He continues to serve as our liaison to British Canoeing. </p>


            <p>Thanks, too, to Mike Devlin, British Canoeing Director of Coaching, for being the chief liaison between PNA and British Canoeing.  Mike has been our guide, helping us navigate through the process of creating the very first Affiliate Organization outside of the United Kingdom.</p>

            <p>We would also like to thank our founding sponsors for their generous support, which covered the expenses incurred in establishing PNA: <a href="http://www.seacliffkayakers.com/" target="_blank">John Carmody of Sea Cliff Kayakers</a>, <a href="http://wernerpaddles.com" target="_blank">Werner Paddles</a>, <a href="http://www.phseakayaks.com/" target="_blank">P&amp;H/Pyranha</a>, <a href="http://seakayakinguk.com" target="_blank">Sea Kayaking UK</a>, <a href="http://www.valleyseakayaks.com/" target="_blank">Valley Sea Kayaks</a> and <a href="http://www.atlantickayaktours.com/" target="_blank">Atlantic Kayak Tours</a>.</p>
          </div>
        </div>
      </div>
  </div>
</div>
