
<div class="row coach">
  <div class="col-md-4">
    <!-- <address> -->
      <h5><%= "#{coach.use_middle_name? ? coach.middle_name : coach.first_name } #{coach.last_name}" %></h5>
      <%= "#{coach.addresses.first.city}, #{coach.addresses.first.state.nil? ? coach.addresses.first.country.name : coach.addresses.first.state.name}" %>
      
    <!-- </address> -->
  </div>
  <div class="col-md-4">
    <!-- <h5 class="hidden-xs hidden-sm">BC Coaching Credentials</h5> -->
    <em><%= coach.awards.where( :award_type => 'coaching' ).map { |q| q.name }.join(', ') %></em>
    
  </div>
  <div class="col-md-4">
    <% unless coach.public_email_addresses.empty? %>
        <% coach.public_email_addresses.each do |e| %>
          <%= link_to e.address, "mailto:#{e.address}" %><br />
        <% end %>
      <% end %>
      
      <% unless coach.centers.empty? %>
        <% coach.centers.each do |center| %>
          <% if center.url %>
            <%= link_to domain_name(center.url), "http://#{domain_name(center.url)}", :target => "_blank"  %><br />
          <% end %>
        <% end %>
      <% end %>
      
      <% unless coach.public_phone_numbers.empty? %>
        <% coach.public_phone_numbers.where( :public => true ).each do |p| %>
          <%= p.to_s %>
        <% end %>
      <% end %>
  </div>
</div>