<%= render 'shared/jumbotron', :image => 'hero-paddlers.jpg', :text => ['PNA', 'Coaches'] %>
<div class="container body-copy coaches">
  <div class="row">
    <div class="col-md-7 col-md-offset-2">
      <section>
      <h2>Understanding British Canoeing<br />Coaching Awards</h2>
      <p>The old (BCU) and new (UKCC) coaching systems are significantly different, making direct comparison highly problematic. Put simply, the new system demands a much higher and broader level of personal and coaching skill and maintains more stringent quality control. The old BCU coaching system was the accepted international gold standard, and is still copied as the basis of most other systems of paddlesport coach/instructor certification. The BCU (UKCC) system moves coach education and certification to an even more elevated level. Drawing from and contributing to developments in all areas of sports science, as well as input from top level coaches, paddlers and athletes, the BCU (UKCC) system is the new gold standard. It was introduced in the UK in late 2007, and was introduced in North America in 2008.</p>
      <p>In the BCU (UKCC) system coaches can progress from Levels 1 through 4. 'UKCC' precedes the award level displayed on this page for these coaches. Under the old coaching system, coaches could progress from Levels 1 through 5. 'BCU' precedes the award level displayed on this page for these coaches. British Canoeing continues to recognize coaches with BCU coaching qualifications, i.e. coaches that are not endorsed by UKCC.</p>
      <p>Another common area of confusion is between the Coaching and Star award systems. Star awards are tests of personal and leadership skills, and are not coaching awards. However, they are prerequisites for the coaching awards (e.g. you need a 2 Star award before you can train to be a Level 1 Coach, a 3 Star award before you can train to be a Level 2 Coach, etc.). For example, there is no such thing as a '3 Star Coach'. The correct term would either be a 3 Star paddler or a Level 3 Coach.</p>
    </section>
    
    </div>
  </div>
  <div class="row">
    <div class="col-md-2" data-hook="sidebar">
      <!-- Left Sidebar -->

    </div><!-- ./sidebar -->
    
    <div class="col-md-7" data-hook="content">
    
    <% @regions.each do |r| %>
      <section id="<%= r.name.parameterize %>">
        <h2><%= r.name %></h2>
        <% if region_coaches_by_local(r,@coaches).any? %>
        <% region_coaches_by_local(r,@coaches).each do |local,coaches| %>
          <section id="<%= local.name.parameterize %>" class="state">
            <h4><%= local.name %></h4>
            <%= render :partial => 'coach', :collection => coaches %>
          </section>
        <% end %>
        <% else %>
          <p class="lead">There are no coaches registered in this region</p>
        <% end %>
      </section>
    <% end %>
    </div>
    
    <div class="col-md-2 col-md-offset-1" data-hook="sidenav">
      <!-- right side nav -->
      <div class="sidenav hidden-sm hidden-xs scrollspy" data-spy="affix" data-offset-top="276" data-offset-bottom="360">
        <ul class="nav">
          <% @regions.each do |r| %>
          <% if region_coaches_by_local(r,@coaches).any? %>
            <li><a href="#<%= r.name.parameterize %>"><%= r.name %></a>
              <ul class="nav">
                <% r.locations.each do |l| %>
                  <% if @coaches.flatten.include? l %>
                  <li><a href="#<%= l.name.parameterize %>"><%= l.name %></a></li>
                  <% end %>
                <% end %>
              </ul>
            </li>
          <% end %>
          <% end %>
        </ul>
      </div>
      <!-- end right side nav -->
    </div>      
  </div>
</div>  