<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h4>Keep in Touch</h4>
        <p>Sign up for the PNA newsletter to stay up to date on important news and events.</p>
        <form>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Email">
            <span class="input-group-btn">
              <button class="btn btn-success" type="button"><span class="glyphicon glyphicon-ok"></span></button>
            </span>
          </div><!-- /input-group -->
        </form>

        <ul class="list-inline social">
          <li><%= link_to image_tag( 'icn_fb.gif'), '#' %></li>
          <li><%= link_to image_tag( 'icn_gplus.gif'), '#' %></li>
        </ul>
      </div>

      <div class="col-md-6 sponsor-footer">
        <h4>Founding Sponsors</h4>
        <div class="row">
          <div class="col-md-4">
            <a href="http://www.wernerpaddles.com" target="_blank" title="Werner Paddles"><%= image_tag 'sponsor-werner-white-145.png' %></a>
          </div>

          <div class="col-md-4">
            <a href="http://www.phseakayaks.com/" target="_blank" title="PH Custom Sea Kayaks"><%= image_tag 'sponsor-ph-white-145.png' %></a>
          </div>

          <div class="col-md-4">
            <a href="http://www.atlantickayaktours.com/" target="_blank" title="Atlantic Kayak Tours"><%= image_tag 'sponsor-akt-white-145.png' %></a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4  col-md-offset-2">
            <a href="http://www.seakayakinguk.com/" target="_blank" title="Sea Kayaking UK"><%= image_tag 'sponsor-skuk-white-145.png' %></a>
          </div>

          <div class="col-md-4">
            <a href="http://www.valleyseakayaks.com/" target="_blank" title="Valley Sea Kayaks"><%= image_tag 'sponsor-valley-white-145.png' %></a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <h4>Contact Info</h4>
        <address>
          <strong>Paddlesports North America, <abbr title="Incorporated">Inc.</abbr></strong><br />
           1228 1/2 North Washington<br />
           Lansing Michigan, 48906</p>
        </address>
        <address>
          <a href="mailto:info@paddlesportsnorhamerica.org">info@paddlesportsnorthamerica.org</a>
        </address>
      </div>
    </div>
  </div>
</footer>

<div class="subfooter">
  <div class="container">
    &copy; 2014 Paddlesports North America
  </div>
</div>
