<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h4>Keep in Touch</h4>
        <p>Sign up for the PNA newsletter to stay up to date on important news and events.</p>
        <form>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Email">
            <span class="input-group-btn">
              <button class="btn btn-success" type="button"><span class="glyphicon glyphicon-ok"></span></button>
            </span>
          </div><!-- /input-group -->
        </form>

        <ul class="list-inline social">
          <li><%= link_to image_tag( 'icn_gplus.gif'), "https://plus.google.com/107055844073909929988" , :rel => 'publisher', :target => "_blank" %></li>
          <li><%= link_to image_tag( 'icn_fb.gif'), 'https://www.facebook.com/paddlesportsnorthamerica', :target => "_blank" %></li>
        </ul>

        
      </div>

      <div class="col-md-6 sponsor-footer">
        <h4>Founding Sponsors</h4>
        <div class="row">
          <div class="col-md-4">
            <a href="http://wernerpaddles.com" target="_blank" title="Werner Paddles"><%= image_tag 'sponsor-werner-white-145.png' %></a>
          </div>

          <div class="col-md-4">
            <a href="http://www.phseakayaks.com/" target="_blank" title="PH Custom Sea Kayaks"><%= image_tag 'sponsor-ph-white-145.png' %></a>
          </div>

          <div class="col-md-4">
            <a href="http://www.atlantickayaktours.com/" target="_blank" title="Atlantic Kayak Tours"><%= image_tag 'sponsor-akt-white-145.png' %></a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4  col-md-offset-2">
            <a href="http://www.seakayakinguk.com/" target="_blank" title="Sea Kayaking UK"><%= image_tag 'sponsor-skuk-white-145.png' %></a>
          </div>

          <div class="col-md-4">
            <a href="http://www.valleyseakayaks.com/" target="_blank" title="Valley Sea Kayaks"><%= image_tag 'sponsor-valley-white-145.png' %></a>
          </div>
        </div>

        <div class="row bc-footer">
          <div class="col-md-4">
            <a class="float-right" href="https://www.britishcanoeing.org.uk/" target="_blank"><%= image_tag 'bc_logo_white.png', :alt => 'British Canoeing', :title => 'British Canoeing', :class => 'img-responsive' %></a>
          </div>

          <div class="col-md-8">
            <p>Paddlesports North America is a British Canoeing Affiliated Organization and Coaching Delivery Center</p>
          </div>
        </div>
      </div>

      <div class="col-md-3" itemscope itemtype="http://schema.org/Organization">

        <h4>Contact Info</h4>
        <!-- <address itemprop="address">
          <strong itemprop="name">Paddlesports North America, <abbr title="Incorporated">Inc.</abbr></strong><br />
           1228 1/2 North Washington<br />
           Lansing Michigan, 48906<br />
        </address> -->
        <a href="tel:<%= t('pna.contact.phone.compact') %>"><%= t('pna.contact.phone.pna') %> &mdash; <em itemprop="telephone"><%= t('pna.contact.phone.plain') %></em></a>
        <address>
          <a href="mailto:<%= t('pna.contact.email') %>" itemprop="email"><%= t('pna.contact.email') %></a>
        </address>
      </div>
    </div>
  </div>
</footer>

<div class="subfooter">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <p>&copy; 2014 Paddlesports North America, Inc.</p>
        <p class="small">Paddlesports North America (PNA) is a not-for-profit, educational, public charity formed to deliver British Canoeing programs throughout North America. PNA is exempt from Federal income tax under section 501(c)3 of the Internal Revenue Code.</p>
      </div>
      <div class="col-md-2 text-right">
        <a href="http://www.guidestar.org/organizations/80-0962350/paddlesports-north-america.aspx" target="_blank"><img src="http://widgets.guidestar.org/gximage2?o=9334115&l=v4" /></a>
      </div>
    </div>
  </div>
</div>
